<section class="spee-bee-trail-section" id="enroll">
	<div class="text-center container mb-4">
		<h4 class="spe-bee-redange">
			<%= icon "star" %> Leksi's 2nd Harlem Spelling Bee <%= icon "star" %>
		</h4>
		<% if controller?("spelling_bee") &&
					(action?("teachers") || action?("competition"))
		%>
			<%= render "spelling_bee/enroll_msg",
								 h1: "Enroll Your School Today",
								 lead: [
									 "Complete the form below to get started with enrollment. ",
									 "Please include your school name, the grade(s)",
									 "participating, and how many classrooms will be competing."
								 ].join
			%>
		<% else %>
			<%= render "spelling_bee/enroll_msg",
								 h1: "Sponsor the Bee Today",
								 lead: [
									 "Complete the form below to get started with sponsorships. ",
									 "Please include your business name and how you can ",
									 "contribute."
								 ].join			%>
		<% end %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<%= render "contact_us_mailer/form" %>
			</div>
		</div>
	</div>
</section>
