<% title "Harlem Spelling Bee - Learn about our History, Mission, and the Competition itself." %>
<% description "Promoting literacy and education in Harlem, we have high hopes for our students and exciting Bee competitions." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools about history education vocabulary vocab literacy english language study dictionary words games notebook] %>

<% set_meta_tags og: {
  title: "Promoting literacy and education in Harlem, we have high hopes for our students and exciting Bee competitions.",
	description: "Designed with academic vocabulary research and gamification, Leksi helps students master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem school students will become spelling bee champs?",
  title: "Promoting literacy and education in Harlem, we have high hopes for our students and exciting Bee competitions.",
  description: "It just takes one word to lead a lifetime of learning and growth."
} %>

<div class="container">
  <h1 class="display-4 spe-bee-redange mb-5">
    About the Bee
  </h1>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The Power of Words</h2>
      <p>
        A good education can change a child’s future, and that education starts
        with the words they know. A student’s vocabulary size by grade 12 can
        affect the likelihood that they will graduate from college and the
        income they will earn in life. By giving them a chance to expand their
        vocabulary, the Harlem Spelling Bee can help students secure their
        future.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto img-thumbnail"
           src="<%= asset_path('spelling-bee/leksi-about-the-bee-inaugural-winners.png') %>"
           alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 push-md-5">
      <h2 class="featurette-heading">Giving Students a Chance to Shine</h2>
      <p>
        The Harlem Spelling Bee fosters a fun and competitive learning
        environment that helps build each student’s reading and writing skills.
        This environment provides the contestants a chance to show off
        their academic ability and to be recognized for their hard work.
      </p>
      <p>
        Every student who is enrolled has the chance to become a champion.
      </p>
    </div>
    <div class="col-md-5 pull-md-7">
      <img class="featurette-image img-fluid mx-auto img-thumbnail"
           src="<%= asset_path('spelling-bee/leksi-our-mission.jpg') %>"
           alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Building the Harlem Community</h2>
      <p>
        One of the core beliefs of the Harlem Spelling Bee is the promotion of
        literacy and education within the Harlem Community. Children with access
        to the right educational opportunities have a higher chance of
        graduating from college and have a larger income potential. The Spelling
        Bee, powered by its sponsors and the
        <%= link_to "Leksi vocabulary and spelling app",
            root_path,
            title: "Learn more about the Leksi app"
        %>
        provides this
        opportunity to all schools within the Harlem community.
      </p>
      <p>
        Together, we have a chance to bring our home to greater heights than
        ever before.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto img-thumbnail"
           src="<%= asset_path('spelling-bee/leksi-our-goals.jpg') %>"
           alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette mb-3">
    <div class="col-md-7 push-md-5">
      <h2 class="featurette-heading">It’s More Than Just a Few Words</h2>
      <p>
        Contestants in the Spelling Bee learn far more than new vocabulary
        words. They learn just how important hard work is, and all the things
        they can accomplish when they set their mind to it and put forth strong
        and consistent effort. They learn that they
        have the opportunity to both change their lives and impact the world in
        ways they never thought possible.
      </p>
    </div>
    <div class="col-md-5 pull-md-7">
      <img class="featurette-image img-fluid mx-auto img-thumbnail"
           src="<%= asset_path('spelling-bee/leksi-about-the-bee-the-competition.jpg') %>"
           alt="Generic placeholder image">
    </div>
  </div>
  <%= render "spelling_bee/enroll" %>
</div>
