<% title "Harlem Spelling Bee - Learn about our History, Mission, and the Competition itself." %>
<% description "Promoting literacy and education in Harlem, we have high hopes for our students and exciting Bee competitions." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools about history education vocabulary vocab literacy english language study dictionary words games notebook] %>

<% set_meta_tags og: {
  title: "Promoting literacy and education in Harlem, we have high hopes for our students and exciting Bee competitions.",
	description: "Designed with academic vocabulary research and gamification, Leksi helps students master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem school students will become spelling bee champs?",
  title: "Promoting literacy and education in Harlem, we have high hopes for our students and exciting Bee competitions.",
  description: "It just takes one word to lead a lifetime of learning and growth."
} %>
<div class="competition jumbotron mb-3">
  <h1 class="display-3 mb-5">
    <b>2nd Harlem Spelling Bee</b>
    <p class="lead mt-4">
      The Spelling Bee is Broken into Two Rounds for the Competing Students
    </p>
  </h1>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="display-4">
        <small class="text-muted">Round 1</small>
        <br>
        The Preliminaries
      </h1>
      <p class="lead">
        <strong>
          This is an online exam that tests each student’s vocabulary. The
          Preliminaries are used to determine which students
          make it to the finals for the Main Event. The students who
          score the highest on this assessment will become Finalists.
        </strong>
      </p>
    </div>
    <div class="col-md-8 mx-auto">
      <hr class="featurette-divider">
      <h1 class="display-4">
        <small class="text-muted">Round 2</small>
        <br>
        Main Event
      </h1>
      <p class="lead mb-5">
        <strong>
          This is the exciting on-stage portion of the Harlem Spelling Bee. Known
          as the Main Event, the Finalists will prove their ability to
          spell words in front of an audience of their friends and family.
          This Main Event is what determines the top three winners, who will
          spell their way to victory one letter at a time.
        </strong>
      </p>
      <%= link_to "#",
                  role: "button",
                  title: "See more Harlem Spelling Bee Competition details",
                  class: "btn btn-outline-light mt-5 disabled" do %>
        <%= icon "long-arrow-down" %>
        see more details
        <%= icon "long-arrow-down" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row marketing">
    <div class="col-lg-6">
      <h4><%= emoji "door" %> Registration</h4>
      <p>
        To enter the 2nd Harlem Spelling Bee, an adult
        for an elementary or middle school student (Grades 1-8) must enroll
        their student by completing the form down below.
      </p>
      <p>
        There are three different enrollment periods, i.e. Early Bird, Advanced,
        and Regular, when the adult can register. See the
        Timeline section below for the exact dates.
      </p>
      <p>
        High schoolers and adults, don't worry! There will be a Harlem Spelling
        Bee for you, too - stay tuned!
      </p>
      <h4><%= emoji "moneybag" %> Cost</h4>
      <p>
        <ul>
          <li>Regular Enrollment: $10 per student</li>
          <li>
            Schoolwide Enrollment:
            <%= link_to "please contact us",
                        spelling_bee_contact_us_path
            %>
            for special rates
          </li>
        </ul>
      </p>
      <h4><%= emoji "trophy" %> Prizes</h4>
      <p>
        The top three (3) winners will receive prizes.
        All Finalists will receive medals for their courage and effort
        in preparing for this big event.
      </p>
      <h4><%= emoji "clock3" %> Timeline</h4>
      <div class="activity-feed">
        <%= render "shared/activity_feed_item",
                   title: "Regular Enrollment Begins",
                   date: "Monday, February 26th, 2018",
                   text: ""
        %>
        <%= render "shared/activity_feed_item",
                   title: "2nd Harlem Spelling Bee Officially Begins",
                   date: "Monday, March 5th, 2018",
                   text: [
                     "This marks the beginning of the competition. All ",
                     "registered contestants from this point forward can ",
                     "begin using the online Leksi app to prepare ",
                     "for the Preliminaries."
                   ].join
        %>
        <%= render "shared/activity_feed_item",
                   title: "The Preliminaries",
                   date: "Tuesday, March 27th - Thursday, March 29th 2018",
                   text: [
                     "Contestants complete the online exam that will ",
                     "determine who advances to the ",
                     "next and final round, i.e. Main Event."
                   ].join
        %>
        <%= render "shared/activity_feed_item",
                   title: "Main Event Finalists Announced",
                   date: "Monday, April 2nd, 2018",
                   text: [
                     "The Finalists will be announced!"
                   ].join
        %>
        <%= render "shared/activity_feed_item",
                   title: "Main Event",
                   date: "Thursday, April 19th, 2018",
                   text: [
                     "This is what everyone has been waiting for - the ",
                     "actual on-stage spelling portion of the competition."
                   ].join
        %>
      </div>
    </div>
    <div class="col-lg-6">
      <h4><%= emoji "video_game" %> Leksi</h4>
      <p>
        Leksi is an online app that uses scientifically-backed methods to teach
        vocabulary and spelling in a fun environment. It is completely free for
        the duration of each Harlem Spelling Bee competition.
        <ul>
          <li>
            Students will use Leksi to prepare for the Preliminaries and
            Main Event by
            completing a variety of games and exercises. All activities were
            created following researched methods to ensure the students can
            learn and retain as they study
          </li>
          <li>
            Leksi will also provide the online exam for the Preliminaries.
            The top contestants who score the highest will become
            Finalists
          </li>
        </ul>
      </p>
      <h4><%= emoji "book" %> Words</h4>
      <p>
        The Preliminaries will feature a total word-bank of 300 words.
        All words can be found within the Leksi app and will already be in each
        students' account after they are registered.
      </p>
      <h4><%= emoji "muscle" %> Preparation</h4>
      <p>
        Using Leksi, the students will build their vocabulary and sharpen their
        spelling skills. Other tools that might help
        are vocabulary.com, Quizlet, or traditional methods like flashcards.
      </p>
      <h4><%= emoji "clipboard" %> Tips and Tricks</h4>
      <p>
        The National Spelling Bee has a great guide you can check out for handy
        tips:
        <%= link_to "How to Study for a Spelling Bee",
                    "http://spellingbee.com/sites/default/files/inline-files/How%20to%20Study%20for%20a%20Spelling%20Bee.pdf",
                    target: "_blank",
                    title: "National Spelling Bee Tips and Tricks"
        %>.
      </p>
    </div>
  </div>
  <%= render "spelling_bee/enroll" %>
</div>
