<% title "Harlem Spelling Bee - Promoting literacy and education in the Harlem community." %>
<% description "Learn more about the very exciting Harlem Spelling Bee competitions." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools education vocabulary vocab literacy english language study dictionary words games notebook] %>
<% set_meta_tags og: {
  title: "Learn more about the very exciting Harlem Spelling Bee competitions.",
	description: "Designed with academic vocabulary research and gamification, Leksi helps students master new words."
} %>
<% set_meta_tags twitter: {
  card: "Which Harlem school students will become spelling bee champs?",
  title: "Learn more about the very exciting Harlem Spelling Bee competitions.",
  description: "Learn more about the very exciting Harlem Spelling Bee competitions."
} %>

<section id="spe-bee-index-hero">
  <div>
    <h2 class="spe-bee-redange">
      <%= icon "star" %> Leksi Presents <%= icon "star" %>
    </h2>
    <h1 class="display-1">The Harlem Spelling Bee</h1>
    <h3 class="mt-4 mb-4">
      Giving Harlem Students a Chance to Bee Champions
    </h5>
    <%= link_to "Register Students Today (Early Bird Enrollment!)",
                spelling_bee_competition_path(anchor: "enroll"),
                role: "button",
                class: "btn btn-success btn-lg",
                title: "Enroll Your Students Today for the Harlem Spelling Bee"
    %>
  </div>
</section>
<section class="spee-bee-trail-section text-center">
  <div class="container pb-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2>About the Bee<div></div></h2>
        <p class="lead">
          The
          <%= link_to "Leksi",
                      root_path,
                      title: "Visit the Leksi homepage."
          %>
          Harlem Spelling Bee is about more than remembering a few words.
          It’s a challenge that teaches students they can do anything if
          they’re willing to set their mind to it. And if they can study hard
          enough to become Finalists at the Main Event, then there is nothing
          out of their reach.
        </p>
        <p>
          <%= link_to "Learn More",
                      spelling_bee_about_path,
                      class: "btn btn-outline-primary btn-lg",
                      role: "button",
                      title: "Learn more about the history and mission."
          %>
          <%= link_to "Competition Details",
                      spelling_bee_competition_path,
                      class: "btn btn-outline-primary btn-lg",
                      role: "button",
                      title: "Learn more about the Competition."
          %>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="pt-5">
  <div class="container">
    <div class="row text-center lead">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h1 class="spe-bee-redange">
              <%= icon "user-circle" %>
              Teachers
            </h1>
            <p>
              Give your students a chance to expand their knowledge and become a
              Bee Champion.
            </p>
            <%= link_to "Enroll Today",
                        spelling_bee_teachers_path,
                        role: "button",
                        class: "btn btn-primary btn-lg",
                        title: "Support the Harlem Spelling Bee"
            %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="spe-bee-redange">
              <%= icon "handshake-o" %> Sponsors
            </h1>
            <p>
              Instill a love of education in Harlem.
            </p>
            <%= link_to "Support the Bee",
                        spelling_bee_sponsors_path,
                        role: "button",
                        class: "btn btn-primary btn-lg",
                        title: "Support the Harlem Spelling Bee"
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
