<% provide(:header, "Knowledge Scale") %>

<div id="vks-main-container">
	<div class="well col-sm-8 col-sm-offset-2">
		<div>
			<%= button_tag class: "btn btn-success ", id: "" do %>
				<i class="fa fa-flag fa-2x pull-right"></i>
				<span class="valign-middle">Finish</span>
			<% end %>
		</div>
		<p class="lead center">
			The Knowledge Scale helps to track your progress over time when learning
			new words. Find one of your words and then tap
			<i class="fa fa-balance-scale"></i>
			to get started.
		</p>
		<div id="search-form-container">
			<span id="vks-chosen-word-id"></span>
			<%= form_tag(find_words_to_assess_path,
				method: "get", id: "search-form", remote: true) do %>
				<div class="input-group">
					<%= label_tag :inputSuccess5, "Search",
						class: "control-label sr-only" %>
					<%= text_field_tag(:search, params[:search],
						class: "form-control center", id: "inputSuccess5") %>
					<span class="input-group-btn">
						<%= submit_tag "find", name: nil, class: "btn btn-default",
																							id: "search-btn" %>
					</span>
				</div>
			<% end %>
		</div>
	</div>

	<br>

	<div class="clear"></div>

	<div class="search-results-container col-sm-6 col-sm-offset-3"></div>
</div>

<div id="vks-identify-knowledge">
	<h4>
		Step 2. Select an emoji to identify your knowledge of the word:
	</h4>

	<div class="panel panel-default">
		<div class="panel panel-heading">
			<h1 class="vks-chosen-word-name bootstrap-blue"></h1>
		</div>
		<div class="panel panel-body">
			<div class="vks-emojis">
				<div>
					<%= image_tag("hushed_face.png", class: "img-responsive") %>
				</div>
				<div>
					<%= image_tag("confused_face.png", class: "img-responsive") %>
				</div>
				<div>
					<%= image_tag("thinking_face.png", class: "img-responsive") %>
				</div>
				<div>
					<%= image_tag("grinning_face.png", class: "img-responsive") %>
				</div>
				<div>
					<%= image_tag("nerd_face.png", class: "img-responsive") %>
				</div>
			</div>

			<div class="clear"></div>

			<br>

			<div id="vks-categories" class="lead center">
				<p>I don't remember seeing this word before</p>
				<p>I've seen this word before, but I don't know what it means</p>
				<p>
					I've seen this word before, and I think it means:
				</p>
				<p>
					I know the meaning(s) and/or synonym(s) for this word
				</p>
				<p>
					- I know the meaning(s) and/or synonym(s)
					<br>
					- I can use it in a sentence
				</p>
				<div id="vks-defs-or-syns-container">
					<%= text_field(nil, :vks_defs_or_syns, size: 20, class: "input-focus",
						placeholder: "Meaning(s) and/or synonyms(s)") %>
				</div>
				<div id="vks-example-sentence">
					<%= text_field(nil, :vks_sentence, size: 20, class: "input-focus",
						placeholder: "Example Sentence") %>
				</div>
			</div>
		</div>
	</div>
</div>
