<% title "Boost your vocabulary in a fun and simple way." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps you master new words." %>
<% set_meta_tags keywords: %w[learn education vocabulary vocab research engage fun langauge literacy english language study dictionary words flashcards games list notebook] %>

<% set_meta_tags og: {
  title:    "Boost your vocabulary in a fun and simple way.",
	description: "Designed with vocabulary academic research and gamification, Leksi helps you master new words."
} %>

<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and based on evidence.",
  title: "Boost your vocabulary in a fun and simple way.",
  description: "Designed with vocabulary academic research and gamification, Leksi helps you master new words."
} %>

<%= render "shared/flash_messages" %>
<section class="text-center guest-section-home">
  <h1 class="display-1">Words equal wealth.</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="lead">
        Leksi increases vocabulary, which leads to stronger reading and
        writing skills.
      </p>
      <%= button_tag "Get Started", name: nil,
                                    type: "button",
                                    id: "get-started-btn",
                                    class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</section>
<section class="guest-section-home">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4">The Opportunity</h1>
      <blockquote class="blockquote">
        There’s a positive correlation between a student’s vocabulary size in
        grade 12, the likelihood that she will graduate from college, and her
        future level of income.
        <br>
        <small class="text-muted">
          Dr. E.D. Hirsch, Jr.
        </small>
      </blockquote>
      <p class="highlight">
        The more words students can recognize and use by senior
        year in high school, the better off they'll be in college and beyond.
        It's that simple.
      </p>
      <p class="text-center">
        <%= link_to "See more research",
                    research_path,
                    class: "btn btn-secondary",
                    role: "button" %>
      </p>
    </div>
  </div>
</section>
<section class="guest-section-home">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4">Our Approach</h1>
      <p class="lead">
        Students need exposure and practice to Tier 2 words. We want them to own
        and be excited about expanding their vocabulary. To that end,
      </p>
      <h5>
        we combine...
      </h5>
      <div class="row text-center">
        <div class="col-sm-4">
          <i class="fa fa-lightbulb-o fa-3x"></i>
          <br>
          Vocabulary research
        </div>
        <div class="col-sm-4">
          <i class="fa fa-connectdevelop fa-3x"></i>
          <br>
          Science
        </div>
        <div class="col-sm-4">
          <i class="fa fa-gamepad fa-3x"></i>
          <br>
          Game-like activities
        </div>
      </div>
      <h5>
        ...which directly improves:
      </h5>
      <div class="row text-center">
        <div class="col-sm-4">
          <i class="fa fa-book fa-3x"></i>
          <br>
          Literacy profiency
        </div>
        <div class="col-sm-4">
          <i class="fa fa-graduation-cap fa-3x"></i>
          <br>
          Likelihood of academic success
        </div>
        <div class="col-sm-4">
          <i class="fa fa-black-tie fa-3x"></i>
          <br>
          College and career readiness
        </div>
      </div>
    </div>
  </div>
  <p class="text-center">
    <%= link_to "Learn more",
                "#",
                class: "btn btn-secondary",
                role: "button" %>
  </p>
</section>
<section class="guest-section-home">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4">Our Results</h1>
      <div class="row text-center">
        <div class="col-md-6">
          <h3>
            93%
            <br>
            <small>of scholars would recommend Leksi to their friends</small>
          </h3>
        </div>
        <div class="col-md-6">
          <h3>
            66%
            <br>
            <small>of scholars used Leksi outside of the classroom</small>
          </h3>
        </div>
      </div>
      <blockquote class="blockquote">
        <p>
          The extra practice Leksi afforded my scholars enabled them to master
          new words more quickly and more deeply than before.
        </p>
        <footer class="blockquote-footer">
          Leana P., Friends Seminary Middle School Teacher
        </footer>
      </blockquote>
      <blockquote class="blockquote">
        <p>
          Helps you really know the words, love it!
        </p>
        <footer class="blockquote-footer">
          5th Grader, Friends Seminary
        </footer>
      </blockquote>
    </div>
  </div>
  <p class="text-center">
    <%= link_to "See more reactions",
                results_path,
                class: "btn btn-secondary",
                role: "button" %>
  </p>
</section>
<section class="guest-section-home" id="get-started-now">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4">Contact Us</h1>
      <p><small>All fields are required.</small></p>

      <%= form_tag(static_pages_contact_us_path, method: "post") do %>
        <div>
          <input type="text" value="" name="cf_name"
                 class="form-control" id="cf-name"
                 placeholder="Name"   required>
          <br/>
          <input type="email" value="" name="cf_email"
                 class="form-control"  id="cf-email"
                 placeholder="Email"   required>
          <br/>
          <input type="school_name" value="" name="cf_school_name"
                 class="form-control"        id="cf-school-name"
                 placeholder="School Name"   required>
          <br/>
          <textarea class="form-control" name="cf_comments" rows="3"
                    id="cf-comments"
                    placeholder="Comments"
                    required></textarea>
          <br>
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <label for="prove_ur_human" class="form-control-label">
              Security Check - please type:
              <strong>L3ks!</strong>
            </label>
            <input type="text" name="prove_ur_human"
                   class="form-control" id="prove-ur-human-field"
                   required>
          </div>
        </div>
        <div class="center">
          <button type="submit" value="Send" id="cf-submit-btn"
                  class="btn btn-primary btn-lg btn-block" disabled>
            <i class="fa fa-send-o"></i>
            Send
          </button>
        </div>
      <% end %>
    </div>
  </div>
</section>
