<div class="row">
  <div class="col-xs-4 col-sm-3">
    <%=
      image_tag("leksi_icon.png",
      class: "img-responsive",
      alt: "Leksi Icon")
    %>

    <div class="hidden-xs">
      <br>
      <%= render "static_pages/ratings_get_button" %>
    </div>

    <div class="hidden-xs">
      <br>
      <small>
        This app can be used on any smartphone, tablet, laptop, or computer.
      </small>
    </div>

    <div class="hidden-xs">
      <br>
      <%= render "static_pages/information" %>
    </div>
  </div>

  <div class="col-xs-8 col-sm-9">
    <p class="lead visible-xs-block">
      A simple, fun, and challenging way to learn vocabulary.
    </p>

    <div class="hidden-xs">
      <%= render "static_pages/description" %>
    </div>

    <div class="hidden-xs">
      <hr>
      <%= render "versions/whats_new" %>
    </div>

    <div class="hidden-xs">
      <hr>
      <%= render "static_pages/carousel" %>
    </div>

    <div class="hidden-xs">
      <hr>
      <%= render "static_pages/reviews" %>
    </div>

    <div class="visible-xs-block">
      <%= render "static_pages/ratings_get_button" %>
    </div>
  </div>
</div>

<%= render "static_pages/details_reviews" %>

<div class="visible-xs-block">
  <hr>
  <%= render "static_pages/description" %>
</div>
<div class="visible-xs-block">
  <hr>
  <%= render "static_pages/carousel" %>
</div>
<div class="visible-xs-block">
  <hr>
  <%= render "versions/whats_new" %>
</div>
<hr>
<div class="visible-xs-block">
  <%= render "static_pages/information" %>
</div>
