<% provide(:title, "Boost your vocabulary in a fun and simple way.") %>
<% provide(:header, "Boost your vocabulary in a fun and simple way.") %>

<%= render "shared/flash_messages" %>

<div class="top-section">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 center">
			<h1>Leksi</h1>
			<h3>
				Boost your vocabulary in a fun and simple way.
			</h3>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5
								btn-custom-get-started center data-url" data-url="/signup">
			Get started
		</div>
	</div>
</div>

<% if false %>
<div class="thin-gray-section center">
	<div class="row">
		<h3>
			Designed with vocabulary academic research...
		</h3>

		<br>

		<div class="col-sm-4">
			<%= image_tag("game_color_100.png", alt: "Game") %>
			<p>
				Learning with Leksi is simple and fun.
				With game-like features, it's the perfect dose for daily practice,
				especially since the levels are
				based on hard evidence on what it takes to really learn words.
			</p>
		</div>

		<div class="col-sm-4">
			<%= image_tag("game_color_100.png", alt: "Game") %>
			<p>
				Learning with Leksi is simple and fun.
				With game-like features, it's the perfect dose for daily practice,
				especially since the levels are
				based on hard evidence on what it takes to really learn words.
			</p>
		</div>

		<div class="col-sm-4">
			<%= image_tag("game_color_100.png", alt: "Game") %>
			<p>
				Learning with Leksi is simple and fun.
				With game-like features, it's the perfect dose for daily practice,
				especially since the levels are
				based on hard evidence on what it takes to really learn words.
			</p>
		</div>
		<div class="col-sm-4">

			<!-- <br>
			<br>

			<div class="btn-custom-get-started center data-url" data-url="/">
				See how we do it
			</div> -->
		</div>
	</div>
</div>
<% end %>

<div class="fat-section">
	<!-- <h3 class="center">...and gamification in every lesson.</h3> -->
	<h3 class="center">Designed with vocabulary academic research
		and gamification in every lesson.</h3>

	<div class="gamification-container col-sm-8 col-sm-offset-2">
		<div class="row center">
			<div class="col-sm-6">
				<div class="gamification-first-image"></div>

				<h4>Game on!</h4>

				<p>
					First play the <em>Fundamentals</em> to learn the basics.
					Then kick it up a notch with <em>Leksi Jeopardy</em>. Finally,
					unleash your creativity with <em>Leksi Freestyle</em>.
				</p>
			</div>

			<div class="col-sm-6">
				<div class="gamification-second-image"></div>
				<h4>Checkpoints</h4>

				<p>
					Instantly see how well you know what you learn along the way.
				</p>
			</div>
		</div>

		<div class="row center">
			<div class="col-sm-6">
				<div class="gamification-third-image"></div>

				<h4>Level Up</h4>

				<p>
					Earn experience points, level up, and achieve your weekly goals
					with each game you complete.
				</p>
			</div>

			<div class="col-sm-6">
				<div class="gamification-fourth-image"></div>
				<h4>Leaderboard</h4>

				<p>
					It's one thing to climb the Leaderboard ranks and another to remain on
					top!
				</p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="thin-gray-section">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="center">
			<%= image_tag("multiple_devices_color_100.png") %>
			<h4>Use Leksi on any software or device</h4>
		</div>

		<p>
			Be more productive wherever you are, on the go. To use Leksi, all you need
			is internet access and a web browser (e.g. Safari, Chrome, Firefox).
			This means you can use Leksi on any phone, tablet, laptop, or computer
			device.
		</p>

		<p>
			Soon you'll be able to download Leksi as an app for your iOS, Android,
			and Windows	devices!
		</p>
	</div>

	<div class="clear"></div>
</div>

<div class="thin-white-section">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="center">
			<%= image_tag("school_color_100.png") %>
			<h4>Leksi for Schools</h4>
		</div>

		Vocabulary is the biggest indicator of a student's success. See why
		it's crucial to not only literacy development, but also other academic
		areas as well.

		<p>
			<%= mail_to "help@leksi.education", "Bring Leksi to your classroom",
				  subject: "Bring Leksi to My Classroom"
			%>
		</p>
	</div>
</div>
