<% provide(:title, "menu") %>
<% provide(:header, "menu") %>

<div class="menu-header-container">

  <div class="">
    <div class="pull-right">
      <% if logged_in_and_current_user?(current_user) %>
        <%= link_to image_tag(
            "edit_black_filled_25.png", alt: "Edit My Profile"
          ), edit_user_path(current_user)
        %>
      <% end %>
    </div>
    <div class="lead menu-header">
      Profile (<%= current_user.username %>)
    </div>
  </div>

  <p>
    Joined <%= time_ago_in_words(current_user.created_at) %> ago.
  </p>

  <%= render "users/stats", user: current_user %>

  <br>
</div>

<div class="menu-header-container">
  <p class="lead menu-header">
    Rate This App
  </p>

  <% if user_already_reviewed_latest_version? %>
    Thanks for rating Leksi <%= version_display_name %>!
    <span class="basic-black-link">
      <%=
        link_to "See all reviews",
        reviews_path
      %>.
    </span>
  <% else %>
    <div class="well">
      <%= render "reviews/form" %>
    </div>
  <% end %>
</div>

<div class="menu-header-container">
  <p class="lead menu-header">
    Settings
  </p>

  <div class="inline-block">
    <%= image_tag("logout_black_filled_25.png", alt: "Log Out") %>
  </div>

  <div class="basic-black-link inline-block">
    <%= link_to "Log Out", logout_path, method: :delete %>
  </div>
</div>
