<% provide(:title, "menu") %>
<% provide(:header, "menu") %>

<div class="menu-header-container">

  <div>
    <div class="lead menu-header">
      Profile (<%= current_user.username %>)
    </div>
  </div>

  <p>
    Joined <%= time_ago_in_words(current_user.created_at) %> ago.
  </p>

  <% if logged_in_and_current_user?(current_user) %>
    <div class="inline-block">
      <%= image_tag("edit_black_filled_25.png", alt: "Edit Profile") %>
    </div>
    &nbsp;
    <div class="basic-apple-blue-link inline-block">
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
    </div>
  <% end %>
</div>

<div class="menu-header-container">
  <p class="lead menu-header">
    Rate This App
  </p>

  <% if user_already_reviewed_latest_version? %>
    Thanks for rating Leksi <%= version_display_name(latest_version.number) %>!
  <% else %>
    <div class="well well-sm">
      <%= render "reviews/form" %>
    </div>
  <% end %>
</div>

<div class="menu-header-container">
  <p class="lead menu-header">
    Stats
  </p>

  <%= render "users/stats", user: current_user %>

  <br>

  <div class="inline-block">
    <%= image_tag("leaderboard_black_filled_32.png", alt: "Leaderboard") %>
  </div>
  &nbsp;
  <div class="basic-apple-blue-link inline-block">
    <%= link_to "View Leaderboard", leaderboard_path %>
  </div>
</div>

<div class="menu-header-container">
  <p class="lead menu-header">
    Settings
  </p>

  <div class="inline-block">
    <%= image_tag("logout_black_filled_25.png", alt: "Log Out") %>
  </div>
  &nbsp;
  <div class="basic-apple-blue-link inline-block">
    <%= link_to "Log Out", logout_path, method: :delete %>
  </div>
</div>
