<h1>Our Approach</h1>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<p>
			Based on proven research, our game-like activities
			motivate and help scholars learn and use new vocabulary.
			Take a sneak peak into our three-step gamified process for learning
			new words:
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<div class="sneak-peak-container bg-primary text-white">
			<h4>Fundamentals</h4>
			<p>
				Students acquire knowledge related to the basics of an
				individual word, i.e. spelling, meanings, synonyms, antonyms, and
				example sentences.
			</p>
			<div>
				<%= button_tag "TAKE A SNEAK PEAK",
					class: "btn btn-secondary sneak-peak-btn",
					data: { "game": "sneak-peak-fundamentals", "color": "bg-danger" } %>
			</div>
			<br>
		</div>
		<br>
		<div class="sneak-peak-container">
			<h4>Match'em All</h4>
			<p>
				This more challenging activity sharpens scholars' knowledge of multiple
				words simultaneously. For a word to advance to the final game,
				scholars must answer at least three questions correctly.
			</p>
			<div>
				<%= button_tag "TAKE A SNEAK PEAK",
					class: "btn btn-secondary sneak-peak-btn",
					data: { "game": "sneak-peak-jeopardy" } %>
			</div>
			<br>
		</div>
		<br>
		<div class="sneak-peak-container">
			<h4>Freestyle</h4>
			<p>
				Finally, scholars unleash their creativity by creating a semantic,
				word, and definition map. Also, they create example sentences.
			</p>
			<div>
				<%= button_tag "TAKE A SNEAK PEAK",
					class: "btn btn-secondary sneak-peak-btn",
					data: { "game": "sneak-peak-freestyle" } %>
			</div>
		</div>
	</div>
	<div class="col-sm-7 bg-primary">
		<h4 class="text-white">Fundamentals</h4>
		<div id="sneak-peak-img-container">
			<%= image_tag("fundamentals.gif",
				class: "img img-responsive",
				id: "sneak-peak-fundamentals",
				alt: "Leksi Basic Game",
				title: "Leksi Basic Game")
			%>
			<%= image_tag("jeopardy.gif",
				class: "img img-responsive",
				id: "sneak-peak-jeopardy",
				alt: "Leksi Intermediate Game",
				title: "Leksi Intermediate Game")
			%>
			<%= image_tag("freestyle.gif",
				class: "img img-responsive",
				id: "sneak-peak-freestyle",
				alt: "Leksi Advanced Game",
				title: "Leksi Advanced Game")
			%>
		</div>
	</div>
</div>
