<div class="container">
	<h1>
		Research
	</h1>
	<p class="lead mb-5">
		So much exists to explain the challenges guardians, educators, and
		ultimately students face with vocabulary and why it's crucial to do more.
		You can find reading material and research on the matter below.
	</p>
	<div class="card card-outline-primary mb-3">
		<div class="card-block text-center">
			<h4 class="card-title">
				<%= icon "newspaper-o" %>
				White Paper: The Vocabulary Crisis
				<br>
				<small class="text-muted">How Teachers Can Combat the Word Gap</small>
			</h4>
			<p>
				<%= link_to "Read and Download",
										asset_path("Leksi - The Vocabulary Crisis White Paper.pdf"),
										class: "btn btn-primary",
										role: "button",
										title: "Leksi - The Vocabulary Crisis White Paper",
										target: "_blank" %>
			</p>
		</div>
	</div>
	<div class="card-columns">
		<div class="card card-block text-xs-right mb-3">
			<%= render "static_pages/card_blockquote",
				quote: "From toddlers to adults, vocabulary knowledge differs greatly
							 depending on one\'s socioeconomic background. Once established,
							 differences in vocabulary knowledge remained.",
				author: "Biemiller, 2011; Hart &amp; Risley 1995, Juel, Biancarosa,
				Coker, &amp; Deffes 2003".html_safe,
				source_title: "" %>
				<p class="text-muted">
					<small>Bringing Words to Life, Second Edition</small>
				</p>
	  </div>
		<div class="card card-block mb-3">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item"
								src="https://www.youtube.com/embed/779aFxFqrq4?end=149"
								allowfullscreen></iframe>
			</div>
			<p class="card-text">
				What exactly is the Word Gap? What's the Big Deal?
			</p>
		</div>
		<div class="card card-block text-xs-right mb-3">
			<%= render "static_pages/card_blockquote",
				quote: "By age 3, there is strong evidence of a gap in vocabulary
							 knowledge for children of different SES groups.",
				author: "Hart &amp; Risley, 1995".html_safe,
				source_title: "" %>
				<p class="text-muted">
					<small>Bringing Words to Life, Second Edition</small>
				</p>
	  </div>
		<div class="card card-block text-xs-right mb-3">
			<%= render "static_pages/card_blockquote",
				quote: "In kindergarten, sizable differences are found between students
							 (of varying SES) in the number of words known.",
				author: "Baker et al., 1998".html_safe,
				source_title: "" %>
				<p class="text-muted">
					<small>Bringing Words to Life, Second Edition</small>
				</p>
	  </div>
		<div class="card card-block mb-3">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item"
								src="https://www.youtube.com/embed/gu5P5NbGxEY"
								allowfullscreen></iframe>
			</div>
			<p class="card-text">
				Watch President Barack Obama's message to parents to
				#closethewordgap.
			</p>
		</div>
		<div class="card card-block text-xs-right mb-3">
			<%= render "static_pages/card_blockquote",
				quote: "First-grade children from higher SES groups know about twice as
							 many words as children from lower SES groups.",
				author: "Graves, Brunetti, &amp; Slater, 1982; Graves &amp; Slater,
								1987".html_safe,
				source_title: "" %>
				<p class="text-muted">
					<small>Bringing Words to Life, Second Edition</small>
				</p>
	  </div>
		<div class="card card-block text-xs-right mb-3">
			<%= render "static_pages/card_blockquote",
				quote: "First-grade vocabulary predicted students' reading achievemnt in
							 their junior year in high school.",
				author: "Cunningham &amp; Stanovich, 1997".html_safe,
				source_title: "" %>
				<p class="text-muted">
					<small>Bringing Words to Life, Second Edition</small>
				</p>
	  </div>
		<div class="card card-block text-xs-right mb-3">
			<%= render "static_pages/card_blockquote",
				quote: "High-knowledge third graders had vocabularies about equal to
							 lowest-performing 12th graders.",
				author: "Smith, 1941".html_safe,
				source_title: "" %>
				<p class="text-muted">
					<small>Bringing Words to Life, Second Edition</small>
				</p>
	  </div>
		<div class="card card-block text-xs-right mb-3">
			<%= render "static_pages/card_blockquote",
				quote: "There’s a positive correlation between a student’s vocabulary
				        size in grade 12, the likelihood that she will graduate from
				        college, and her future level of income.",
				author: "Dr. E.D. Hirsch, Jr.".html_safe,
				source_title: "Wealth of Words" %>
	  </div>
	</div>
</div>
