<% title "2017 Harlem Spelling Bee" %>
<% description "Learn more about the very exciting, first Harlem Spelling Bee competition." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools education vocabulary vocab literacy english language study dictionary words flashcards games list notebook] %>

<% set_meta_tags og: {
  title: "Learn more about the very exciting, first Harlem Spelling Bee competition.",
	description: "Designed with vocabulary academic research and gamification, Leksi helps you master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem schools will become spelling bee champs?",
  title: "Learn more about the very exciting, first Harlem Spelling Bee competition.",
  description: "Learn more about the very exciting, first Harlem Spelling Bee competition."
} %>

<section class="spe-bee-top-section text-center spe-bee-yellow">
  <div class="row">
    <div class="col-lg-3">
      <%= image_tag(
        "spelling-bee.png",
        class: "mx-auto d-block",
        width: 300,
        height: 300
      ) %>
    </div>
    <div class="col-lg-9">
      <h4>* Leksi Presents *</h4>
      <h1 class="display-3">1<sup>st</sup> Annual <br>Harlem Spelling Bee</h1>
      <p class="lead">
        Learn more below about this exciting event for the Harlem community.
      </p>
      <div id="row">
        <div class="col-md-6 offset-md-3">
          <%= render "static_pages/spelling_bee/mailchimp" %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="spee-bee-trail">
  <div class="row text-center spe-bee-redange">
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-block">
          <h2><i class="fa fa-calendar"></i>
             When
             <br>
             <small>
               Monday, June 12<sup>th</sup>, 2017
             </small>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-block">
          <h2><i class="fa fa-globe"></i>
             Where
             <br>
             <small>
               KIPP NYC
             </small>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-block">
          <h2><i class="fa fa-money"></i>
             Cost
             <br>
             <small>Free</small>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-faded">
  <div class="row p-3">
    <div class="col-md-4 mb-3 mt-3">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-outline-primary spe-bee-nav" do %>
        <i class="fa fa-users"></i> Students
      <% end %>
    </div>
    <div class="col-md-4 mb-3 mt-3">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-outline-primary spe-bee-nav" do %>
        <i class="fa fa-user-circle"></i> Teachers
      <% end %>
    </div>
    <div class="col-md-4 mb-3 mt-3">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-outline-primary spe-bee-nav" do %>
        <i class="fa fa-handshake-o"></i> Sponsors
      <% end %>
    </div>
  </div>
</section>
<%= render "static_pages/spelling_bee/questions_students" %>
<%= render "static_pages/spelling_bee/questions_teachers" %>
<%= render "static_pages/spelling_bee/questions_sponsors" %>
<section class="guest-section-home" id="spe-bee-contact-us">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><i class="fa fa-envelope"></i> Contact Us</h1>
      <%= render "contact_us_mailer/form" %>
    </div>
  </div>
</section>
