<% title "2017 Spelling Bee Competition" %>
<% description "Learn more about the very exciting, first Harlem Spelling Bee competition." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools education vocabulary vocab literacy english language study dictionary words flashcards games list notebook] %>

<% set_meta_tags og: {
  title: "Learn more about the very exciting, first Harlem Spelling Bee competition.",
	description: "Designed with vocabulary academic research and gamification, Leksi helps you master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem schools will become spelling bee champs?",
  title: "Learn more about the very exciting, first Harlem Spelling Bee competition.",
  description: "Learn more about the very exciting, first Harlem Spelling Bee competition."
} %>

<section class="spe-bee-top-section text-center spe-bee-yellow">
  <div class="row">
    <div class="col-lg-3">
      <%= image_tag(
        "spelling-bee.png",
        class: "mx-auto d-block",
        width: 300,
        height: 300
      ) %>
    </div>
    <div class="col-lg-9">
      <h4>* Leksi Presents *</h4>
      <h1 class="display-3">1<sup>st</sup> Annual <br>Harlem Spelling Bee</h1>
      <p class="lead">
        Learn more below about this unique and exciting event that benefits
        everyone in the Harlem communtiy.
      </p>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-md-4">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-primary spe-bee-nav" do %>
        <i class="fa fa-users"></i> Students
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-primary spe-bee-nav" do %>
        <i class="fa fa-user-circle"></i> Teachers
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-primary spe-bee-nav" do %>
        <i class="fa fa-handshake-o"></i> Sponsors
      <% end %>
    </div>
  </div>
</section>
<section class="spee-bee-trail">
  <div class="row text-center spe-bee-redange">
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-block">
          <h2><i class="fa fa-calendar"></i>
             When
             <br>
             <small>
               Thursday, June 1<sup>st</sup>, 2017 starting at 4:30pm
             </small>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-block">
          <h2><i class="fa fa-globe"></i>
             Where
             <br>
             <small>
               Apollo Theatre
               <br>
               <%= link_to "#" do %>
                 Directions
                 <%= icon("map-marker") %>
               <% end %>
             </small>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-block">
          <h2><i class="fa fa-money"></i>
             Cost
             <br>
             <small>Free</small>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="guest-section-home spe-bee-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><i class="fa fa-users"></i> Students</h1>
      <%= render "static_pages/spelling_bee/question",
                 q: "How do I sign up?"
      %>
      <p>
        It's great to hear you want to compete in this spelling bee! To sign
        up, first tell your teacher about this spelling bee competition. Your
        teacher has to be the one to register your school and the students -
        hopefully including you! - who will then go at it to become the spelling
        champ for your grade.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "Where are the words that will be used?"
      %>
      <p>
        Each grade from one through eight has 50 spelling bee words. All of the
        words are grouped by their grade level:
        <%= link_to "click here to view and/or print the words.", "#" %>
        Also, after your teacher registers your school, you will be given
        information to log into Leksi so that
        you can easily learn and practice all of these words. After you log in,
        just go to the "<i class="fa fa-search"></i> Look Up" page and
        add the words from any grade to your personal word list. Then complete
        all of the activities for each word.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How can I practice my spelling?"
      %>
      <p>
        One way you can prepare for this spelling bee competition is by using
        Leksi, which is free. After your teacher registers your school,
        you should get information allowing you to log in and use Leksi.
        Once you have access to Leksi,
        you can easily learn and practice all of these words.
        Just go to the "<i class="fa fa-search"></i> Look Up" page and
        add the words from any grade to your personal word list. Then complete
        all of the activities for each word. The more time you put in, the
        better chances you'll have at winning. If you want to win, prove it.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What are some spelling tips and tricks?"
      %>
      <p>
        The
        <%= link_to "National Spelling Bee", "http://nationalspellingbee.com" %>
        has a great guide. Click the following link to check it out:
        <%= link_to "How to Study for a Speling Bee",
                    "http://spellingbee.com/sites/default/files/inline-files/How%20to%20Study%20for%20a%20Spelling%20Bee.pdf",
                    target: "_blank"
        %>.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "If I win, do I get anything?"
      %>
      <p>
        The winners for each grade level will receive trophies and prizes.
        All participants will receive medals for their effort and courage
        in preparing for and competing in this big event.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What if I have a question or comment?"
      %>
      <p>
        If you have any questions, comments, or concerns, please
        <%= link_to "contact us",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "stu"
        %>. You can also ask your teacher, who can likely help.
      </p>
    </div>
  </div>
</section>
<section class="guest-section-home spe-bee-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4">
        <i class="fa fa-user-circle"></i> Teachers
      </h1>
      <%= render "static_pages/spelling_bee/question",
                 q: "How do I register my school?"
      %>
      <p>
        <%= link_to "Click here to submit the registration form",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea-reg"
        %> by the deadline to ensure your school is on our official list.
        After you do this, you'll receive an email from us with further
        instructions/guides. For example, this will lead to free Leksi accounts
        for yourself and all of your students.
        <span class="text-danger">
        Schools enroll with the national office to ensure their students are
        eligible to participate and to receive the materials needed to conduct
        classroom and school bees. During enrollment, school bee coordinators
        receive their local sponsor's program-specific information—local dates,
        deadlines, and participation guidelines.</span>
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "Is this free?"
      %>
      <p>
        This spelling bee competition is indeed free! If you haven't signed your
        school up yet before the deadline,
        <%= link_to "please do so here",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea-reg"
        %>. This will ensure your school is participating and also give you and
        your students free accounts to use Leksi. With a Leksi account, students
        can practice their words in a fun way and you can track and support
        their progress along the way.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How many students from my school can compete?"
      %>
      <p>
        At every school, two (2) students will be selected from grades 1
        through 8. To determine how these 16
        students are selected, you must run a "local" spelling bee at your
        school. The winners from these local school competitions will then be
        set up to spell it out on the big stage.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How can my students practice for this competition?"
      %>
      <p>
        One way your students can prepare for this spelling bee competition is
        by letting them use our online app, Leksi, which is free for you and
        your students after you
        <%= link_to "register your school",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea-reg"
        %>.
        With an account, they can easily learn and practice any of the words on
        the spelling bee list.
        <%= link_to "Here\'s a guide to get started.", "#" %>
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What are the rules? What is the format?"
      %>
      <p>
        <%= link_to "Here are the rules", "#" %> to this spelling bee.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What if I have a question or comment?"
      %>
      <p>
        If you have any questions, comments, or concerns, please
        <%= link_to "contact us",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea"
        %>.
      </p>
    </div>
  </div>
</section>
<section class="guest-section-home spe-bee-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><i class="fa fa-handshake-o"></i> Sponsors</h1>
      <%= render "static_pages/spelling_bee/question",
                 q: "Why should we sponsor this event?"
      %>
      <p>
        This is the very first Harlem spelling bee, which promotes literacy
        and vocabulary development. We're excited about and focus on vocabulary
        because it's the biggest indicator of a student's success in and outside
        of the classroom. If we a want a stronger Harlem community that's more
        educated and econimically sound, we believe vocabulary - and your
        support - will help get us there.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How do we become part of Harlem history?"
      %>
      <p>
        We couldn't be happier to hear you'd like to be part of this special
        event. Because this is a free event for schools, your help - whether
        you provide in-kind donations or financial contributions - will go a
        long way towards making lasting change. Please
        <%= link_to "submit the form below",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "spo-his"
        %> to get started becoming a part of Harlem history.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What if I have a question or comment?"
      %>
      <p>
        If you have any questions, comments, or concerns, please
        <%= link_to "contact us",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "spo"
        %>.
      </p>
    </div>
  </div>
</section>
<section class="guest-section-home" id="spe-bee-contact-us">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><i class="fa fa-envelope"></i> Contact Us</h1>
      <%= render "contact_us_mailer/form" %>
    </div>
  </div>
</section>
