<% title "2017 Harlem Spelling Bee" %>
<% description "Learn more about the very exciting, first Harlem Spelling Bee competition." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools education vocabulary vocab literacy english language study dictionary words flashcards games list notebook] %>

<% set_meta_tags og: {
  title: "Learn more about the very exciting, first Harlem Spelling Bee competition.",
	description: "Designed with vocabulary academic research and gamification, Leksi helps you master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem schools will become spelling bee champs?",
  title: "Learn more about the very exciting, first Harlem Spelling Bee competition.",
  description: "Learn more about the very exciting, first Harlem Spelling Bee competition."
} %>

<section id="home-hero">
  <div>
    <h4>* Leksi Presents *</h4>
    <h1 class="display-2">Harlem Spelling Bee</h1>
    <p class="lead mt-4">
      The 2nd Bee is in the works! Learn more below.
    </p>
  </div>
</section>
<section class="spe-bee-top-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <%#= image_tag(
          "spelling-bee.png",
          width: 300,
          height: 300
        ) %>
        <h2>About the Bee<div></div></h2>
        <p class="lead">
          This exciting event is a first of its kind for the entire Harlem
          community. The
          <%= link_to "inaugural Harlem Spelling Bee",
                      blog_first_harlem_spelling_bee_path,
                      alt: "Recapping the First Ever Harlem Spelling Bee",
                      title: "Recapping the First Ever Harlem Spelling Bee"
          %>
          was held in June 2017 at a KIPP NYC school, where 10 Finalists, out of
          150 enrolled students from 5 registered schools, competed to become
          the first Harlem Spelling Bee champs.
        </p>
          <%= link_to "Learn more",
                      "#",
                      class: "btn btn-outline-primary btn-lg",
                      role: "button",
                      alt: "Learn more about the Harlem Spelling Bee",
                      title: "Learn more about the Harlem Spelling Bee"
          %>
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-block">
            <h1 class="spe-bee-redange">
              <%= icon "user-circle" %>
              Teachers
            </h1>
            <p>
              Continue helping your students reach their fullest potential.
            </p>
            <%= link_to "Enroll today",
                        "#",
                        role: "button",
                        class: "btn btn-primary btn-lg",
                        alt: "Support the Harlem Spelling Bee",
                        title: "Support the Harlem Spelling Bee"
            %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-block">
            <h1 class="spe-bee-redange">
              <%= icon "globe" %> Parents
            </h1>
            <p>
              Introduce your children to a world of words and opportunities.
            </p>
            <%= link_to "Learn more",
                        "#",
                        role: "button",
                        class: "btn btn-primary btn-lg",
                        alt: "Support the Harlem Spelling Bee",
                        title: "Support the Harlem Spelling Bee"
            %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-block">
            <h1 class="spe-bee-redange">
              <%= icon "handshake-o" %> Sponsors
            </h1>
            <p>
              Play a leading role towards a more educated and economically sound
              Harlem.
            </p>
            <%= link_to "Support the Bee",
                        "#",
                        role: "button",
                        class: "btn btn-primary btn-lg",
                        alt: "Support the Harlem Spelling Bee",
                        title: "Support the Harlem Spelling Bee"
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-faded">
  <div class="row p-3">
    <div class="col-md-4 mb-3 mt-3">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-outline-primary spe-bee-nav" do %>
        <i class="fa fa-users"></i> Students
      <% end %>
    </div>
    <div class="col-md-4 mb-3 mt-3">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-outline-primary spe-bee-nav" do %>
        <i class="fa fa-user-circle"></i> Teachers
      <% end %>
    </div>
    <div class="col-md-4 mb-3 mt-3">
      <%= link_to "#",
          role: "button",
          class: "btn btn-lg btn-block btn-outline-primary spe-bee-nav" do %>
        <i class="fa fa-handshake-o"></i> Sponsors
      <% end %>
    </div>
  </div>
</section>
<%= render "static_pages/spelling_bee/questions_students" %>
<%= render "static_pages/spelling_bee/questions_teachers" %>
<%= render "static_pages/spelling_bee/questions_sponsors" %>
<section class="guest-section-home" id="spe-bee-contact-us">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><i class="fa fa-envelope"></i> Contact Us</h1>
      <%= render "contact_us_mailer/form" %>
    </div>
  </div>
</section>
