<% provide(:title, "Log In") %>

<div class="well form-signin">
  <%= form_for(:session, url: login_path) do |f| %>
    <h2 class="form-signin-heading">Please log in</h2>

    <%= f.label :username, class: "sr-only" %>
    <%= f.text_field :username, class: 'form-control', placeholder: "Username" %>

    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

    <%= f.submit "Log in", class: "btn btn-default btn-lg" %>
  <% end %>
  <br/>

  <div class="center">
    <small class="basic-apple-blue-link">
      New user?
      <%= link_to "Sign up now", signup_path %>!</p>
    </small>

    <small class="basic-apple-blue-link">
      Forgot your password?
      <%= mail_to "help@leksi.education", "Email us",
         subject: "Password Reset" %>
      to reset it.
    </small>
  </div>
</div>
