<h3 class="mb-3"><%= classroom.name %></h3>
<div class="row">
	<div class="col-md-6">
		<div class="card mb-3">
			<div class="card-body">
				<h4 class="card-title">Most Logins</h4>
				<p class="card-text">
					The ten students below have logged into Leksi the most compared to
					their classmates.
				</p>
				<%= pie_chart @most_logins %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card mb-3">
			<div class="card-body">
				<h4 class="card-title">Least Logins</h4>
				<p class="card-text">
					The ten students below have logged into Leksi the least compared to
					their classmates.
				</p>
				<%= pie_chart @least_logins %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card mb-3">
			<div class="card-body">
				<h4 class="card-title">Most Time Spent</h4>
				<p class="card-text">
					The five students below have spent the most time, in hours, completing
					the various activities compared to their classmates.
				</p>
				<%= column_chart @most_time_spent %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card mb-3">
			<div class="card-body">
				<h4 class="card-title">Least Time Spent</h4>
				<p class="card-text">
					The five students below have spent the least time, in hours,
					completing the various activities compared to their classmates.
				</p>
				<%= column_chart @least_time_spent %>
			</div>
		</div>
	</div>
</div>
<div class="card mb-3">
	<div class="card-body">
		<h4 class="card-title">Fundamentals</h4>
		<p class="card-text">
			The line graph below shows how many interactions <%= classroom.name %>
			students have with the activities that focus on spelling, pronunciation,
			meanings, synonyms, and antonyms.
		</p>
		<%= line_chart GameStat.funds.group_by_week(:created_at, last: 10).count %>
	</div>
</div>
<div class="card mb-3">
	<div class="card-body">
		<h4 class="card-title">Jeopardy</h4>
		<p class="card-text">
			The line graph below shows how many interactions <%= classroom.name %>
			students have with the Jeopardy activity.
		</p>

		<%= line_chart GameStat.jeops.group_by_week(:created_at, last: 10).count %>
	</div>
</div>
<div class="card mb-3">
	<div class="card-body">
		<h4 class="card-title">Freestyles</h4>
		<p class="card-text">
			The line graph below shows how many interactions <%= classroom.name %>
			students have with the open-ended response activities.
		</p>
		<%= line_chart GameStat.frees.group_by_week(:created_at, last: 10).count %>
	</div>
</div>
