<% provide(:title, "Get Started") %>
<% provide(:header, "Get Started") %>

<div class="alert alert-warning lead" role="alert">
	<i class="fa fa-user"></i>
	<span id="gs-take-action-words">
		Welcome, Guest! If you want to skip this setup,
		<span class="basic-apple-blue-link">
			<%= link_to "sign up now", signup_path %>.
		</span>
	</span>
</div>

<div id="gs-setup-container">
	<div id="guest-weekly-goal-container" class="lead">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-clock-o"></i>
					How many words do you want to master every week?
				</h4>
			</div>
			<div class="panel-body">
				<%= render "weekly_goals/weekly_goal", user: @guest %>
			</div>
		</div>
	</div>

	<div id="guest-select-words-container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					To get you started, we selected five words for you
					<i class="fa fa-hand-o-down"></i>.
				</h4>
			</div>
			<div class="panel-body">
				<span class="lead">
					Tap any word to begin mastering it.
				</span>
				<div id="gs-rand-words-container">
					<div id="gs-rand-word-ids"><%= @word_ids %></div>
					<div class="row">
						<div class="col-sm-7 center">
							<%= render "guests/select_new_words" %>
							<div id="gs-game-zone-container">
								<%= render "guests/game_zone", words: @first_row_rand_words %>
								<%= render "guests/game_zone", words: @second_row_rand_words %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render "shared/spinner" %>

<div id="gs-fundamentals-container"></div>

<div id="gs-save-progress-container" class="lead">
	<span id="gs-time-spent"></span>
	<p>
		Good job learning the Fundamentals for
		'<span id="completed-fund-word-name"></span>'.
		You're on your way towards mastering this word!
	</p>
	To learn the Fundamentals for any other word, play the other games,
	save your progress, and so much more, sign up for free!
</div>

<div class="round-the-buttons">
	<button type="button" class="btn btn-success btn-lg btn-block"
		id="gs-finish-btn">
		<i class="fa fa-flag"></i>
		Finish
	</button>
	<button type="button" class="btn btn-success btn-lg btn-block"
		id="gs-save-progress-btn">
		<i class="fa fa-save"></i>
		Save my progress
	</button>
</div>
