<% provide(:header, "Meaning Alternatives (#{@m_a_count})") %>
<div class="text-muted filter-div">
  Filter:
  <%= link_to admin_meaning_alts_path do %>
    <span class="text-primary active">
      <i class="fa fa-sort-alpha-asc"></i> Alphabetical
    </span>
  <% end %>
  |
  <%= link_to admin_meaning_alts_path(filter: "latest") do %>
    <span>
      <i class="fa fa-calendar hover pointer"></i> Created at
    </span>
  <% end %>
  <div class="float-xs-right">
    <p>
      Total Meaning Alternatives:
      <span id="meaning-alts-count">
        <%= @meaning_alts_count %>
      </span>
      <br>
      <%= link_to new_school_meaning_alt_path,
                  role: "button",
                  class: "btn btn-primary btn-block" do
      %>
        <i class="fa fa-plus-circle"></i> Create
      <% end %>
    </p>
  </div>
  <div class="clear"></div>
</div>
<%= render "admin/meaning_alts/meaning_alts", meaning_alts: @meaning_alts %>
