<%= form_for(@landing_page) do |f| %>
  <%= render "shared/error_messages", object: @landing_page %>
  <%= hidden_field_tag :target, target %>
  <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.text_field :email,
      class: "form-control",
      placeholder: "Example: john@doe.com"
    %>
  </div>
  <%= f.submit "SEND", class: "form-control btn btn-lg btn-warning" %>
<% end %>
