<%= form_for [blog_post, comment],
  url: "/blog_posts/#{blog_post.id}/comments",
  html: { class: "blog-comment-form" } do |f| %>

  <%= render "shared/error_messages", object: @comment %>

  <div class="form-group">
    <%= f.label :description, class: "sr-only" %>
    <%= f.text_area :description, class: "form-control",
      placeholder: "Type your response here" %>
  </div>

  <%= f.submit "Submit", class: "form-control btn btn-success" %>
<% end %>
