<div class="card">
	<div class="card-block">
		<h1 class="card-title">
			<i class="fa fa-wrench"></i>
			Class Tools
		</h1>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= link_to school_student_words_path do %>
				<i class="fa fa-book fa-fw"></i> Add words for students
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to new_school_word_path do %>
				<i class="fa fa-plus-circle fa-fw"></i> Create a word
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to school_classes_path do %>
				<i class="fa fa-group"></i> View my classes
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to school_messages_path do %>
				<i class="fa fa-archive"></i> Review Freestyle responses
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to school_progress_path do %>
				<i class="fa fa-line-chart"></i> View classwide stats
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to school_frayer_path do %>
				<i class="fa fa-book fa-fw"></i> Project Frayer Model
			<% end %>
		</li>
	</ul>
</div>
