<% provide(:title, "Menu") %>
<% provide(:header, "Menu") %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3" align="center">
    <div class="stu-pic center"></div>

    <div>
      <span class="lead">
        <strong><%= current_user.username %></strong>
      </span>
      <br>

      <span class="basic-apple-blue-link inline-block" align="left">
        <%= link_to "Edit Profile", edit_user_path(current_user) %>

        <% if logged_in_and_is_teacher?(current_user) %>
          |
          <%= link_to "Activate Braniac Edition", menu_path %>
        <% end %>

        |
        <%= link_to "Log Out", logout_path, method: :delete %>
      </span>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-6">
    <div class="box-shadow-border-home">
      <div class="pull-right">
        <%= image_tag("add_color_65.png", alt: "Add") %>
      </div>
      <p class="lead">
        Words
      </p>

      <div class="inline-block">
        <%= image_tag("add_black_filled_32.png", alt: "Add") %>
      </div>
      &nbsp;
      <div class="basic-apple-blue-link inline-block new-word-container">
        <%= link_to "Create", new_school_word_path %>
      </div>
    </div>

    <div class="box-shadow-border-home">
      <div class="pull-right">
        <%= image_tag("tag_color_65.png", alt: "Tags") %>
      </div>
      <p class="lead">
        Tags
      </p>

      <div class="inline-block">
        <%= image_tag("add_black_filled_32.png", alt: "Add") %>
      </div>
      &nbsp;
      <div class="basic-apple-blue-link inline-block new-tag-container">
        <%= link_to "Create", new_tag_path %>
      </div>

      <hr>

      <div class="inline-block">
        <%= image_tag("tag_black_filled_32.png", alt: "Tag") %>
      </div>
      &nbsp;
      <div class="basic-apple-blue-link inline-block">
        <%= link_to "View All", myTags_path %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="box-shadow-border-home">
      <div class="pull-right">
        <%= image_tag("bug_color_65.png", alt: "Bug") %>
      </div>
      <p class="lead">
        Report a Bug
      </p>

      Yikes, did something go wrong? Let us know and we'll squash the bug/fix
      the problem asap. Thanks for your patience.

      <div class="feedback-form-container">
        <%= render "feedbacks/form", kind: "bug" %>
      </div>
    </div>

    <div class="box-shadow-border-home">
      <div class="pull-right">
        <%= image_tag("wish_color_65.png", alt: "Wish") %>
      </div>
      <p class="lead">
        I Wish Leksi Could...
      </p>

      <div class="feedback-form-container">
        <%= render "feedbacks/form", kind: "wish" %>
      </div>
    </div>

    <div class="box-shadow-border-home">
      <div class="pull-right">
        <%= image_tag("rating_color_65.png", alt: "Rating") %>
      </div>
      <p class="lead">
        Rate Leksi
      </p>

      <% if user_already_reviewed_latest_version? %>
        Thanks for rating Leksi
        <%= version_display_name(latest_version.number) %>!
      <% else %>
        <div>
          <%= render "reviews/form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
