<% provide(:title, "Review") %>
<% provide(:header, "Review") %>

<% if @responses.any? %>
	<%= will_paginate @sliced_responses, renderer: BootstrapPagination::Rails %>

	<% @sliced_responses.each do |batch| %>
		<div class="box-shadow-border">
			<div class="row">
				<div class="col-xs-5 col-sm-3">
					<h3 class="freestyle-types">



						<% if current_user.is_demo_teacher? %>
							<%= User.demo_random_username %>
						<% else %>
							<%= batch.first.user_word.user.username %>
						<% end %>





						<br>
						<small><%= time_ago_in_words(batch.first.updated_at) %> ago</small>
					</h3>
				</div>

				<div class="col-xs-7 col-sm-9">
					<h5 class="freestyle-types"><%= batch.first.focus %></h5>

					<p class="lead apple-blue">
						<%= batch.first.user_word.word.name %>
					</p>

					<% batch.each_with_index do |fr, i| %>
						<p><%= i + 1 %>. <%= fr.input %></p>
					<% end %>
				</div>
			</div>
		</div>

		<hr>
	<% end %>
<% end %>

<%= will_paginate @sliced_responses, renderer: BootstrapPagination::Rails %>
