<% if results[:successes].empty? && results[:errors].empty? %>
	<div class="alert alert-info">
		<%= icon "info-circle" %> Nothing was done. This is likely because only
		blank usernames were submitted. Please try again or contact
		<%= mail_to "help@leksi.education",
								nil,
								subject: "Help Me Create Usernames"
		%>.
	</div>
	<%= render "school/students/form",
						 classroom: @classroom,
						 student: @student,
						 btn_text: "Create"
	%>
<% else %>
	<% unless results[:successes].empty? %>
		<div class="card card-outline-success mb-3">
			<div class="card-body">
				<h4 class="card-title text-success">
					Success!
					<%= pluralize(results[:successes].count, "Username") %> Created
				</h4>
				<div class="alert alert-success" role="alert">
					<%= icon "info-circle" %>
					Your new students can now log into Leksi with the link
					<em>Leksi.education/login</em> and
					should change their passwords upon logging in for the first time.
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<th>ID</th>
						<th>Username</th>
						<th>Password</th>

						<% results[:successes].each do |student| %>
							<tr>
								<td><%= student.id %></td>
								<td><%= student.username %></td>
								<td><%= "leksi#{Date.today.year}" %></td>
								<td>
									<%= link_to user_path(student),
										role: "button",
										method: :delete, data: { confirm: @del_account_msg },
										class: "btn btn-sm btn-secondary",
										method: :delete do
									%>
										<i class="fa fa-trash"></i>
										Remove
									<% end %>
								</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">
					Create More Usernames (Optional)
				</h4>
				<div class="alert alert-info" role="alert">
					<%= icon "info-circle" %>
					If you forgot to add a student to this classroom, no worries!
					You can create more usernames below.
				</div>
				<p class="card-text"></p>
				<%= render "school/students/form",
									 classroom: @classroom,
									 student: @student,
									 btn_text: "Create"
				%>
			</div>
		</div>
	<% end %>
	<% unless results[:errors].empty? %>
		<div class="card card-outline-danger">
			<div class="card-body">
				<h4 class="card-title text-danger">
					<%= pluralize(results[:errors].count, "Username") %> Not Created
				</h4>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<th>Username</th>
						<th>Messages</th>

						<% results[:errors].each do |student| %>
							<tr>
								<td><%= student.username %></td>
								<td>
									<ul>
										<% student.errors.full_messages.each do |msg| %>
											<li><%= msg %></li>
										<% end %>
									</ul>
								</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
			<div class="card-body">
				<div class="alert alert-danger" role="alert">
					<%= icon "warning" %>
					Since there was an issue creating the username above, please try again
					below.
				</div>
				<%= render "school/students/form",
									 classroom: @classroom,
									 student: @student,
									 btn_text: "Create"
				%>
			</div>
		</div>
	<% end %>
<% end %>
