<!--  TODO Create frontend validations -->
<%= form_tag(school_classroom_students_path(classroom), remote: true) do |f| %>
  <div class="form-group">
    <%= label_tag :username, nil, class: "sr-only form-control-label" %>
    <%= text_area_tag :username,
                      nil,
                      class: "form-control",
                      placeholder: "Username(s) *",
                      autofocus: "true"
    %>
    <p class="form-text text-muted small">
      <%= icon "lightbulb-o" %> Tip:
      To create more than one user at a time, separate each username with a comma,
    	for example: <em>username1, username2, username3</em>
    </p>
  </div>
  <%= button_tag type: "submit", class: "btn btn-primary btn-block" do %>
    <%= icon "plus-circle" %>
    <%= btn_text %>
  <% end %>
<% end %>
