<div class="table-responsive">
	<table class="table table-bordered">
		<th>Word</th>
		<th>Game</th>
		<th>Grade</th>
		<th><%= icon "commenting-o" %></th>
		<th></th>
		<% freestyles.each do |free| %>
			<tr>
				<td>
					<%= free.user_word.word.name %>
				</td>
				<td>
					<% if free.status == "pass" %>
						<%= free.game %>
					<% else %>
						<%= link_to free_game_link(
													free.user_word.word.id,
													free_game_num(free.game),
													free.id
												), class: "btn btn-primary btn-block",
												remote: true do
						%>
							<%= icon "play-circle" %> Play Again (<%= free.game %>)
						<% end %>
					<% end %>
				</td>
				<td><%= icon_and_status(free) %></td>
				<td><%= icon "commenting-o" if free.has_comments? %></td>
				<td>
					<%= link_to "Read comments", "#",
							"data-toggle": "modal",
							"data-target": "#see-free-#{free.id}"
					%>
					<div class="modal fade"
							 id="see-free-<%= free.id %>"
							 tabindex="-1" role="dialog"
							 aria-labelledby="exampleModalLongTitle"
							 aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">
										Freestyle Response
										<br>
										<small class="text-muted">
											See what you wrote, your grade, and any
											Teacher comments below.
										</small>
									</h5>
									<button type="button"
													class="close"
													data-dismiss="modal"
													aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="card mb-3">
										<div class="card-body" data-free-id="<%= free.id %>">
											<h4 class="card-title">
												<%= icon "gamepad" %>
												Game: <%= free.game %>
											</h4>
											<p class="card-text">
												<small><%= icon "quote-left" %></small>
												<%= highlight(
													free.input,
													free.user_word.word.name
												) %>
												<small><%= icon "quote-right" %></small>
											</p>
											<p>
												Your Grade:
												<% if free.status == "pass" %>
													<span class="text-success">
														<%= icon "--1" %> pass
													</span>
												<% else %>
													<span class="text-danger">
														<%= emoji "-1" %> redo
													</span>
												<% end %>
											</p>
										</div>
										<div class="card-footer text-center text-muted">
											You wrote this <%= time_ago_in_words(free.created_at) %>
											ago
										</div>
									</div>
									<div class="card mb-3">
										<div class="card-body" data-free-id="<%= free.id %>">
											<h4 class="card-title">
												<%= icon "commenting-o" %> Teacher Comments
											</h4>
											<p class="card-text">
												<% if free.has_comments? %>
													<% free.comments.each do |comment| %>
														<small><%= icon "quote-left" %></small>
														<%= comment.body %>
													<% end %>
													<small><%= icon "quote-right" %></small>
												<% else %>
													<small class="text-muted">None</small>
												<% end %>
											</p>
											<% if free.status == "redo" %>
												<%= link_to free_game_link(
																			free.user_word.word.id,
																			free_game_num(free.game),
																			free.id
																		), class: "btn btn-primary btn-block",
																		remote: true do
												%>
													<%= icon "play-circle" %>
													Play Again (<%= free.game %>)
												<% end %>
											<% end %>
										</div>
										<% if free.has_comments? %>
											<div class="card-footer text-center text-muted">
												Your teacher made this comment
												<%= time_ago_in_words(free.updated_at) %>
												ago
											</div>
										<% end %>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button"
													class="btn btn-secondary"
													data-dismiss="modal">
										Close
									</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
</div>
