<% if classroom.has_students? %>
	<div class="table-responsive">
	  <table class="table table-bordered table-hover">
	    <th>ID</th>
	    <th>Username</th>
	    <th>Logins</th>
	    <th>Words</th>
	    <td>Total: <%= pluralize(@classroom_stu_count, "student") %></td>

	    <% classroom.students.alphabetical.each do |student| %>
	      <tr>
	        <td><%= student.id %></td>
	        <td><%= student.username %></td>
	        <td>
						Number of Logins: <%= student.num_logins %>
						<br>
						Last Login Time:
	          <% if student.last_login.nil? %>
							<span class="text-danger">Never</span>
	          <% else %>
	            <%= time_ago_in_words(student.last_login) %> ago
	          <% end %>
	        </td>
	        <td>
						Number of Words: <%= student.num_words %>
						<br>
						Words Mastered: <%= student.myLeksi_mastery %>%
					</td>
	        <td>
						<%= link_to user_path(student),
							role: "button",
							method: :delete, data: { confirm: @del_account_msg },
							class: "btn btn-sm btn-secondary",
							method: :delete do
						%>
							<i class="fa fa-trash"></i>
							Remove
						<% end %>
					</td>
	      </tr>
	    <% end %>
    </table>
	</div>
<% else %>
	<div class="alert alert-info">
		<%= icon "info-circle" %> This classroom doesn't have any students yet.
		Click the blue button above to add students.
	</div>
<% end %>
