<% if classroom.has_students? %>
	<div class="table-responsive">
	  <table class="table table-bordered table-striped table-sm">
			<thead>
				<tr>
					<th>ID</th>
					<th>
						Username
						<%= link_to new_school_classroom_student_path(classroom) do %>
							<%= icon "plus-circle" %> New
						<% end %>
					</th>
					<th>Num Logins</th>
					<th>Last Login</th>
				</tr>
			</thead>

	    <% classroom.students.each do |student| %>
	      <tr>
	        <th scope="row"><%= student.id %></th>
	        <td>
						<%= student.username %>
						<%= link_to user_path(student),
												method: :delete,
												class: "text-danger",
												title: "Remove #{student.username} from classroom?",
												method: :delete do
						%>
							<%= icon "remove" %>
						<% end %>
					</td>
	        <td>
						<%= student.num_logins %>
	        </td>
					<td>
						<% if student.last_login.nil? %>
							<span class="text-warning">never</span>
						<% else %>
							<%= time_ago_in_words(student.last_login) %> ago
						<% end %>
					</td>
	      </tr>
	    <% end %>
    </table>
	</div>
<% else %>
	<div class="alert alert-info">
		<%= icon "info-circle" %> This classroom doesn't have any students yet.
		<%= link_to "Click here",
								new_school_classroom_student_path(classroom),
								class: "alert-link"
		%>
		to add students to this classroom.
	</div>
<% end %>
