<h1 class="mb-3">
  <%= icon "book" %> Words
  <small class="text-muted"><%= @word_count %></small>
</h1>
<%= paginate @words %>
<div class="card-columns">
  <% @words.each do |word| %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to "\(#{word.id}\) #{word.name}", word %>
            <span class="text-muted"><%= word.part_of_speech %></span>
          </h4>
        </div>
      </div>
  <% end %>
</div>
<%= paginate @words %>
