<footer class="footer static text-center mt-5 bg-faded">
	<div class="row text-muted mt-5">
		<div class="col-md-4 mb-5">
			<div>
				<h5 class="mb-5">As featured in...</h5>
				<div>
					<%= link_to image_tag("ed-tech-times.png",
												class: "img-fluid hover",
												alt: "EdTech Times Leksi Feature",
												title: "EdTech Times Leksi Feature"),
												"https://edtechtimes.com/2016/03/17/vocabulary-app-leksi-helps-students-improve-literacy/",
												target: "_blank"
					%>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-5">
			<h5 class="mb-5">Talk to Us!</h5>
			<%= link_to spelling_bee_contact_us_path,
									title: "Contact Leksi via our online form." do
			%>
				<%= icon "envelope fa-3x" %>
			<% end %>
			&nbsp;
			<%= link_to "https://www.facebook.com/LeksiEducation",
									title: "Say hello to Leksi on Facebook!",
									target: "_blank" do
			%>
				<%= icon "facebook fa-3x" %>
			<% end %>
			&nbsp;
			<%= link_to "https://twitter.com/LeksiEducation",
									title: "Say hello to Leksi on Twitter",
									target: "_blank" do
			%>
				<%= icon "twitter fa-3x" %>
			<% end %>
			&nbsp;
			<%= link_to "https://www.linkedin.com/company-beta/9219103/",
									title: "Connect with Leksi via LinkedIn" do
			%>
				<%= icon "linkedin fa-3x" %>
			<% end %>
		</div>
		<div class="col-md-4 mb-5">
			<h5 class="mb-5">The Legal Stuff...</h5>
				<%= link_to "Legal Notice",
										"https://www.facebook.com/LeksiEducation",
										target: "_blank",
										title: "Leksi Legal Notice"
				%>
				<br>
				<%= link_to "Privacy Policy",
										"https://www.facebook.com/LeksiEducation",
										target: "_blank",
										title: "Leksi Privacy Policy"
				%>
				<br>
				<%= link_to "User Agreement",
										"https://www.facebook.com/LeksiEducation",
										target: "_blank",
										title: "Leksi User Agreement"
				%>
		</div>
	</div>
	<div class="pb-3">
		&copy; <%= Date.today.year %>
		Leksi&#8482; Education
	</div>
</footer>
