<% if controller?("school/classrooms") || controller?("school/students") %>
	<%= link_to school_classrooms_path, class: "nav-item nav-link active" do %>
		<%= emoji "busts_in_silhouette" %> <strong>Classrooms</strong>
	<% end %>
<% else %>
	<%= link_to school_classrooms_path, class: "nav-item nav-link" do %>
		<%= emoji "busts_in_silhouette" %> Classrooms
	<% end %>
<% end %>

<div class="nav-item dropdown">
	<% if controller?("school/words") && action?("index") ||
				controller?("school/example_non_examples") ||
				controller?("school/meaning_alts")
	%>
		<a class="nav-link dropdown-toggle active"
			 href="#"
			 id="navbarDropdownMenuLink"
			 data-toggle="dropdown"
			 aria-haspopup="true"
			 aria-expanded="false">
			 <%= emoji "pencil2" %>
	    <strong>My Content</strong>
	  </a>
	<% else %>
		<a class="nav-link dropdown-toggle"
			 href="#"
			 id="navbarDropdownMenuLink"
			 data-toggle="dropdown"
			 aria-haspopup="true"
			 aria-expanded="false">
			 <%= emoji "pencil2" %>
	    My Content
	  </a>
	<% end %>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		<%= link_to school_words_path, class: "dropdown-item" do %>
			Words
		<% end %>
		<%= link_to school_meaning_alts_path, class: "dropdown-item" do %>
			Decisions, Decisions
		<% end %>
		<%= link_to school_example_non_examples_path, class: "dropdown-item" do %>
			Example/Non-Examples
		<% end %>
  </div>
</div>
<div class="nav-item dropdown">
	<% if controller?("school/words") && action?("new") ||
				controller?("school/searches")
	%>
		<a class="nav-link dropdown-toggle active"
			 href="#"
			 id="navbarDropdownMenuLink"
			 data-toggle="dropdown"
			 aria-haspopup="true"
			 aria-expanded="false">
			 <%= emoji "book" %>
	    <strong>Dictionary</strong>
	  </a>
	<% else %>
		<a class="nav-link dropdown-toggle"
			 href="#"
			 id="navbarDropdownMenuLink"
			 data-toggle="dropdown"
			 aria-haspopup="true"
			 aria-expanded="false">
			 <%= emoji "book" %>
	    Dictionary
	  </a>
	<% end %>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		<%= link_to new_school_word_path, class: "dropdown-item",
																			title: "Create New Dictionary Word" do
    %>
			<%= icon "plus-circle" %> Create New Word
		<% end %>
		<%= link_to school_search_path, class: "dropdown-item",
																			title: "Look up Dictionary Words" do
    %>
			<%= icon "search" %> Find Existing Words
		<% end %>
  </div>
</div>
