<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand mb-0">Harlem Spelling Bee</h1>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav mr-auto">
      <%= render "layouts/nav/nav_spelling_bee_links" %>
    </div>
    <div>
    	<%= link_to "#" do %>
        <%= icon "facebook" %>
    	<% end %>
    	<%= link_to "#" do %>
        <%= icon "twitter" %>
    	<% end %>
    </div>
  </div>
</nav>
