<% if controller?("school/current_user") && action?("home") %>
	<%= link_to school_home_path, class: "nav-item nav-link active" do %>
		<i class="fa fa-home"></i> Home
	<% end %>
<% else %>
	<%= link_to school_home_path, class: "nav-item nav-link" do %>
		<i class="fa fa-home"></i> Home
	<% end %>
<% end %>

<% if controller?("school/classrooms") || controller?("school/students") %>
	<%= link_to school_classrooms_path, class: "nav-item nav-link active" do %>
		<i class="fa fa-building"></i> Classrooms
	<% end %>
<% else %>
	<%= link_to school_classrooms_path, class: "nav-item nav-link" do %>
		<i class="fa fa-building"></i> Classrooms
	<% end %>
<% end %>

<% if controller?("school/stats") %>
	<%= link_to school_stats_path, class: "nav-item nav-link active" do %>
		<%= icon "line-chart" %> Stats
	<% end %>
<% else %>
	<%= link_to school_stats_path, class: "nav-item nav-link" do %>
		<%= icon "line-chart" %> Stats
	<% end %>
<% end %>

<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"
		 href="#"
		 id="navbarDropdownMenuLink"
		 data-toggle="dropdown"
		 aria-haspopup="true"
		 aria-expanded="false">
		 <%= icon "pencil" %>
    Content
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		<%= link_to new_school_word_path, class: "dropdown-item" do %>
			Create New Word
		<% end %>
		<%= link_to "#", class: "dropdown-item" do %>
			View My Words
		<% end %>
  </div>
</div>

<%# if controller?("school/searches") %>
	<%#= link_to school_search_path, class: "nav-item nav-link active" do %>
		<!-- <i class="fa fa-search"></i> Look Up -->
	<%# end %>
<%# else %>
	<%#= link_to school_search_path, class: "nav-item nav-link" do %>
		<!-- <i class="fa fa-search"></i> Look Up -->
	<%# end %>
<%# end %>

<%= render "layouts/nav/settings", path: school_settings_path %>
