<h1>
  <%= icon "building" %> Classrooms
  <small class="text-muted"><%= @classrooms_count %></small>
</h1>
<%= paginate @classrooms %>
<table class="table table-responsive table-bordered table-sm table-striped table-hover">
  <th>ID</th>
  <th>Name</th>
  <th>Num Students</th>
  <th>Teacher</th>
  <th>Grade</th>
  <th>Created</th>

  <% @classrooms.each do |classroom| %>
    <tr>
      <td><%= classroom.id %></td>
      <td><%= link_to classroom.name, admin_classroom_path(classroom) %></td>
      <td><%= classroom.num_students %></td>
      <td><%= classroom.teacher.username %></td>
      <td><%= classroom.grade %></td>
      <td><%= time_ago_in_words(classroom.created_at) %> ago</td>
    </tr>
  <% end %>
</table>
<%= paginate @classrooms %>
