<% provide(:title, "Activity") %>
<% provide(:header, "Activity") %>

<% if current_user.has_classroom_activity? %>
		<% @activities.each do |username, activities| %>
			<%= emoji "video_game" %>
			&nbsp;
			<b><%= username %></b> completed
			<%= link_to "#{activities.count} Fundamentals games",
									"#collapse-activities-funds-#{username.sub(".", "-")}",
									"data-toggle": "collapse",
									"aria-expanded": "false",
									"aria-controls": "collapse-activities-funds-#{username.sub(".", "-")}",
									title: "View the words #{username} played."

			%>
			<%= time_ago_in_words(activities.last.created_at) %> ago
			<ul class="collapse bg-light"
					id="collapse-activities-funds-<%= username.sub(".", "-") %>">
				<% activities.group_by { |a| a.trackable.user_word.word.name }
										 .each do |word_name, activity| %>
					<li>
						<%= word_name %>
						<span class="badge badge-secondary"><%= activity.count %></span>
					</li>
				<% end %>
			</ul>
			<hr>
		<% end %>
<% else %>
	<%= icon "info-circle" %>
	There isn't any recent activity.
<% end %>
