<% provide(:title, "Activity") %>
<% provide(:header, "Activity") %>

<div class="card">
	<div class="card-header">
		<h5>Saturday, February 10, 2018</h5>
	</div>
	<div class="card-body">
		<dl class="row">
			<dt class="col-sm-2 col-md-1">
				<%= emoji "video_game" %>
			</dt>
			<dd class="col-sm-6 col-md-11">
				<b>john.duran</b> completed
				<%= link_to "3 Fundamentals games",
										"#",
										title: "View the words John played."
				%>
				<ul class="bg-light">
					<li>companion <span class="badge badge-secondary">3</span></li>
					<li>abolish <span class="badge badge-secondary">5</span></li>
					<li>bland <span class="badge badge-secondary">1</span></li>
					<li>courteous <span class="badge badge-secondary">1</span></li>
				</ul>
			</dd>
			<dt class="col-sm-2 col-md-1">
				<%= emoji "bee fa-3x" %>
			</dt>
			<dd class="col-sm-6 col-md-11">
				<b>habiba.mcmoore</b> completed
				<%= link_to "12 Spellmaster games",
										"#",
										title: "View the words John played."
				%>
				<ul class="bg-light">
					<li>companion <span class="badge badge-secondary">3</span></li>
					<li>abolish <span class="badge badge-secondary">5</span></li>
					<li>bland <span class="badge badge-secondary">1</span></li>
					<li>courteous <span class="badge badge-secondary">1</span></li>
				</ul>
			</dd>
			<dt class="col-sm-2 col-md-1">
				<%= emoji "video_game" %>
			</dt>
			<dd class="col-sm-6 col-md-11">
				<b>alex.mcmoore</b> completed
				<%= link_to "3 Fundamentals games",
										"#",
										title: "View the words John played."
				%>
				<ul class="bg-light">
					<li>companion <span class="badge badge-secondary">3</span></li>
					<li>abolish <span class="badge badge-secondary">5</span></li>
					<li>bland <span class="badge badge-secondary">1</span></li>
					<li>courteous <span class="badge badge-secondary">1</span></li>
				</ul>
			</dd>
			<dt class="col-sm-2 col-md-1">
				<%= emoji "bee fa-3x" %>
			</dt>
			<dd class="col-sm-6 col-md-11">
				<b>naomi.turay</b> completed
				<%= link_to "20 Spellmaster games",
										"#",
										title: "View the words John played."
				%>
				<ul class="bg-light">
					<li>companion <span class="badge badge-secondary">3</span></li>
					<li>abolish <span class="badge badge-secondary">5</span></li>
					<li>bland <span class="badge badge-secondary">1</span></li>
					<li>courteous <span class="badge badge-secondary">1</span></li>
				</ul>
			</dd>
			<dt class="col-sm-2 col-md-1">
				<%= emoji "bee fa-3x" %>
			</dt>
			<dd class="col-sm-6 col-md-11">
				<b>warren.myers</b> completed
				<%= link_to "3 Spellmaster games",
										"#",
										title: "View the words John played."
				%>
				<ul class="bg-light">
					<li>companion <span class="badge badge-secondary">3</span></li>
					<li>abolish <span class="badge badge-secondary">5</span></li>
					<li>bland <span class="badge badge-secondary">1</span></li>
					<li>courteous <span class="badge badge-secondary">1</span></li>
				</ul>
			</dd>
			<dt class="col-sm-2 col-md-1">
				<%= emoji "video_game" %>
			</dt>
			<dd class="col-sm-6 col-md-11">
				<b>lilliann.freytes</b> completed
				<%= link_to "3 Fundamentals games",
										"#",
										title: "View the words John played."
				%>
				<ul class="bg-light">
					<li>companion <span class="badge badge-secondary">3</span></li>
					<li>abolish <span class="badge badge-secondary">5</span></li>
					<li>bland <span class="badge badge-secondary">1</span></li>
					<li>courteous <span class="badge badge-secondary">1</span></li>
				</ul>
			</dd>
			<dt class="col-sm-2 col-md-1">
				<%= emoji "video_game" %>
			</dt>
			<dd class="col-sm-6 col-md-11">
				<b>ethan.gibson</b> completed
				<%= link_to "3 Fundamentals games",
										"#",
										title: "View the words John played."
				%>
				<ul class="bg-light">
					<li>companion <span class="badge badge-secondary">3</span></li>
					<li>abolish <span class="badge badge-secondary">5</span></li>
					<li>bland <span class="badge badge-secondary">1</span></li>
					<li>courteous <span class="badge badge-secondary">1</span></li>
				</ul>
			</dd>
		</dl>
	</div>
</div>
