<% provide(:title, "Activity") %>

<h1 class="mb-5"><%= emoji "clipboard" %> Activity</h1>

<% if current_user.has_classroom_activity? %>
		<% @grouped_activities.each do |username, activities| %>
			<%= emoji "video_game" %>
			&nbsp;
			<b><%= username %></b> played
			<%= link_to "#{activities.count} games",
									"#collapse-activities-funds-#{username.sub(".", "-")}",
									"data-toggle": "collapse",
									"aria-expanded": "false",
									"aria-controls": "collapse-activities-funds-#{username.sub(".", "-")}",
									title: "View the words #{username} played."

			%>
			<ul class="collapse bg-light"
					id="collapse-activities-funds-<%= username.sub(".", "-") %>">
				<% activities.each do |activity| %>
					<li>
						<%= activity.trackable.user_word.word.name %>
						<span class="badge badge-secondary">
							<%= activity.trackable.game.name %>
						</span>
						<span class="text-muted">
							played <%= time_ago_in_words(activity.created_at) %> ago
						</span>
					</li>
				<% end %>
			</ul>
			<hr>
		<% end %>
<% else %>
	<span class="text-muted">
		<%= icon "info-circle" %>
		There isn't any recent activity.
	</span>
<% end %>
