<% provide(:title, "Activity") %>
<% provide(:header, "Activity") %>

<% if @any_activities_exist %>
	<div class="card">
		<div class="card-header">
			<h5>Up Until Today</h5>
		</div>
		<div class="card-body">
			<dl class="row">
				<% @user_activities.each do |username, activities| %>
					<dt class="col-sm-2 col-md-1">
						<%= emoji "video_game" %>
					</dt>
					<dd class="col-sm-6 col-md-11">
						<b><%= username %></b> completed

						<%= link_to "#{activities.count} Fundamentals games",
												"#",
												title: "View the words John played."
						%>
						<ul class="bg-light">
							<% activities.group_by { |a| a.trackable.user_word.word.name }
													 .each do |word_name, activity| %>
								<li>
									<%= word_name %>
									<span class="badge badge-secondary">
										<%= activity.count %>
									</span>
								</li>
							<% end %>
						</ul>
					</dd>
				<% end %>
			</dl>
		</div>
	</div>
<% else %>
	Nothing to track!
<% end %>
