<% if logged_in? %>
  <% if user_word.all_freestyles_completed? %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead">
          <i class="fa fa-commenting"></i>
          Freestyle Game Responses</p>
        <div class="row">
          <div class="col-xs-6">
            <h5>Semantic Map</h5>
            <% semantic_responses(user_word).each_with_index do |r, i| %>
            <p>
              <%= i + 1 %>. <%= r %>
            </p>
            <% end %>
          </div>
          <div class="col-xs-6">
            <h5>Word Map</h5>
            <% word_map_responses(user_word).each_with_index do |r, i| %>
            <p>
              <%= i + 1 %>. <%= r %>
            </p>
            <% end %>
          </div>
        </div>
        <hr>
        <div>
          <h5>Definition Map</h5>
          <% definition_map_responses(user_word).each_with_index do |r, i| %>
          <p>
            <%= i + 1 %>. <%= r %>
          </p>
          <% end %>
        </div>
        <hr>
        <div>
          <h5>Sentence Examples</h5>
          <% sentence_responses(user_word).each_with_index do |r, i| %>
          <p>
            <%= i + 1 %>. <%= r %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
