<%#= render "my_leksi/words", words: more_words %>
<% @current_user_words_pag.each_with_index do |word, index| %>
	<div class="card">
		<div class="card-block">
			<div class="float-xs-right">
				<%= render "my_leksi/mastery_percentage",
									 word: word,
									 user_word: UserWord.object(current_user, word)
				%>
			</div>
			<h2 class="card-title">
				<%= word.name %>
				<audio src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/<%= word.name %>.mp3"
							 id="audio"
							 preload="auto">
				</audio>
				<i class="fa fa-volume-up text-muted pointer hover"></i>
				<br>
				<small class="text-muted"><%= word.part_of_speech %></small>
			</h2>
			<p class="card-text">
				<%= array_of(word, "definition").first %>
			</p>
			<div class="text-xs-center">
				<a style="font-size: 2rem" data-toggle="collapse" href="#collapseWord<%= index %>" aria-expanded="false" aria-controls="collapseWord<%= index %>">
					<i class="em em-video_game hover"></i>
				</a>
			</div>
		</div>
		<div class="collapse" id="collapse-word-extra-<%= index %>">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					Fundamentals
					<div class="float-xs-right"><i class="fa fa-play-circle"></i></div>
				</li>
				<li class="list-group-item">
					Jeopardy
					<div class="float-xs-right"><i class="fa fa-play-circle"></i></div>
				</li>
				<li class="list-group-item">
					Freestyle
					<div class="float-xs-right"><i class="fa fa-play-circle"></i></div>
				</li>
			</ul>
		</div>
	</div>
<% end %>
