<% if user_word.all_freestyles_completed? %>
	<div class="card card-outline-info mb-3">
<% elsif user_word.jeopardy_completed? %>
	<div class="card card-outline-success mb-3">
<% elsif user_word.fundamental_completed? %>
	<div class="card card-outline-warning mb-3">
<% else %>
	<div class="card card-outline-danger mb-3">
<% end %>
	<div class="card-body">
		<% if word.has_photo? %>
			<%= image_tag word.photo, alt: "#{word.name}",
																class: "card-img-top"
			%>
		<% end %>
		<div class="float-right">
			<%= play_btn_small(user_word, word.id, user_word.current_game) %>
		</div>
		<%= render "words/basics", word: word %>
		<%= link_to myLeksi_show_path(word), class: "card-link" do %>
			<%= icon "play-circle" %>
			Play
		<% end %>
		<%= link_to myLeksi_show_path(word), class: "card-link" do %>
			<i class="fa fa-eye"></i>
			Meaning
		<% end %>
		<%= link_to myLeksi_show_path(word), class: "card-link" do %>
			<i class="fa fa-eye"></i>
			See details
		<% end %>
	</div>
</div>
