<div class="card mb-3">
	<div class="card-body pb-1">
		<h5 class="card-title"><i class="fa fa-gamepad"></i> Game Zone</h5>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= link_to "Level 1: Spelling Speed",
									fund_game_link(word_id, 1),
									class: "text-danger",
									remote: true
			%>
		</li>
		<li class="list-group-item">
			<%= link_to "Level 2: Jumbled Letters",
									fund_game_link(word_id, 2),
									class: "text-danger",
									remote: true
			%>
		</li>
		<li class="list-group-item">
			<%= link_to "Level 3: Say It Right",
									fund_game_link(word_id, 3),
									class: "text-danger",
									remote: true
			%>
		</li>
		<li class="list-group-item">
			<%= link_to "Level 4: Decisions, Decisions",
									fund_game_link(word_id, 4),
									class: "text-danger",
									remote: true
			%>
		</li>
		<li class="list-group-item">
			<%= link_to "Level 5: Examples/Non-Examples",
									fund_game_link(word_id, 5),
									class: "text-danger",
									remote: true
			%>
		</li>
		<li class="list-group-item">
			<%= link_to "Level 7: Jeopardy",
									jeop_game_link(word_id),
									class: "text-warning",
									remote: true
			%>
		</li>
		<li class="list-group-item text-muted">
			Match 'Em All
			<%#= link_to "Level 8: Match \'Em All",
									jeop_game_link(word_id),
									class: "text-warning",
									remote: true
			%>
		</li>
	  <li class="list-group-item">
			<%= link_to "Level 9: Sentence Stems",
									free_game_link(word_id, 9),
									class: "text-success",
									remote: true
			%>
		</li>
	  <li class="list-group-item">
			<%= link_to "Level 10: Word Relationships",
									free_game_link(word_id, 10),
									class: "text-success",
									remote: true
			%>
		</li>
	  <li class="list-group-item">
			<%= link_to "Level 11: Leksi Tale",
									free_game_link(word_id, 11),
									class: "text-success",
									remote: true
			%>
		</li>
	  <li class="list-group-item">
			<%= link_to "Level 12: Describe Me, Describe Me Not",
									free_game_link(word_id, 12),
									class: "text-success",
									remote: true
			%>
		</li>
	  <li class="list-group-item text-info">
			<%= link_to "Level X: In My Life",
									free_game_link(word_id, 13),
									class: "text-info",
									remote: true
			%>
		</li>
	</ul>
</div>
