<% title "View and master all of the words in your personal list." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps students master new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research study dictionary words" %>

<% if current_user.has_words? %>
    <% @current_user_user_words.each do |user_word| %>
      <dl class="row mb-4 lead">
        <% word = user_word.word %>

        <dt class="col-lg-4">
          <h1 class="d-inline">
            <%= play_btn_small(user_word, word.id, user_word.current_game) %>
            <%= word.name %>
          </h1>
        </dt>
        <dd class="col-lg-6">
          <span class="text-muted"><%= word.part_of_speech %></span>
          <%= array_of(word, "definition").first %>
        </dd>
        <dd class="col-lg-2">
          <%= button_to user_word_path(id: user_word.id),
            class: "btn btn-outline-secondary btn-sm",
            method: :delete do
          %>
            <i class="fa fa-trash"></i> Remove
          <% end %>
        </dd>
      </dl>
    <% end %>
  <%#= render "my_leksi/index_word", user_word: user_word,
                                    word: user_word.word
  %>
<% else %>
  <%= render "my_leksi/no_words_guide" %>
<% end %>
