<% title "View and master all of the words in your personal list." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps you master new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research study dictionary words" %>
<% provide(:header, "Words") %>

<% if !current_user.has_words? %>
  <%= render "my_leksi/no_words_guide" %>
<% else %>
  <div class="text-muted filter-div">
    Filter:
    <span class="text-primary active">
      <i class="fa fa-list-alt"></i> Cards
    </span>
    |
    <span>
      <i class="fa fa-list hover pointer"></i> List
    </span>
    |
    <span>
      <i class="fa fa-trophy hover pointer"></i> Levels
    </span>
    <div class="float-right">
      <p>
        You have <%= pluralize(@current_user_words_count, "word") %>.
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="card-columns"
       id="myLeksi-words"
       data-total="<%= @current_user_words_count %>">
    <% @current_user_user_words_pag.each do |user_word| %>
      <%= render "my_leksi/index_word", user_word: user_word %>
    <% end %>
  </div>
  <div class="text-center">
    <br>
    <%= render "shared/spinner" %>
    <p id="view-more-link-container"></p>
    <br>
    <br>
    <div id="myLeksi-pagination">
      <%= will_paginate @current_user_user_words_pag,
        renderer: BootstrapPagination::Rails
      %>
    </div>
  </div>
<% end %>
