<% title "View and master all of the words in your personal list." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps students master new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research study dictionary words" %>

<% if current_user.has_words? %>
  <div class="card bg-light mb-4">
    <div class="card-body text-muted">
      <%= icon "lightbulb-o" %> Tip: click a word to see more details or
      remove it from your Notebook.
    </div>
  </div>

  <% @current_user_user_words.each do |user_word| %>
    <dl class="notebook row ">
      <% word = user_word.word %>

      <dt class="col-lg-8">
        <h1 class="display-3">
          <%= link_to "#collapse#{word.id}",
                      class: "text-dark",
                      "data-toggle": "collapse",
                      "aria-expanded": "false",
                      "aria-controls": "collapse#{word.id}",
                      title: "Click to see the meaning of #{word.name}." do
          %>
            <%= word.name %>

            <% if user_word.fundamental_completed? %>
              <small><%= icon "trophy text-danger" %></small>
            <% end %>
          <% end %>
          <p class="collapse" id="collapse<%= word.id %>">
            <span class="text-muted"><%= word.part_of_speech %></span>
            <%= array_of(word, "definition").first %>
            <br>
            <br>
            <%= link_to user_word_path(id: user_word.id),
                        role: "button",
                        class: "btn btn-danger btn-small",
                        title: "Remove this word from your Notebook",
                        method: :delete do
            %>
              <%= icon "trash" %> Remove
            <% end %>
          </p>
        </h1>
      </dt>
      <dd class="col-lg-4">
        <% if user_word.fundamental_completed? %>
          <%= play_funds_game(word.id) %>
        <% else %>
          <%= play_funds_game(word.id) %>
        <% end %>
      </dd>
    </dl>
  <% end %>
  <!-- Show different colors based on current game -->
  <%#= render "my_leksi/index_word", user_word: user_word, word: user_word.word %>
<% else %>
  <%= render "my_leksi/no_words_guide" %>
<% end %>
