<% title "View and master all of the words in your personal list." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps students master new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research study dictionary words" %>

<% if current_user.has_words? %>
  <dl class="row">
    <% @current_user_user_words.each do |user_word| %>
      <% word = user_word.word %>
      <dt class="col-sm-3">
        <%= word.name %>
        <span class="text-muted"><%= word.part_of_speech %></span>
        <br>
        <% if word.has_photo? %>
          <%= image_tag word.photo, alt: "#{word.name}",
                                    class: "rounded border border-secondary",
                                    width: "100rem",
                                    height: "100rem"
          %>
        <% end %>
      </dt>
      <dd class="col-sm-9">

        <%= array_of(word, "definition").first %>
        <%= play_btn_small(user_word, word.id, user_word.current_game) %>
      </dd>
    <% end %>
  </dl>
  <%#= render "my_leksi/index_word", user_word: user_word,
                                    word: user_word.word
  %>
<% else %>
  <%= render "my_leksi/no_words_guide" %>
<% end %>
