<% title "View and master all of the words in your personal list." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps students master new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research study dictionary words" %>

<% if current_user.has_words? %>
  <div class="card bg-light mb-4">
    <%= link_to "#collapse-need-help",
                class: "text-dark",
                "data-toggle": "collapse",
                "aria-expanded": "false",
                "aria-controls": "collapse-need-help",
                title: "Click to get help for this page." do
    %>
      <div class="card-header">
        <%= icon "question-circle" %>
        Need Help?
      </div>
    <% end %>
    <div class="collapse card-body text-muted" id="collapse-need-help">
      <%= icon "lightbulb-o" %> Tip #1: click a word to see more details or
      remove it from your Notebook
      <br>
      <%= icon "lightbulb-o" %> Tip #2: click the game controller to play
      the activities for a word
      <br>
      <%= icon "lightbulb-o" %> Tip #3: a thumbs up means you
      completed the activities for that word. If not, get going!
    </div>
  </div>

  <% @current_user_user_words.each do |user_word| %>
    <dl class="notebook row ">
      <% word = user_word.word %>

      <dt class="col-lg-9">
        <h1 class="display-3 text-centter">
          <%= play_funds_game(word.id) %>
          <%= link_to "#collapse#{word.id}",
                      class: "text-dark",
                      "data-toggle": "collapse",
                      "aria-expanded": "false",
                      "aria-controls": "collapse#{word.id}",
                      title: "Click to see the meaning of #{word.name}." do
          %>
            <%= word.name %>
          <% end %>
          <% if user_word.fundamental_completed? %>
            <%= emoji "--1" %>
          <% end %>
          <p class="collapse" id="collapse<%= word.id %>">
            <span class="text-muted"><%= word.part_of_speech %></span>
            <%= array_of(word, "definition").first %>
            <br>
            <br>
            <%= link_to user_word_path(id: user_word.id),
                        role: "button",
                        class: "btn btn-danger btn-small",
                        title: "Remove this word from your Notebook",
                        method: :delete do
            %>
              <%= icon "trash" %> Remove
            <% end %>
          </p>
        </h1>
      </dt>
    </dl>
  <% end %>
  <!-- Show different colors based on current game -->
  <%#= render "my_leksi/index_word", user_word: user_word, word: user_word.word %>
<% else %>
  <%= render "my_leksi/no_words_guide" %>
<% end %>
