<% title "View and master all of the words in your personal list." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps you master new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research study dictionary words" %>
<% provide(:header, "Words") %>

<% if !current_user.has_words? %>
  <%= render "my_leksi/no_words_guide" %>
<% else %>
  <div class="text-muted">
    Filter:
    <i class="fa fa-book"></i>
    &nbsp;
    <i class="fa fa-tag"></i>
    &nbsp;
    <i class="fa fa-percent"></i>
    <div class="float-xs-right">
      <p>
        You have <%= pluralize(@current_user_words_count, "word") %>.
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="card-columns"
       id="myLeksi-words"
       data-total="<%= @current_user_words_count %>">
    <% @current_user_words_pag.each_with_index do |word, index| %>
      <div class="card">
        <div class="card-block">
          <div class="float-xs-right">
            <%= render "my_leksi/mastery_percentage",
                       word: word,
                       user_word: UserWord.object(current_user, word)
            %>
            <a data-toggle="collapse"
               href="#collapseWord<%= index %>"
               aria-expanded="false"
               aria-controls="collapseWord<%= index %>">
              <i class="fa fa-gamepad fa-2x"></i>
            </a>
          </div>
          <h2 class="card-title">
            <%= word.name %>
            <audio src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/<%= word.name %>.mp3"
                   id="audio"
                   preload="auto">
            </audio>
            <i class="fa fa-volume-up text-muted pointer hover"></i>
            <br>
            <small class="text-muted"><%= word.part_of_speech %></small>
          </h2>
          <p class="card-text">
            <%= array_of(word, "definition").first %>
          </p>
        </div>
        <div class="collapse" id="collapseWord<%= index %>">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to "Fundamentals", fund_game_link(word.id) %>
              <div class="float-xs-right"><i class="fa fa-play-circle"></i></div>
            </li>
            <li class="list-group-item">
              Jeopardy
              <div class="float-xs-right"><i class="fa fa-play-circle"></i></div>
            </li>
            <li class="list-group-item">
              Freestyle
              <div class="float-xs-right"><i class="fa fa-play-circle"></i></div>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-xs-center">
    <br>
    <%= render "shared/spinner" %>
    <p id="view-more-link-container"></p>
    <br>
    <br>
    <div id="myLeksi-pagination">
      <%= will_paginate @current_user_words_pag,
        renderer: BootstrapPagination::Rails
      %>
    </div>
  </div>
  <%#= render "my_leksi/words", words: @current_user_words_pag %>
<% end %>
