<% title "Words: #{@word.name}" %>
<% provide(:header, "Words") %>

<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				<%= render "words/definitions", word: @word %>
			</div>
			<div class="col-md-6">
				<%= render "words/examples", word: @word %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<%= render "words/synonyms", word: @word %>
			</div>
			<div class="col-md-6">
				<%= render "words/antonyms", word: @word %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<%= render "my_leksi/tags", word: @word %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<%= render "my_leksi/show_game_zone", word_id: @word.id %>
	</div>
</div>
<div class="card text-center mb-3">
	<div class="card-body">
		<%= render "my_leksi/remove", word: @word, user_word: @user_word %>
	</div>
</div>
