<div>
	<h2 class="basic-apple-blue-link">
		<%= link_to blog_post do %>
			<i class="fa fa-<%= icon %>"></i>
			<%= title %>
		<% end %>

		<br>

		<small><%= date %> ago</small>
	</h2>

	<p class="lead">
		<%= content %>
	</p>
</div>

<hr>
