<% title "Blog | All About Leksi, Part 2" %>
<% description "Our Founder describes why he started Leksi and his
	\'aha!\' moment." %>
<% set_meta_tags keywords: "blog research announcements vocabulary words
	literacy learning education vocab fun name" %>
<% set_meta_tags og: {
  title:    "Blog | All About Leksi, Part 2",
	description: "Our Founder describes why he started Leksi and his
		\'aha!\' moment."
} %>
<% set_meta_tags twitter: {
  card: "Our Founder describes why he started Leksi and his
		\'aha!\' moment.",
  title: "Blog | All About Leksi, Part 2",
  description: "Our Founder describes why he started Leksi and his
		\'aha!\' moment."
} %>

<%= render "static_pages/header", icon: "newspaper-o", header: "Leksi Blog" %>
<div class="thin-gray-section">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<ol class="breadcrumb basic-apple-blue-link">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Blog", blog_path %></li>
				<li class="active">All About Leksi, Part I: What's in a Name?</li>
			</ol>
			<h2>
				<i class="fa fa-lightbulb-o"></i>
				All About Leksi, Part 1: What's in a Name?
				<br>
				<small>January 8, 2016</small>
			</h2>
			<p class="italics">
				This is the first part in the series All About Leksi. If you're looking
				for the second post, here it is:
				<span class="basic-apple-blue-link">
					<%= link_to "All About Leksi, Part II: Our Founder's Aha Moment",
						all_about_leksi_part_2_path %>
				</span>
			</p>
			<p>
				So take a second and look at the snapshot below. Does anything catch
				your eye? If not, no worries - click the snapshot for the reveal.
			</p>
			<p id="blog-leksi-name-snapshot" class="pointer">
			  <%= image_tag("leksi_name.png",
			  alt: "Lexicon pronunciation first five letters",
			  class: "img-responsive") %>
			</p>
			<p id="blog-leksi-name-snapshot-revealed">
			  <%= image_tag("leksi_name_revealed.png",
			  alt: "Lexicon pronunciation first five letters revealed",
			  class: "img-responsive") %>
			</p>
		</div>
	</div>
</div>
