<% title "Blog | #{@blog_post.title}" %>
<% description "We spill the beans on the name \'Leksi\'." %>
<% set_meta_tags keywords: %w[blog research announcements vocabulary words
  literacy learning education vocab fun name] %>

<% set_meta_tags og: {
  title:    "Blog | All About Leksi, Part 1",
	description: "We spill the beans on the name \'Leksi\'.",
	url: "https://www.leksi.education/blog/all_about_leksi_part_1"
} %>

<% set_meta_tags twitter: {
  card: "We spill the beans on the name \'Leksi\'.",
  title: "Blog | All About Leksi, Part 1",
  description: "The Leksi Blog is the place for announcements, articles, advice,
    research, and so much more about language and words."
} %>

<%= render "static_pages/header", icon: "newspaper-o", header: "Leksi Blog" %>

<div class="thin-gray-section">
	<%= render "blog_posts/breadcrumbs" %>

	<h2>
    <i class="fa fa-<%= @blog_post.icon %>"></i>
		<%= @blog_post.title %>
		<br>
		<small><%= time_ago_in_words(@blog_post.created_at) %> ago</small>
	</h2>

	<%= simple_format(@blog_post.content) %>

	<%= render "blog_posts/all_about_leksi_part_1" if @blog_post.id == 1 %>

	<%= render "blog_posts/share" %>
</div>

<%= render "blog_posts/comments", blog_post: @blog_post, comment: @comment %>
