<%= form_for([:school, classroom]) do |f| %>
  <%= render "shared/error_messages", object: classroom %>
  <div class="form-group">
    <%= f.label :name, class: "form-control-label" %>
    <%= f.text_field :name,
                     class: "form-control",
                     autofocus: "true"
    %>
  </div>
  <div class="form-group">
    <%= f.label :grade, class: "form-control-label" %>
    <%= f.number_field :grade,
                       class: "form-control",
                       min: 1,
                       max: 8
    %>
    <p class="form-text text-muted">
      <small>
        Please enter a number from 1 through 8.
      </small>
    </p>
  </div>
  <!-- <div class="form-group"> -->
    <%#= f.label :classroom_id, "Grade", class: "form-control" %>
    <%#= f.collection_select :classroom_id,
                            (1..8).to_a,
                            :id,
                            :grade,
                            { prompt: "Select one" },
                            { class: "form-control" }
    %>
  <!-- </div> -->
  <%= f.button type: "submit", class: "btn btn-primary btn-block" do %>
    <%= icon "plus-circle" %> <%= btn_text %>
  <% end %>
<% end %>
