<% provide(:title, "Classrooms") %>
<% provide(:header, "Classrooms") %>

<div class="mb-3">
	<%= link_to new_school_classroom_path,
							role: "button",
							class: "btn btn-primary btn-block btn-lg",
							title: "Create a new Classroom" do
	%>
		<%= icon "plus-circle" %> Create a New Classroom
	<% end %>
</div>

<% if current_user.has_classrooms? %>
	<div class="card-deck">
		<% @classrooms.each do |classroom| %>
			<div class="card mb-3">
				<div class="card-body">
					<h4 class="card-title">
						<%= link_to classroom.name, school_classroom_path(classroom) %>
					</h4>
					<p class="card-text text-muted">
						Grade <%= classroom.grade %>
						<br>
						<%= pluralize(classroom.students.count, "student") %>
					</p>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="alert alert-info" role="alert">
		<%= icon "info-circle" %> You haven't created any Classrooms yet.
		Click the blue button above to get started on your first one.
	</div>
<% end %>
