<% provide(:title, "Classrooms") %>
<% provide(:header, "Classrooms") %>

<div class="mb-3">
	<%= link_to new_school_classroom_path,
							role: "button",
							class: "btn btn-primary btn-block btn-lg",
							title: "Create a new Classroom" do
	%>
		<%= icon "plus-circle" %> Create a New Classroom
	<% end %>
</div>

<% if current_user.has_classrooms? %>
	<table class="table table-bordered table-striped table-sm">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Grade</th>
			</tr>
		</thead>

		<% @classrooms.each do |classroom| %>
			<tr>
				<th scope="row"><%= classroom.id %></th>
				<td><%= classroom.name %></td>
				<td><%= classroom.grade %></td>
				<td>
					<%= link_to school_classroom_students_path(classroom) do %>
						<%= icon "eye" %> View <%= pluralize(classroom.num_students, "student") %>
					<% end %>
				</td>
				<td>
					<%= link_to new_school_classroom_student_path(classroom) do %>
						<%= icon "plus-circle" %> New Student(s)
					<% end %>
				</td>
				<td>
					<%= link_to school_classroom_add_words_path(classroom) do %>
						<%= icon "plus-circle" %> Add words
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<div class="alert alert-info" role="alert">
		<%= icon "info-circle" %> You haven't created any Classrooms yet.
		Click the blue button above to get started on your first one.
	</div>
<% end %>
