<% provide(:title, @title_and_header) %>
<% provide(:header, @title_and_header) %>

<div class="teacher-edition-stats-container">
	<div class="row">
		<div class="d-inline">
			<%= image_tag("log_in_color_50.png", alt: "Number of Logins") %>
		</div>

		<h4 class="d-inline">
			Number of Logins
			<small>
				Overall, this class has logged in
				<%= display_average_values(@class, "num_logins") %>	times.
			</small>
		</h4>

		<div class="clear"></div>

		<br>

		<div class="col-xs-6 light-red-bg">
			<%= render "school/schools/progress_category",
				students: @lowest_num_logins,
				stat: "num_logins"
			%>
		</div>

		<div class="col-xs-6 light-green-bg">
			<%= render "school/schools/progress_category",
				students: @highest_num_logins,
				stat: "num_logins"
			%>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="d-inline">
			<%= image_tag("level_up_color_50.png", alt: "myLeksi Mastery %") %>
		</div>

		<h4 class="d-inline">
			myLeksi Mastery Percentage
			<small>
				Overall, this class has mastered
				<%= display_average_values(@class, "myLeksi_mastery") %>%
				of their words.
			</small>
		</h4>

		<div class="clear"></div>

		<br>

		<div class="col-xs-6 light-red-bg">
			<%= render "school/schools/progress_category",
				students: @lowest_myLeksi_mastery,
				stat: "myLeksi_mastery"
			%>
		</div>

		<div class="col-xs-6 light-green-bg">
			<%= render "school/schools/progress_category",
				students: @highest_myLeksi_mastery,
				stat: "myLeksi_mastery"
			%>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="d-inline">
			<%= image_tag("myLeksi_color_50.png", alt: "Saved Words") %>
		</div>

		<h4 class="d-inline">
			Added Words
			<small>
				Overall, this class has added
				<%= display_average_objs(@class, "words") %> words.
			</small>
		</h4>

		<div class="clear"></div>

		<br>

		<div class="col-xs-6 light-red-bg">
			<%= render "school/schools/progress_category",
				students: @least_saved_words,
				stat: "num_words"
			%>
		</div>

		<div class="col-xs-6 light-green-bg">
			<%= render "school/schools/progress_category",
				students: @most_saved_words,
				stat: "num_words"
			%>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="d-inline">
			<%= image_tag("time_color_50.png", alt: "Time Spent Playing") %>
		</div>

		<h4 class="d-inline">
			Time Spent Playing
			<small>
				Overall, this class has spent
				<%= display_average_values(@class, "time_spent_playing").round(2) %>
				minutes completing all three games.
			</small>
		</h4>

		<div class="clear"></div>

		<br>

		<div class="col-xs-6 light-red-bg">
			<%= render "school/schools/progress_category",
				students: @least_time_spent_playing,
				stat: "time_spent_playing"
			%>
		</div>

		<div class="col-xs-6 light-green-bg">
			<%= render "school/schools/progress_category",
				students: @most_time_spent_playing,
				stat: "time_spent_playing"
			%>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="d-inline">
			<%= image_tag("game_color_50.png", alt: "Fundamentals Played") %>
		</div>

		<h4 class="d-inline">
			Fundamentals Games Played
			<small>
				Overall, this class completed
				<%= display_average_objs(@class, "completed_fundamentals") %>
				Fundamentals games.
			</small>
		</h4>

		<div class="clear"></div>

		<br>

		<div class="col-xs-6 light-red-bg">
			<%= render "school/schools/progress_category",
				students: @least_funds_played,
				stat: "percentage_of_fundamental_games_completed"
			%>
		</div>

		<div class="col-xs-6 light-green-bg">
			<%= render "school/schools/progress_category",
				students: @most_funds_played,
				stat: "percentage_of_fundamental_games_completed"
			%>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="d-inline">
			<%= image_tag("game_color_50.png", alt: "Jeopardys Played") %>
		</div>

		<h4 class="d-inline">
			Jeopardy Games Played
			<small>
				Overall, this class completed
				<%= display_average_objs(@class, "completed_jeopardys") %>
				Jeopardy games.
			</small>
		</h4>

		<div class="clear"></div>

		<br>

		<div class="col-xs-6 light-red-bg">
			<%= render "school/schools/progress_category",
				students: @least_jeops_played,
				stat: "percentage_of_jeopardy_games_completed"
			%>
		</div>

		<div class="col-xs-6 light-green-bg">
			<%= render "school/schools/progress_category",
				students: @most_jeops_played,
				stat: "percentage_of_jeopardy_games_completed"
			%>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="d-inline">
			<%= image_tag("game_color_50.png", alt: "Jeopardys Played") %>
		</div>

		<h4 class="d-inline">
			Freestyle Games Played
			<small>
				Overall, this class completed
				<%= display_average_objs(@class, "completed_freestyles") %>
				Freestyle games.
			</small>
		</h4>

		<div class="clear"></div>

		<br>

		<div class="col-xs-6 light-red-bg">
			<%= render "school/schools/progress_category",
				students: @least_frees_played,
				stat: "percentage_of_freestyle_games_completed"
			%>
		</div>

		<div class="col-xs-6 light-green-bg">
			<%= render "school/schools/progress_category",
				students: @most_frees_played,
				stat: "percentage_of_freestyle_games_completed"
			%>
		</div>
	</div>
</div>
