<% provide(:title, "Classroom") %>
<nav class="breadcrumb">
	<%= link_to "Classrooms",
							school_classrooms_path,
							class: "breadcrumb-item"
	%>
  <span class="breadcrumb-item active"><%= @classroom.name %></span>
</nav>
<h1 class="mb-5">
	<%= @classroom.name %>
	<small class="text-muted">Grade <%= @classroom.grade %></small>
</h1>
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					<%= icon "users" %>
					Students <span class="text-muted">(<%= @classroom_stu_count %>)</span>
				</h4>
				<%= link_to school_classroom_students_path(@classroom),
										role: "button",
										class: "btn btn-primary btn-block" do
				%>
					<%= icon "eye" %> View
				<% end %>
				<%= link_to new_school_classroom_student_path(@classroom),
										role: "button",
										class: "btn btn-primary btn-block" do
				%>
					<%= icon "plus-circle" %> Add
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					<%= icon "book" %>
					Notebook
				</h4>
				<%= link_to school_classroom_add_words_path(@classroom),
										role: "button",
										class: "btn btn-primary btn-block" do
				%>
					<%= icon "plus-circle" %> Add words
				<% end %>
			</div>
		</div>
	</div>
</div>
