<div class="card-deck text-center mb-3">
	<div class="card mb-3">
		<div class="card-block">
			<%= icon "book" %>
			<br>
			<%= user.num_words %>
			Words
		</div>
	</div>
	<div class="card mb-3">
		<div class="card-block">
			<i class="fa fa-trophy"></i>
			<br>
			<%= user.myLeksi_mastery %>%
			Words Mastered
		</div>
	</div>
	<div class="card mb-3">
		<div class="card-block">
			<i class="fa fa-clock-o"></i>
			<br>
			<%= user.time_spent_playing %>
			Time Spent Playing (minutes)
		</div>
	</div>
</div>
<div class="card-deck text-center mb-3">
	<div class="card mb-3">
		<div class="card-block">
			<i class="fa fa-sign-in"></i>
			<br>
			<%= user.num_logins %>
			Times Logged In
		</div>
	</div>
	<div class="card mb-3">
		<div class="card-block">
			<%= icon "tags" %>
			<br>
			<%= user.num_tags %>
			Tags
		</div>
	</div>
</div>
