<div class="box-shadow-border zero-padding">
	<h4 class="overview-header">Overview</h4>

	<div class="progress-xp-container row remove-side-margins">
		<div class="col-xs-4">
			<div class="prog-header">
				<%= current_level(user) %>
			</div>
			<p class="lead">
				Current Level
			</p>
		</div>
		<div class="col-xs-4">
			<div class="prog-header">
				<%= user.points.to_s(:delimited) %>
			</div>
			<p class="lead">
				Current XP
			</p>
		</div>
		<div class="col-xs-4">
			<div class="prog-header">
				<%= pts_to_level_up(user) %>
			</div>
			<p class="lead">
				XP to level-up
			</p>
		</div>
	</div>

	<!-- <div class="points-container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<table class="table table-condensed">
					<th>Activity</th>
					<th>Points</th>
					<th class="active">Total</th>

					<tr>
						<td>Add a word</td>
						<td>+ 1</td>
						<td class="active">+ <%= user.words.count %></td>
					</tr>
					<tr>
						<td>Create a tag</td>
						<td>+ 1</td>
						<td class="active">+ <%= user.tags.count %></td>
					</tr>
					<tr>
						<td>Tag a word</td>
						<td>+ 2</td>
						<td class="active">+ <%= user.user_word_tags.count * 2 %></td>
					</tr>
					<tr>
						<td>Complete Fundamentals game</td>
						<td>+ 3</td>
						<td class="active">+ <%= user.completed_fundamentals.count * 3 %></td>
					</tr>
					<tr>
						<td>Complete Jeopardy game</td>
						<td>+ 4</td>
						<td class="active">+ <%= user.completed_jeopardys.count * 4 %></td>
					</tr>
					<tr>
						<td>Complete Freestyle game</td>
						<td>+ 5</td>
						<td class="active">+ <%= user.completed_freestyles.count * 5 %></td>
					</tr>
				</table>
			</div>
		</div>
	</div> -->
</div>
