	<!-- Get all the students user words where updated_at is within last "week" -->
	<!-- Group these by day -->
	<!-- Go through each group and display respective actiivty, if any -->
<% if user.has_recent_activity? %>
	<% if user.words_added_last_day.any? %>
		<% user.words_added_last_day.each do |uw| %>
			<i class="fa fa-plus-circle text-primary"></i>
			<strong><%= user.username %></strong> (Classroom <%= user.classroom.name %>)
			Added the word <mark><%= uw.word.name %></mark>
			<small class="text-muted">
				<%= time_ago_in_words(uw.updated_at) %> ago
			</small>
			<br>
		<% end %>
	<% end %>

	<% if user.fundamentals_completed_today.any? %>
		<% user.fundamentals_completed_today.each do |uw| %>
			<div>
				<span class="text-danger">
					<%= icon "gamepad" %>
				</span>
				<strong><%= user.username %></strong>
				(Classroom <%= user.classroom.name %>)
				Completed the Fundamentals for <mark><%= uw.word.name %></mark>
				<small class="text-muted">
					<%= time_ago_in_words(uw.updated_at) %> ago
				</small>
			</div>
		<% end %>
	<% end %>

	<% if user.jeopardys_completed_today.any? %>
		<% user.jeopardys_completed_today.each do |uw| %>
			<div>
				<span class="text-warning">
					<%= icon "gamepad" %>
				</span>
				<strong><%= user.username %></strong>
				(Classroom <%= user.classroom.name %>)
				Completed Jeopardy for <mark><%= uw.word.name %></mark>
				<small class="text-muted">
					<%= time_ago_in_words(uw.updated_at) %> ago
				</small>
			</div>
		<% end %>
	<% end %>

	<% if user.freestyles_completed_today.any? %>
		<% user.freestyles_completed_today.each do |uw| %>
			<div>
				<span class="text-success">
					<%= icon "gamepad" %>
				</span>
				<strong><%= user.username %></strong>
				(Classroom <%= user.classroom.name %>)
				Completed a Freestyle activity for <mark><%= uw.word.name %></mark>
				<small class="text-muted">
					<%= time_ago_in_words(uw.updated_at) %> ago
				</small>
			</div>
		<% end %>
	<% end %>
	<hr>
<% end %>
