	<!-- Get all the students user words where updated_at is within last "week" -->
	<!-- Group these by day -->
	<!-- Go through each group and display respective actiivty, if any -->
<% if user.has_recent_activity? %>
	<% if user.words_added_last_day.any? %>
		<% user.words_added_last_day.each do |uw| %>
			<div class="mb-2">
				<i class="fa fa-plus-circle text-primary"></i>
				<strong><%= user.username %></strong> (<%= user.classroom.name %>)
				Added the word <mark><%= uw.word.name %></mark>
				<small class="text-muted">
					<%= time_ago_in_words(uw.updated_at) %> ago
				</small>
			</div>
		<% end %>
	<% end %>

	<% if user.fundamentals_completed_today.any? %>
		<% user.fundamentals_completed_today.each do |uw| %>
			<div class="mb-2">
				<span class="text-danger"><%= icon "gamepad" %></span>
				<strong><%= user.username %></strong>
				completed the Fundamentals for <mark><%= uw.word.name %></mark>
				<br>
				<small class="text-muted">
					<%= time_ago_in_words(uw.updated_at) %> ago |
					<%= user.classroom.name %>
				</small>
			</div>
		<% end %>
	<% end %>

	<% if user.jeopardys_completed_today.any? %>
		<% user.jeopardys_completed_today.each do |uw| %>
			<div class="mb-2">
				<span class="text-warning"><%= icon "gamepad" %></span>
				<strong><%= user.username %></strong>
				completed Jeopardy for <mark><%= uw.word.name %></mark>
				<br>
				<small class="text-muted">
					<%= time_ago_in_words(uw.updated_at) %> ago |
					<%= user.classroom.name %>
				</small>
			</div>
		<% end %>
	<% end %>

	<% if user.freestyles_completed_today.any? %>
		<% user.freestyles_completed_today.each do |uw| %>
			<% uw.game_stats.freestyles.each do |game_stat| %>
				<div class="mb-2">
					<% if game_stat.game_stat_freestyle_sent_stem %>
					<% end %>

					<% if game_stat.game_stat_freestyle_rel_word %>
						<span class="text-success"><%= icon "gamepad" %></span>
						<strong><%= user.username %></strong>
						completed the Freestyle activity "<%= game_stat.game.name %>"
						for <mark><%= uw.word.name %></mark>
						<%= icon "long-arrow-right" %>
						"<%= game_stat.game_stat_freestyle_rel_word
												 .freestyle_rel_word
												 .freestyle
												 .input
						%>"
						<br>
						<small class="text-muted">
							<%= time_ago_in_words(uw.updated_at) %> ago |
							<%= user.classroom.name %>
						</small>
					<% end %>

					<% if game_stat.game_stat_freestyle_lek_tale %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% end %>

	<hr>
<% end %>
