# of Words: <%= user.words.count %>
<br>
# of Tags: <%= user.tags.count %>

<p>
	# of Experience Points: <%= user.points %>
</p>
<hr>

<p>
	Fundamentals:
</p>

# of Games completed:
<%= num_fundamentals_games_completed(user) %>

<br>

# of Games in progress:
<%= num_fundamentals_games_in_progress(user) %>

<br>

# of Games not started:
<%= num_fundamentals_games_not_started(user) %>

<br>
