<% provide(:title, "Edit Profile") %>
<% provide(:header, "Edit Profile") %>
<h1>Edit Profile</h1>
<div class="card">
  <div class="card-block">
    <%= form_for(@user, url: user_path(@user)) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <hr>
      <div class="form-group">
        <%= f.label :first_name %> <span class="text-muted">(Optional)</span>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %> <span class="text-muted">(Optional)</span>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <%= f.submit "Save changes", class: "btn btn-primary btn-block" %>
    <% end %>
    <div class="text-center mt-5">
      <p>
        <%= link_to "Delete my account", user_path(current_user),
            method: :delete, data: { confirm: @del_account_msg },
            class: "btn btn-secondary form-control"
        %>
      </p>
    </div>
  </div>
</div>
