<% provide(:title, "Users") %>
<% provide(:header, "Users (#{@user_count})") %>


<div class="">
  <div
    class="btn-group btn-group-justified btn-group-margin"
    role="group"
    aria-label="..."
  >
    <% if @filter == "latest" %>
      <div class="btn-group" role="group">
        <%= link_to "A-Z", users_path, class: "btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to "Latest", users_path(filter: "latest"),
          class: "btn btn-default active"
        %>
      </div>
    <% else %>
      <div class="btn-group" role="group">
        <%= link_to "A-Z", users_path, class: "btn btn-default active" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to "Latest", users_path(filter: "latest"),
          class: "btn btn-default"
        %>
      </div>
    <% end %>
  </div>
</div>

<br>

<% @users.each do |user| %>
  <div class="box-shadow-border">
    <h4 class="tightness basic-apple-blue-link">
      <%= link_to user.username, user %>
      <small>joined <%= time_ago_in_words(user.created_at) %> ago.</small>
    </h4>
  </div>
  <br>
<% end %>
