<% provide(:title, "Sign Up") %>

<div class="well form-signin">
  <%= form_for(@user) do |f| %>
    <h2 class="form-signin-heading">Sign up</h2>

    <%= render 'shared/error_messages', object: @user %>

    <%= f.label :username, class: "sr-only" %>
    <%= f.text_field :username, class: "form-control", placeholder: "Username *"  %>

    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password *" %>

    <%= f.label :password_confirmation, "Password Confirmation", class: "sr-only" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation *"  %>

    <%= f.submit "Create my account", class: "btn btn-default" %>
  <% end %>

  <br/>

  <div class="center">
    <small class="basic-apple-blue-link">
      Already have an account?
      <%= link_to "Log in", login_path %>.
    </small>
  </div>
</div>
