<% if user_word.freestyle_completed? %>
	<p class="data-url pointer hover"
				data-url="<%= free_game_link(word.id) %>">
		<%= image_tag(
			"strength3.png",
			alt: "66% Mastered",
			title: "66% Mastered")
		%>
		<br>
		Freestyle
		<i class="fa fa-check-square-o"></i>
	</p>
<% elsif user_word.current_game == "three" %>
	<p class="data-url pointer hover"
		 data-url="<%= free_game_link(word.id) %>">
		<%= image_tag(
			"strength3.png",
			alt: "66% Mastered",
			title: "66% Mastered")
		%>
		<br>
		Freestyle
	</p>
<% else %>
	<p class="data-url pointer hover"
				data-toggle="popover"
				title="Why is this game locked?"
				data-content="To activate this Freestyle game, you need to
				play Jeopardy for this word."
				data-placement="top">
		<%= image_tag(
			"strength3_gray.png",
			alt: "66% Mastered",
			title: "66% Mastered")
		%>
		<br>
		Freestyle
		<i class="fa fa-lock"></i>
	</p>
<% end %>
