<% if current_user.is_student? %>
  <div class="card mb-3">
    <div class="card-block">
      <h4 class="card-title">
        <%= icon "commenting-o" %> Teacher Review
      </h4>
      <p class="card-text">
        A Teacher may check your responses and provide
        feedback. Make sure to come back to Leksi to see their feedback!
      </p>
    </div>
  </div>
<% end %>
<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">
      <%= icon "gamepad" %> Next Game
    </h4>
    <% if current_user.has_incomplete_words_not?(uw.word) %>
      <% uw = current_user.rand_incomplete_not(uw.word) %>
      <% if uw.is_freestyle? %>
        <%= play_btn_big(uw, uw.word.id, uw.current_game) %>
      <% else %>
        <%= play_btn_big(uw, uw.word.id) %>
      <% end %>
    <% else %>
      <p class="card-text">
        You don't have any other incomplete words to play.
        <%= link_to "Go to the Explore page", search_path %> and
        add new words!
      </p>
    <% end %>
  </div>
</div>
