<h1>
	Decisions, Decisions
	<br>
	<small class="text-muted">4th Grade</small>
</h1>

<% @fourth_grade_words.each do |word| %>
	<div class="card mb-3">
		<div class="card-body" data-word-id="<%= word.id %>">
			<div class="float-right">
				<% if word.meaning_alts.count > 1 %>
					<i class="fa fa-check fa-3x text-success"></i>
				<% else %>
					<i class="fa fa-check fa-3x text-muted"></i>
				<% end %>
			</div>
			<h2 class="card-title">
				<%= word.name %>
			</h2>
			<p class="card-text">
				<strong>Part of Speech</strong> <%= word.part_of_speech %>
				<br>
				<strong>Definition</strong> <%= word.definition %>
			</p>
		</div>
		<% if word.has_meaning_alts? %>
			<% word.meaning_alts.each do |meaning_alt| %>
				<div class="card-body" data-meaning-alt-id="<%= meaning_alt.id %>">
					<%= render "school/meaning_alts/card_text", m_a: meaning_alt %>
					<%= render "school/meaning_alts/edit_btn", m_a: meaning_alt %>
				</div>
			<% end %>
		<% end %>
		<% unless word.meaning_alts.count > 1 %>
			<div class="card-footer">
				<%= render "school/meaning_alts/form",
									 word: word,
									 m_a: @meaning_alt,
									 method: :post,
									 btn_text: "Create"
				%>
			</div>
		<% end %>
	</div>
<% end %>
