<h1>
	7th Grade Words
	<br>
	<span class="text-muted">Meaning Alternatives</span>
</h1>
<div class="card card-primary text-white">
	<div class="card-block">
		<h4 class="card-title">Instructions</h4>
		<p class="card-text">
			Create one to three "meaning alternatives" with corresponding feedback for
			each word.
			<ul>
				<li>
					If you add more than one meaning alternative for a word, please
					separate the content in each field, i.e. Text, Answer, and Feedback
					with three asterisks (***).
				</li>
				<li>
					Make it so that there's a
				 	clear "right" and "wrong" answer
				</li>
			</ul>
			Here are two examples:
		</p>
		<ol>
			<li>
				<h5>Anticipate</h5>
				<strong>Part of Speech</strong> verb
				<br>
				<strong>Definition</strong> regard something as probable or likely
				<br>
				<strong>Examples</strong> <span class="text-muted">none</span>
				<p class="card-text">
					<p class="form-group">
						<%= label_tag "Text", nil, class: "form-control-label" %>
						<%= text_field_tag :text,
															 nil,
															 class: "form-control",
															 placeholder: "Which would you rather anticipate - your birthday or a dentist appointment?",
															 readonly: true %>
					</p>
					<p class="form-group">
						<%= label_tag "Answer", nil, class: "form-control-label" %>
						<%= text_field_tag :answer,
															 nil,
															 class: "form-control",
															 placeholder: "birthday",
															 readonly: true %>
					</p>
					<p class="form-group">
						<%= label_tag "Feedback", nil, class: "form-control-label" %>
						<%= text_area_tag :textarea,
															 nil,
															 class: "form-control",
															 placeholder: "Birthdays are events where people have fun and celebrate someone they care about. A dentist appointment, though, usually isn’t something people look forward to because it likely involves discomfort and dealing with bad news like having a cavity.",
															 readonly: true %>
					</p>
				</p>
			</li>
			<li>
				<h5>Interact</h5>
				<strong>Part of Speech</strong> verb
				<br>
				<strong>Definition</strong> act together or towards others or with
				others
				<br>
				<strong>Examples</strong> He should interact more with his colleagues
				<p class="card-text">
					<p class="form-group">
						<%= label_tag "Text", nil, class: "form-control-label" %>
						<%= text_area_tag :text,
															 nil,
															 class: "form-control",
															 placeholder: "Which would you rather interact with - killer sharks or puppies?***Who would you rather interact with - your best friend or someone you don\'t respect and like?",
															 readonly: true
						%>
					</p>
					<p class="form-group">
						<%= label_tag "Answer", nil, class: "form-control-label" %>
						<%= text_area_tag :answer,
															 nil,
															 class: "form-control",
															 placeholder: "puppies***best friend",
															 readonly: true
						%>
					</p>
					<p class="form-group">
						<%= label_tag "Feedback", nil, class: "form-control-label" %>
						<%= text_area_tag :textarea,
															 nil,
															 class: "form-control",
															 placeholder: "Puppies are super cute and fun to play with so it\'s likely you\'ll want to be around and interact with them instead of killer sharks, which could cause you serious harm.***If you don\'t respect or like someone, you probably don\'t get along with them and would rather spend time with your best friend, with whom you have a lot in common.",
															 readonly: true,
															 rows: 4
						%>
					</p>
				</p>
			</li>
		</ol>
	</div>
</div>

<% @seventh_grade_grouped_words.each do |name, words| %>
	<div class="card card-outline-primary">
		<div class="card-block">
			<div class="float-xs-right">
				<% if words[0].has_meaning_alts? %>
					<i class="fa fa-check fa-3x text-success"></i>
				<% else %>
					<i class="fa fa-check fa-3x text-muted"></i>
				<% end %>
			</div>
			<h2 class="card-title">
				<%= name %>
			</h2>
			<p class="card-text">
				<strong>Part of Speech</strong> <%= words[0].part_of_speech %>
				<br>
				<strong>Definition</strong> <%= words[0].definition %>
				<br>
				<strong>Examples</strong>
				<% if words[0].examples.any? %>
					<%= words[0].examples.first.text.gsub("***", "; ") %>
				<% else %>
					<span class="text-muted">none</span>
				<% end %>

				<% if words[0].has_meaning_alts? %>
					<br>
					<strong>Meaning Alternatives</strong>
						<em>Text</em>
						<%= words[0].meaning_alts.first.text.gsub("***", "; ") %>
						|
						<em>Answer</em>
						<%= words[0].meaning_alts.first.answer.gsub("***", "; ") %>
						|
						<em>Feedback</em>
						<%= words[0].meaning_alts.first.feedback.gsub("***", "; ") %>
				<% end %>
			</p>
			<% unless words[0].has_meaning_alts? %>
				<%= render "school/meaning_alts/form",
									 text: "Create",
									 word: words[0],
									 m_a: @meaning_alt
				%>
			<% end %>
		</div>
	</div>
<% end %>
