<% unless @rand_word.nil? %>
	<% if @rand_word_uw.current_game == "one" %>
		<div class="inline-block game-zone-margin data-url pointer
								medium-gray-game-circle"
				 data-url="/fundamentals?word_id=<%= @rand_word.id %>">
	<% elsif @rand_word_uw.current_game == "two" %>
		<% if ready_for_jeopardy?(current_user, @rand_word_uw) %>
			<div class="inline-block game-zone-margin data-url pointer
									medium-gray-game-circle"
					 data-url="/jeopardy?word_id=<%= @rand_word.id %>">
		<% else %>
			<div class="inline-block game-zone-margin game-not-ready
									medium-gray-game-circle-no-hover">
		<% end %>
	<% elsif @rand_word_uw.current_game == "three" %>
		<div class="inline-block game-zone-margin data-url pointer
								medium-gray-game-circle"
				 data-url="/freestyle?word_id=<%= @rand_word.id %>">
	<% else %>
		Yikes!
	<% end %>
			<div>
				<i class="fa fa-gamepad fa-2x"></i>
				<br>
				random
			</div>
		</div>
<% end %>

<%= render "current_users/play_game", u_words: @first_row_rand_words %>

<%= render "current_users/play_game", u_words: @second_row_rand_words %>

<%= render "current_users/play_game", u_words: @third_row_rand_words %>

<%= render "current_users/play_game", u_words: @fourth_row_rand_words %>

<% unless current_user.has_games_to_play? %>
	<div class="alert alert-warning lead">
		<i class="fa fa-gamepad fa-4x"></i>

		<br>

		Your Game Zone is empty!
		<span class="basic-apple-blue-link">
			<%= link_to "Add words", "/search" %> to learn and play.
		</span>
	</div>
<% end %>

<br>
<br>
