<div class="box-shadow-border-home">
	<div class="pull-right">
		<% if Rails.env.test? %>
			<%= link_to "edit weekly goal", weekly_goal_path %>
		<% else %>
			<%= link_to image_tag("settings_gray_filled_25.png",
				alt: "Settings"), weekly_goal_path %>
		<% end %>
	</div>

	<p class="lead">
		Weekly Goal
		<small class="medium-gray">
			<%= weekly_goal(current_user) %>
			(<%= pluralize(current_user.goal, "word") %>)
		</small>
	</p>

	<div>
		<% if current_user.goal.blank? %>
			Choose how many words you want to master every week.

			<%= render "current_users/weekly_goal_form" %>
		<% else %>
			<div class="bg-warning">
				<div class="weekly-goal-container">
					<div align="center">
						<% if weekly_goal_completed?(current_user) %>
							<%= image_tag("trophy_color_65.png", alt: "Trophy") %>
						<% else %>
							<%= image_tag("pup2_medium.png", alt: "Leksi Mascot") %>
						<% end %>

						<p class="weekly-goal-text">
							<%= motivate(current_user) %>
						</p>
					</div>
				</div>
			</div>

			<div class="row center">
				<div class="col-xs-6">
					<div class="prog-header">
						<%= calculate_streak(current_user) %>
					</div>

					<p>
						 Day Streak
					</p>
				</div>

				<div class="col-xs-6">
					<div class="prog-header">
					<%= num_words_mastered_in_a_week(current_user) %>
					</div>

					<p>
						 Words Mastered
					</p>
				</div>
			</div>

			<div class="progress">
				<div class="progress-bar progress-bar-info"
				role="progressbar"
				aria-valuenow="<%= goal_percentage_completion(current_user) %>"
				aria-valuemin="0"
				aria-valuemax="<%= diff_btwn_curr_and_next_lvl(current_user) %>"
				style="width: <%= goal_percentage_completion(current_user) %>%">
					<span><%= goal_percentage_completion(current_user) %>%</span>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div class="box-shadow-border-home">
	<div class="pull-right">
		<%= link_to image_tag("tag_gray_filled_25.png", alt: "Tags"),
			myTags_path %>
		<%= link_to image_tag("add_gray_filled_25.png", alt: "Create"),
			new_tag_path %>
	</div>

	<p class="lead">
		Tags
	</p>

	<% if @three_rand_tags.any? %>
		<% @three_rand_tags.each_with_index do |t, i| %>
			<h4 class="basic-black-link"><%= link_to t.name.truncate(35), t %></h4>

			<div class="progress">
				<div class="progress-bar progress-bar-info"
						 role="progressbar"
						 aria-valuenow="<%= @tag_game_progress_pcts[i] %>"
						 aria-valuemin="0"
						 aria-valuemax="100"
						 style="width: <%= @tag_game_progress_pcts[i] %>%">
					<span><%= @tag_game_progress_pcts[i] %>%</span>
				</div>
			</div>
		<% end %>
	<% else %>
		<p>
			Organize words into groups by using tags.
			Create your first one now!

			<%= render "tags/form" %>
		</p>
	<% end %>
</div>

<% unless current_user.is_student? %>
	<div class="box-shadow-border-subtle center">
		<p class="lead gray">
			Follow Leksi
		</p>

			<%= link_to image_tag("facebook_light_gray_filled_50.png", alt: "Facebook"),
				"http://www.facebook.com/leksieducation", target: "_blank" %>
			<%= link_to image_tag("twitter_light_gray_filled_50.png", alt: "Twitter"),
			 	"http://www.twitter.com/leksieducation", target: "_blank" %>
	</div>
<% end %>
