<% if false %>

<div class="box-shadow-border-home">
	<div class="pull-right">
		<% if Rails.env.test? %>
			<%= link_to "edit weekly goal", weekly_goal_path %>
		<% else %>
			<%= link_to image_tag("settings_gray_filled_25.png", alt: "Settings"),
			 weekly_goal_path %>
		<% end %>
	</div>

	<p class="lead">
		Weekly Goal
		<small class="medium-gray">10 words</small>
	</p>

	<div>
		<p>
			<%= display_progress_snapshot_motivation(current_user) %>
		</p>
	</div>

	<div class="row">
		<div class="col-xs-5">
			<%= image_tag("calendar_color_50.png", alt: "Calendar",
				class: "img-responsive") %>
		</div>
		<div class="col-xs-7">
			X words mastered
		</div>
	</div>

	<div class="progress">
		<div class="progress-bar progress-bar-info"
				 role="progressbar"
				 aria-valuenow="<%= percent_complete(current_user) %>"
				 aria-valuemin="0"
				 aria-valuemax="<%= diff_btwn_curr_and_next_lvl(current_user) %>"
				 style="width: <%= percent_complete(current_user) %>%">
			<span><%= percent_complete(current_user) %>%</span>
		</div>
	</div>
</div>

<% end %>

<div class="box-shadow-border-home">
	<div class="pull-right">
		<%= link_to image_tag("tag_color_65.png", alt: "Trophy"), myTags_path %>
	</div>

	<p class="lead">
		Tags
	</p>

	<% if @three_rand_tags.any? %>
		<% @three_rand_tags.each_with_index do |t, i| %>
			<h4 class="basic-black-link"><%= link_to t.name.truncate(35), t %></h4>

			<div class="progress">
				<div class="progress-bar progress-bar-info"
						 role="progressbar"
						 aria-valuenow="<%= @tag_game_progress_pcts[i] %>"
						 aria-valuemin="0"
						 aria-valuemax="100"
						 style="width: <%= @tag_game_progress_pcts[i] %>%">
					<span><%= @tag_game_progress_pcts[i] %>%</span>
				</div>
			</div>
		<% end %>
	<% else %>
		<p>
			Organize words into groups by using tags.
			Create your first one now!

			<%= render "tags/form" %>
		</p>
	<% end %>
</div>

<% unless current_user.is_student? %>
	<div class="box-shadow-border-subtle center">
		<p class="lead gray">
			Follow Leksi
		</p>

			<%= link_to image_tag("facebook_light_gray_filled_50.png", alt: "Facebook"),
				"http://www.facebook.com/leksieducation", target: "_blank" %>
			<%= link_to image_tag("twitter_light_gray_filled_50.png", alt: "Twitter"),
			 	"http://www.twitter.com/leksieducation", target: "_blank" %>
	</div>
<% end %>
