<br>

<% u_words.each do |uw| %>
	<% if uw.class == String %>
		<div class="inline-block game-zone-margin data-url pointer
								add-show-game-circle" data-url="/search">
			<div class="x-large-font">&#043;</div>

			<br>

			<span class="lead">add</span>
		</div>
	<% else %>
		<% word = uw.word %>

		<% if uw.current_game == "one" %>
			<div class="inline-block data-url pointer game-zone-margin hover">
				<div>
					<%= link_to fund_game_link(word.id) do %>
						<%= image_tag("0_big.png", alt: "0% Mastered") %>
					<% end %>
		<% elsif uw.current_game == "two" %>
			<% if ready_for_jeopardy?(current_user, uw) %>
				<div class="inline-block data-url pointer game-zone-margin hover">
					<div>
						<%= link_to jeop_game_link(word.id) do %>
							<%= image_tag("33_big.png", alt: "33% Mastered") %>
						<% end %>
			<% else %>
				<div class="inline-block pointer game-zone-margin hover">
					<div>
						<%= image_tag("33_small_locked.png", alt: "33% Mastered Locked",
							data: { toggle: "popover", title: "How can I play?",
								placement: "left", content: "To play this next game, you need
							to play the Fundamentals game for at least 4 words first." }) %>
			<% end %>
		<% elsif uw.current_game == "three" %>
			<div class="inline-block pointer game-zone-margin hover">
				<div>
					<%= link_to free_game_link(word.id) do %>
						<%= image_tag("66_big.png", alt: "66% Mastered") %>
					<% end %>
		<% else %>
			Yikes
		<% end %>
				</div>

				<span class="lead basic-black-link">
					<%= link_to word.name.capitalize, word %>
				</span>
			</div>
	<% end %>
<% end %>
