<% unless u_words.nil? %>
	<br>

	<% u_words.each do |uw| %>
		<% word = uw.word %>

		<% if uw.current_game == "one" %>
			<div class="inline-block data-url pointer game-zone-margin hover">
				<div>
					<%= link_to fund_game_link(word.id) do %>
						<%= image_tag("0_big.png", alt: "0% Mastered") %>
					<% end %>
		<% elsif uw.current_game == "two" %>
			<% if ready_for_jeopardy?(current_user, uw) %>
				<div class="inline-block data-url pointer game-zone-margin hover">
					<div>
						<%= link_to jeop_game_link(word.id) do %>
							<%= image_tag("33_big.png", alt: "33% Mastered") %>
						<% end %>
			<% else %>
				<div class="inline-block pointer game-zone-margin hover">
					<div>
						<%= image_tag("big_locked.png", alt: "33% Mastered Locked",
							data: { toggle: "popover", title: "How can I play?",
								placement: "top", content: "To play this next game, you need
							to get three (3) more words to 33%." }) %>
			<% end %>
		<% elsif uw.current_game == "three" %>
			<div class="inline-block pointer game-zone-margin hover">
				<div>
					<%= link_to free_game_link(word.id) do %>
						<%= image_tag("66_big.png", alt: "66% Mastered") %>
					<% end %>
		<% else %>
			Yikes
		<% end %>
				</div>

				<span class="lead basic-black-link">
					<%= link_to word.name.capitalize, word %>
				</span>
			</div>
	<% end %>
<% end %>
