<div class="card">
	<div class="card-block">
		<h4 class="card-title">
			<i class="fa fa-user"></i> My Account
			<br>
			<small class="text-muted">
				<%= current_user.username %>
				(<%= current_user.role %>)
			</small>
		</h4>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= link_to edit_user_path(current_user) do %>
				<i class="fa fa-edit fa-fw"></i> Edit my profile
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to progress_path do %>
				<i class="fa fa-line-chart fa-fw"></i> View my stats
			<% end %>
		</li>
		<% unless controller?("current_users") && action?("settings") %>
			<li class="list-group-item">
				<%= link_to settings_path do %>
					<i class="fa fa-gamepad fa-fw"></i> Activate Brainiac Edition
				<% end %>
			</li>
		<% end %>
		<% if current_user.is_teacher? && !controller?("school/current_user") %>
			<li class="list-group-item">
				<%= link_to school_settings_path do %>
					<i class="fa fa-university fa-fw"></i> Activate Teacher Edition
				<% end %>
			</li>
		<% end %>
		<% if current_user.is_admin? && !controller?("admin/admins") %>
			<li class="list-group-item">
				<%= link_to admin_settings_path do %>
					<i class="fa fa-user-secret fa-fw"></i> Activate Admin Portal
				<% end %>
			</li>
		<% end %>
		<li class="list-group-item">
			<%= link_to logout_path, method: :delete do %>
				<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
			<% end %>
		</li>
	</ul>
</div>
