<div class="center">
	<% if user_word.freestyle_completed? %>
		<%= image_tag("strength4.png", alt: "100% Mastered") %>
	<% elsif user_word.fundamental_not_completed? %>
		<%= link_to fund_game_link(word.id) do %>
			<%= image_tag("strength1.png", alt: "0% Mastered") %>
		<% end %>
	<% elsif user_word.jeopardy_not_completed? %>
		<% if current_user.has_enough_jeopardy_words? %>
			<%= link_to jeop_game_link(word.id) do %>
				<%= image_tag("strength2.png", alt: "33% Mastered") %>
			<% end %>
		<% else %>
			<%= image_tag("small_locked.png", alt: "33% Mastered Locked", data: {
				toggle: "popover", title: "How can I play?", placement: "left",
				content: "To play this next game, you need to play the Fundamentals
				game for at least 4 words first." }) %>
		<% end %>
	<% elsif user_word.jeopardy_completed? %>
		<%= link_to free_game_link(word.id) do %>
			<%= image_tag("strength3.png", alt: "66% Mastered") %>
		<% end %>
	<% end %>
</div>
