<div class="modal fade" id="word-<%= word.id %>" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-content word-card-modal-content">
			<div class="modal-header">
				<div class="pull-right">
					<%= render "current_users/word_mastery_percentage",
						user_word: user_word,
						word: word
					%>
				</div>
				<h4 class="modal-title word-name-size"><%= word.name %></h4>
				<div>
					<%= word.phonetic_spelling %>
					&nbsp;
					&nbsp;
					<%= word.part_of_speech %>
				</div>
			</div>
	    <div class="modal-body">
				<%= render "current_users/word_card_game_zone",
					user_word: user_word,
					word: word
				%>
				<%= render "words/word_details", word: word %>
				<%#= render "current_users/tags", user: current_user, word: word %>
				<%= render "current_users/freestyle_responses", user_word: user_word %>
				<%= render "current_users/remove_myLeksi_word", word: word %>
	    </div>
	    <div class="modal-footer">
	      <button type="button"
								class="btn btn-default btn-block"
								data-dismiss="modal">
					Close
				</button>
	    </div>
	  </div>
	</div>
</div>
