<div class="panel panel-success">
	<div class="panel-heading">Game Zone</div>
	<div class="panel-body">
		<% if user_word.fundamental_completed? %>
			<span class="data-url pointer leksi-green hover"
						data-url="<%= fund_game_link(word.id) %>">
				<i class="fa fa-gamepad"></i>
				Fundamentals
			</span>
		<% else %>
			<span class="data-url pointer hover"
						data-url="<%= fund_game_link(word.id) %>">
				<i class="fa fa-gamepad"></i>
				Fundamentals
			</span>
		<% end %>
		|

		<% if ready_for_jeopardy?(current_user, user_word) %>
			<span class="data-url pointer hover"
						data-url="<%= jeop_game_link(word.id) %>">
				<i class="fa fa-gamepad"></i>
				Jeopardy
			</span>
		<% elsif user_word.jeopardy_completed? %>
			<% if current_user.has_enough_jeopardy_words? %>
				<span class="data-url pointer leksi-green hover"
					data-url="<%= jeop_game_link(word.id) %>">
					<i class="fa fa-gamepad"></i>
					Jeopardy
				</span>
			<% else %>
				<span class="data-url pointer leksi-green hover"
							data-toggle="popover"
							title="Why is this game locked?"
							data-content="To activate this Jeoapardy game, you need to
							play the Fundamentals game for at least 3 other words."
							data-placement="bottom">
					Jeopardy
				</span>
				<i class="fa fa-lock"></i>
			<% end %>
		<% else %>
			<span class="data-url pointer hover"
						data-toggle="popover"
						title="Why is this game locked?"
						data-content="To activate this Jeoapardy game, you need to
						play the Fundamentals for this word first."
						data-placement="bottom">
				Jeopardy
			</span>
			<i class="fa fa-lock"></i>
		<% end %>

		|

		<% if user_word.freestyle_completed? %>
			<span class="data-url pointer leksi-green hover"
						data-url="<%= free_game_link(word.id) %>">
				<i class="fa fa-gamepad"></i>
				Freestyle
			</span>
		<% elsif user_word.current_game == "three" %>
			<span class="data-url pointer hover"
						data-url="<%= free_game_link(word.id) %>">
				<i class="fa fa-gamepad"></i>
				Freestyle
			</span>
		<% else %>
			<span class="data-url pointer hover"
						data-toggle="popover"
						title="Why is this game locked?"
						data-content="To activate this Freestyle game, you need to
						play Jeopardy for this word."
						data-placement="bottom">
				Freestyle
			</span>
			<i class="fa fa-lock"></i>
		<% end %>
	</div>
</div>
