<% if current_user.is_teacher? %>
	<div class="alert alert-info">
		<%= icon "info-circle" %>
		Because you are a Teacher,
		<strong>below is a sample snapshot</strong> of what your students
		see on their "<%= icon "home" %> Home" page.
	</div>
	<%= image_tag "leksi-sample-student-home-view.png",
								class: "img-fluid img-thumbnail",
								alt: "Leksi Sample Student Homepage",
								title: "Leksi Sample Student Homepage"
	%>
<% else %>
	<% if current_user.has_rand_incomplete_word? %>
		<%= play_btn_big(@user_word, @user_word.word.id, @user_word.current_game) %>
	<% end %>

	<div class="row mt-3">
		<div class="col-md-6">
			<div class="card mb-3">
				<div class="card-header">
					<%= icon "clock-o" %> Recent Classroom Activity
					<small class="text-muted">Last 24 hours</small>
				</div>
				<div class="card-block">
					<% if current_user.has_classmates? &&
						current_user.teacher.has_classroom_activity?
					%>
						<% current_user.classmates.alphabetical.each do |classmate| %>
							<%= render "users/recent_activity",
												 user: classmate,
												 meta: false
							%>
						<% end %>
					<% else %>
						<small class="text-muted">None</small>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card mb-3">
				<div class="card-header">
					<%= icon "quote-left" %> Teacher Reviews
					<small class="text-muted">Last 24 hours</small>
				</div>
				<div class="card-block">
					<% if current_user.has_reviewed_frees_last_24_hrs? %>
						<%= render "school/students/freestyles",
											 freestyles: current_user.freestyles
											 												 .reviewed
																							 .last_24_hours
						%>
						<%= link_to "See all of my Freestyle responses",
												freestyles_path,
												role: "button",
												class: "btn btn-outline-primary btn-block"
						%>
					<% else %>
						<small class="text-muted">None</small>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
