<% provide(:title, "myLeksi") %>
<% provide(:header, "myLeksi") %>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="pull-right">
					<% if @user_word.freestyle_completed? %>
						<%= image_tag(
							"strength4.png",
							alt: "100% Mastered",
							title: "100% Mastered")
						%>
					<% end %>
				</div>
				<%= render "words/display", word: @word %>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="lead">
					<i class="fa fa-gamepad"></i>
					Game Zone
				</div>
			</div>
			<%= render "current_users/myLeksi/show_game_zone",
				user_word: @user_word,
				word: @word
			%>
		</div>
		<%= render "words/synonyms", word: @word %>
		<%= render "words/antonyms", word: @word %>
		<%= render "current_users/tags", user: current_user, word: @word %>
		<%= render "current_users/freestyle_responses", user_word: @user_word %>
		<%= render "current_users/remove_myLeksi_word", word: @word %>
	</div>
</div>
