<% provide(:title, "Progress") %>
<% provide(:header, "Progress") %>

<div
  class="btn-group btn-group-justified btn-group-margin"
  role="group"
  aria-label="..."
>
  <div class="btn-group" role="group">
		<div class="btn btn-default my-stats-btn active" >
			Stats
		</div>
  </div>

  <div class="btn-group" role="group">
		<div class="btn btn-default achievements-btn">
			Achievements
		</div>
  </div>
</div>

<br>

<div class="my-stats-container">
  <%= render "users/overview_stats", user: current_user %>

  <%= render "users/fundamentals_game_stats", user: current_user %>

  <%= render "users/jeopardy_game_stats", user: current_user %>

  <%= render "users/freestyle_game_stats", user: current_user %>
</div>

<div class="achievements-container">
	<%= render "games/achievements" %>
</div>

<div class="leaderboard-container">
  <%= render "games/leaderboard" %>
</div>
