<% provide(:title, "myTags") %>
<% provide(:header, "myTags") %>

<% if Rails.env.test? %>
  <%= link_to "new tag", new_tag_path %>
<% end %>

<% unless current_user.has_tags? %>
  <%= render "current_users/no_tags_guide" %>
<% end %>

<% if current_user.has_tags? %>
  <div class="basic-black-link">
    <% @current_user_tags.each do |tag| %>
      <div class="box-shadow-border">
        <h3 class="tightness">
          <span>
            <%= link_to tag.name, tag %>
            <span class="badge">
              <%= words_for(current_user, tag).count %>
            </span>
          </span>
        </h3>
      </div>
      <br>
    <% end %>
  </div>
<% end %>

<% if current_user.has_words? %>
  <div class="box-shadow-border">
    <h3 class="tightness">
      <span>
        Untagged
        <span class="badge">
          <%= Word.untagged_for(current_user).count %>
        </span>
      </span>
    </h3>

    <% Word.untagged_for(current_user).each do |word| %>
      <div class="col-xs-4 col-sm-4 remove-padding-left">
        <span class="basic-black-link">
          <%= link_to word.name, word %>
        </span>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
<% end %>
