<% provide(:title, "myTags") %>
<% provide(:header, "myTags") %>

<% if Rails.env.test? %>
  <%= link_to "new tag", new_tag_path %>
<% end %>

<div class="row">
</div>

<div>
  <% if current_user.has_tags? %>
    <div class="basic-black-link">
      <% @current_user_tags.each do |tag| %>
      	<div class="col-sm-4">
      		<div class="panel panel-default">
      		  <div class="panel-body tag-pic-container">
      				<div class="pointer data-url"
      						 data-url="/tags/<%= tag.id %>"
      						 align="center">
      					<div class="tags-bg-image"></div>
      					<div>
      						<h4><%= tag.name.truncate(20) %></h4>
      						<%= link_to tag.name, tag if Rails.env.test? %>
      					</div>
      				</div>
      		  </div>
      			<div class="panel-footer center">
      				<span class="gray">
      					<%= pluralize(words_for(current_user, tag).count, "word") %>
      				</span>
      			</div>
      		</div>
      	</div>
      <% end %>
    </div>
  <% else %>
    <%= render "current_users/no_tags_guide" %>
  <% end %>

  <% if current_user.has_words? %>
    <div class="clear">

    </div>
    <div class="box-shadow-border">
      <h4 class="tightness">
        <span>
          Untagged Words
        </span>
      </h4>

      <% Word.untagged_for(current_user).each do |word| %>
        <div class="col-xs-4 col-sm-4 remove-padding-left">
          <span class="basic-black-link">
            <%= link_to word.name, word %>
          </span>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
