<% if record %>
	<div id="game-started-bool" class="begin-timer"></div>
<% end %>

<div id="progress_bar_container">
	<div class="progress">
		<div class="game-progress-bar progress-bar progress-bar-success"
				 role="progressbar" aria-valuenow="0"
				 aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only">0%</span>
		</div>
	</div>
</div>

<div class="palabra">
	<span id="word-name"><%= word.name %></span>

	<span class="palabra-id"><%= word.id %></span>
</div>

<!-- start of level 1 details -->
<div id="level_1_details">
	<div>
		<div class="inline-block checkpoint-image">
			<%= image_tag("grade_color_50.png", alt: "Checkpoint!") %>
		</div>

		<div class="fundamentals-game-instructions inline-block"></div>
	</div>

	<div id="chosen-word-header-container"></div>
	<!-- end -->
	<br>
</div>
<!-- end of level 1 details -->

<!-- start of level 1 form -->
<div>
	<!-- start of spell the word section -->
	<div class="form-group" id="spell_the_word_form">
		<label for="spell_the_word" class="sr-only" ></label>
		<input id="spell_the_word" class="form-control input-lg" type="text"
			placeholder=""></input>
	</div>
	<!-- end of spell the word section -->
</div> <!-- end of level 1 form -->

<!-- start of fill in the blank activity -->
<div class="row" id="fill_in_the_blank_container">
	<div class="text-default lead" id="fill_in_the_blank_game_over_message">
		Hey, are you having trouble?
		<span class="pointer apple-blue" id="fill_in_the_blank_back_button">
			Tap here
		</span>
		to see the spelling of the word. Then tap 'continue' to try again!
	</div>
</div>
<!-- end of fill in the blank activity -->

<!-- start of pronunciation activity -->
<div id="pronunciation_container" align="center">
	<%= image_tag("pronunciation.png", alt: "Pronounce the word below.",
		class: "img-responsive pointer", id: "pronunciation_image_button") %>
</div>
<!-- end of pronunciation activity -->

<!-- start of meanings container -->
<div id="meanings_container">
	<div class="well lead">
		<% top_three_entries_for(word, "definition").each do |d| %>
			<p>
				<span>&#8605; <%= d %></span>
			</p>
		<% end %>
	</div>
</div>
<!-- end of meanings container -->

<!-- start of synonyms container -->
<div id="synonyms_container">
	<% if word.has_synonyms? %>
		<% synonyms.each_with_index do |synonym, index| %>
			<div class="synonym_row pointer" type="button"
					 data-toggle="collapse" data-target="#syn<%= index %>"
					 aria-expanded="false" aria-controls= "<%= index %>"
			>
				<div class="red_circle inline-block"></div>
				<div class="synonym_word_container lead pointer inline-block">
					<%= synonym.name %>
				</div>
			</div>
			<div class="word_details_container well lead collapse"
					 id="syn<%= index %>"
			>
				<%= render "words/word_details", word: synonym %>
			</div>
		<% end %>
	<% else %>
		<p id="synonym_no_results" class="lead please-tap-continue">
			&#9785; There aren't any synonyms to show. Please tap continue.
		</p>
	<% end %>
</div>
<!-- end of synonyms container -->

<!-- start of antonyms container -->
<div id="antonyms_container">
	<% if word.has_antonyms? %>
		<% antonyms.each_with_index do |antonym, index| %>
			<div class="antonym_row pointer" type="button"
					 data-toggle="collapse" data-target="#ant<%= index %>"
					 aria-expanded="false" aria-controls= "<%= index %>"
			>
				<div class="red_circle inline-block"></div>
				<div class="antonym_word_container lead pointer inline-block">
					<%= antonym.name %>
				</div>
			</div>
			<div class="word_details_container well lead collapse"
					 id="ant<%= index %>"
			>
				<%= render "words/word_details", word: antonym %>
			</div>
		<% end %>
	<% else %>
	<!-- Check what's accessible at this point  -->
		<p id="antonym_no_results" class="lead please-tap-continue">
			&#9785; There aren't any antonyms to show. Please tap continue.
		</p>
	<% end %>
</div>
<!-- end of antonyms container -->

<!-- start of syn_ant checkpoint container -->
<div id="syn_ant_checkpoint_container">
	<% if word.doesnt_have_any_syn_or_ant? %>
		<div id="syn-ant-no-results" class="lead">
			&#9785; We don't have any synonyms or antonyms to do a checkpoint.
			Please tap continue.
		</div>
	<% end %>
</div>
<!-- end of syn_ant checkpoint container -->

<!-- start of real world examples checkpoint container -->
<div id="real_world_examples_container">
	<% if rwe.nil? %>
		<div id="rwe_no_results" class="lead please-tap-continue">
			&#9785; There aren't any real world examples to show. Please tap continue.
		</div>
	<% else %>
		<% rwe.each_with_index do |rwe, index| %>
			<div class="rwe_row rwe_row_<%= index %> pointer" type="button"
					 data-toggle="collapse" data-target="#rwe<%= index %>"
					 aria-expanded="false" aria-controls="<%= index %>"
			>
				<div class="red_circle inline-block"></div>
				<div class="rwe_source_container lead pointer inline-block">
					<%= rwe.source %>
				</div>
			</div>
			<div class="rwe_container well lead collapse" id="rwe<%= index %>">
				<div class="rwe_content_container">
					&#9997; <%= rwe.example %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<!-- end of real world examples checkpoint container -->
