<% if record %>
	<div id="game-started-bool" class="begin-timer"></div>
<% end %>

<div class="palabra">
	<span id="word-name"><%= word.name %></span>
	<span id="word-part-of-speech"><%= word.part_of_speech %></span>
	<span class="palabra-id"><%= word.id %></span>
</div>
<div id="directions">
	<p class="lead">
		<span class="text-primary">Directions:</span>
		<span id="fundamentals-game-instructions"></span>
	</p>
</div>
<%= render "games/spelling_speedster" %>
<%= render "games/spelling_jumbler" %>
<%= render "games/say_it_right" %>
<%= render "games/decisions_decisions" %>
<%= render "games/ex_non_exs" %>
<%= render "games/syn_vs_ant" %>
