<% if record %>
	<div id="game-started-bool" class="begin-timer"></div>
<% end %>

<div class="scoreboard text-xs-center bg-faded text-muted">
	<div class="row">
		<div class="col-md-4">
			<div id="progress-bar-container">
				<progress class="progress game-progress-bar progress-striped"
									value="0"
									max="100">
					0%
				</progress>
			</div>
		</div>
		<div class="col-md-4">
			0
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

<div class="palabra">
	<span id="word-name"><%= word.name %></span>
	<span id="word-part-of-speech"><%= word.part_of_speech %></span>
	<span class="palabra-id"><%= word.id %></span>
</div>

<div id="game-details">
	<h1 class="display-3">
		<span id="fundamentals-game-instructions"></span>
		<strong id="chosen-word-header-container"></strong>
	</h1>
</div>

<div>
	<div class="form-group" id="spell-by-typing-form">
		<label for="spell-the-word" class="form-control-label sr-only" ></label>
		<input id="spell-the-word"
					 class="form-control input-lg"
					 type="text"></input>
	</div>
</div>

<div id="fill-in-the-blank-container"></div>

<div id="meanings_container">
	<div class="well lead">
		<% array_of(word, "definition").each_with_index do |d, i| %>
			<p class="<%= word.name %>-def" id="<%= word.name %>-def-<%= i %>">
				&#8605; <%= d %>
			</p>
		<% end %>
	</div>
</div>

<div id="meanings-checkpoint-container"></div>

<div id="synonyms_container">
	<% if word.has_synonyms? %>
		<% synonyms.each_with_index do |synonym, index| %>
			<div class="synonym_row pointer" type="button"
					 data-toggle="collapse" data-target="#syn<%= index %>"
					 aria-expanded="false" aria-controls= "<%= index %>">
				<div class="red_circle inline-block"></div>
				<div class="synonym_word_container lead pointer inline-block">
					<%= synonym.name %>
				</div>
			</div>
			<div class="word_details_container well lead collapse"
					 id="syn<%= index %>">
				<%= render "words/word_details", word: synonym %>
			</div>
		<% end %>
	<% else %>
		<p id="synonym_no_results" class="lead please-tap-continue">
			&#9785; There aren't any synonyms to show. Please tap continue.
		</p>
	<% end %>
</div>

<div id="antonyms_container">
	<% if word.has_antonyms? %>
		<% antonyms.each_with_index do |antonym, index| %>
			<div class="antonym_row pointer" type="button"
					 data-toggle="collapse" data-target="#ant<%= index %>"
					 aria-expanded="false" aria-controls= "<%= index %>"
			>
				<div class="red_circle inline-block"></div>
				<div class="antonym_word_container lead pointer inline-block">
					<%= antonym.name %>
				</div>
			</div>
			<div class="word_details_container well lead collapse"
					 id="ant<%= index %>"
			>
				<%= render "words/word_details", word: antonym %>
			</div>
		<% end %>
	<% else %>
		<p id="antonym_no_results" class="lead please-tap-continue">
			&#9785; There aren't any antonyms to show. Please tap continue.
		</p>
	<% end %>
</div>

<div id="syn_ant_checkpoint_container">
	<% if word.doesnt_have_any_syn_or_ant? %>
		<div id="syn-ant-no-results" class="lead">
			&#9785; We don't have any synonyms or antonyms to do a checkpoint.
			Please tap continue.
		</div>
	<% end %>
</div>

<div id="real_world_examples_container">
	<% if rwe.nil? %>
		<div id="rwe_no_results" class="lead please-tap-continue">
			&#9785; There aren't any real world examples to show. Please tap continue.
		</div>
	<% else %>
		<% rwe.each_with_index do |rwe, index| %>
			<div class="rwe_row rwe_row_<%= index %> pointer" type="button"
					 data-toggle="collapse" data-target="#rwe<%= index %>"
					 aria-expanded="false" aria-controls="<%= index %>"
			>
				<div class="red_circle inline-block"></div>
				<div class="rwe_source_container lead pointer inline-block">
					<%= rwe.source %>
				</div>
			</div>
			<div class="rwe_container well lead collapse" id="rwe<%= index %>">
				<div class="rwe_content_container">
					&#9997; <%= rwe.example %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
