<% if record %>
	<div id="game-started-bool" class="begin-timer"></div>
<% end %>

<div class="palabra">
	<span id="word-name"><%= word.name %></span>
	<span id="word-part-of-speech"><%= word.part_of_speech %></span>
	<span class="palabra-id"><%= word.id %></span>
</div>

<div id="game-details">
	<p class="lead">
		<span class="text-primary">Directions:</span>
		<span id="fundamentals-game-instructions"></span>
	</p>
</div>

<div>
	<div class="form-group" id="spell-by-typing-form">
		<label for="spell-the-word" class="form-control-label sr-only"></label>
		<input id="spell-the-word"
					 class="form-control input-lg"
					 type="text"></input>
	</div>
</div>

<div id="spell-by-clicking-letters-div"></div>

<div id="pronunciation-div">
	<audio src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/"
				 id="audio"
				 class="audiooo"
				 preload="auto">
	</audio>
	<small>
		<i class="fa fa-volume-up pointer hover"></i>
	</small>
	<small>
		<i class="fa fa-volume-up pointer hover text-muted"></i>
	</small>
	<small>
		<i class="fa fa-volume-up pointer hover text-muted"></i>
	</small>
	<small>
		<i class="fa fa-volume-up pointer hover text-muted"></i>
	</small>
	<small>
		<i class="fa fa-volume-up pointer hover text-muted"></i>
	</small>
</div>

<div id="meanings-checkpoint-container"></div>

<div id="synonyms_container">
	<% if word.has_synonyms? %>
		<% synonyms.each_with_index do |synonym, index| %>
			<div class="synonym_row pointer" type="button"
					 data-toggle="collapse" data-target="#syn<%= index %>"
					 aria-expanded="false" aria-controls= "<%= index %>">
				<div class="red_circle inline-block"></div>
				<div class="synonym_word_container lead pointer inline-block">
					<%= synonym.name %>
				</div>
			</div>
			<div class="word_details_container well lead collapse"
					 id="syn<%= index %>">
				<%= render "words/word_details", word: synonym %>
			</div>
		<% end %>
	<% else %>
		<p id="synonym_no_results" class="lead please-tap-continue">
			&#9785; There aren't any synonyms to show. Please tap continue.
		</p>
	<% end %>
</div>

<div id="antonyms_container">
	<% if word.has_antonyms? %>
		<% antonyms.each_with_index do |antonym, index| %>
			<div class="antonym_row pointer" type="button"
					 data-toggle="collapse" data-target="#ant<%= index %>"
					 aria-expanded="false" aria-controls= "<%= index %>"
			>
				<div class="red_circle inline-block"></div>
				<div class="antonym_word_container lead pointer inline-block">
					<%= antonym.name %>
				</div>
			</div>
			<div class="word_details_container well lead collapse"
					 id="ant<%= index %>"
			>
				<%= render "words/word_details", word: antonym %>
			</div>
		<% end %>
	<% else %>
		<p id="antonym_no_results" class="lead please-tap-continue">
			&#9785; There aren't any antonyms to show. Please tap continue.
		</p>
	<% end %>
</div>

<div id="syn_ant_checkpoint_container">
	<% if word.doesnt_have_any_syn_or_ant? %>
		<div id="syn-ant-no-results" class="lead">
			&#9785; We don't have any synonyms or antonyms to do a checkpoint.
			Please tap continue.
		</div>
	<% end %>
</div>

<div id="real_world_examples_container">
	<% if rwe.nil? %>
		<div id="rwe_no_results" class="lead please-tap-continue">
			&#9785; There aren't any real world examples to show. Please tap continue.
		</div>
	<% else %>
		<% rwe.each_with_index do |rwe, index| %>
			<div class="rwe_row rwe_row_<%= index %> pointer" type="button"
					 data-toggle="collapse" data-target="#rwe<%= index %>"
					 aria-expanded="false" aria-controls="<%= index %>"
			>
				<div class="red_circle inline-block"></div>
				<div class="rwe_source_container lead pointer inline-block">
					<%= rwe.source %>
				</div>
			</div>
			<div class="rwe_container well lead collapse" id="rwe<%= index %>">
				<div class="rwe_content_container">
					&#9997; <%= rwe.example %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
