<div id="continue-btn-div">
	<br>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "spell-the-word-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "fill-in-the-blank-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "pronunciation-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "meaning-alts-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "ex-non-exs-cont-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "synonyms-cont-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "antonyms_continue_button"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "syn_ant_checkpoint_continue_button"
  %>
	<% if params[:controller] == "games" %>
		<%= button_tag "FINISH",
									 type: "button",
									 class: "btn btn-primary btn-lg btn-block",
									 id: "real_world_examples_continue_button"
		%>
	<% end %>
</div>
