<div id="continue-btn-div" class="fixed-bottom mb-0">
	<br>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "spell-the-word-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "fill-in-the-blank-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "pronunciation-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "meaning-alts-continue-btn"
  %>
	<%= button_tag "Continue",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "ex-non-exs-cont-btn"
  %>
	<%= button_tag "Finish",
								 type: "button",
								 class: "btn btn-primary btn-lg btn-block",
								 id: "syn-vs-ant-cont-btn"
  %>
</div>
