<div id="level_2_container">
	<div class="row">
		<div id="chosen_word_one_div" class="col-sm-6">
			<button type="button" class="btn btn-info btn-block btn-lg"
							id="chosen_word_one_btn"></button>
			<div class="progress" id="chosen_word_one_progress_bars_div">
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_one_mini_progress_bar_one" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_one_mini_progress_bar_two" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_one_mini_progress_bar_three" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_one_mini_progress_bar_four" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_one_mini_progress_bar_five" %>
			</div>
		</div>

		<div id="chosen_word_two_div" class="col-sm-6">
			<button type="button" class="btn btn-info btn-block btn-lg"
							id="chosen_word_two_btn"></button>
			<div class="progress" id="chosen_word_two_progress_bars_div">
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_two_mini_progress_bar_one" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_two_mini_progress_bar_two" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_two_mini_progress_bar_three" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_two_mini_progress_bar_four" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_two_mini_progress_bar_five" %>
			</div>
		</div>
	</div>

	<%= render "games/jeop_main_display" %>

	<div class="row">
		<div id="chosen_word_three_div" class="col-sm-6">
			<button type="button" class="btn btn-info btn-block btn-lg"
							id="chosen_word_three_btn"></button>
			<div class="progress" id="chosen_word_three_progress_bars_div">
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_three_mini_progress_bar_one" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_three_mini_progress_bar_two" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_three_mini_progress_bar_three" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_three_mini_progress_bar_four" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_three_mini_progress_bar_five" %>
			</div>
		</div>

		<div id="chosen_word_four_div" class="col-sm-6">
			<button type="button" class="btn btn-info btn-block btn-lg"
							id="chosen_word_four_btn"></button>
			<div class="progress" id="chosen_word_four_progress_bars_div">
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_four_mini_progress_bar_one" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_four_mini_progress_bar_two" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_four_mini_progress_bar_four" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_four_mini_progress_bar_three" %>
				<%= render "games/jeop_progress_bar",
					id: "chosen_word_four_mini_progress_bar_five" %>
			</div>
		</div>
	</div>
</div>
