<div class="text-center">
	<h1 class="mb-4">
		<%= emoji "fireworks" %>
		<%= random_congrats %>!
		<%= emoji "fireworks" %>
	</h1>
	<h1 class="mb-4">
		<%= emoji "--1" %> Give your Teacher a thumbs up to let them know you
		finished the Fundamentals for the word <b><%= word_name %></b>.
		<%= emoji "--1" %>
	<h1>
	<h1>
		<%= emoji "notebook" %>
		Then go back to your Notebook and play another word.
		<%= emoji "notebook" %>
	</h1>
</div>
