<div class="scoreboard text-xs-center  text-muted">
	<div class="row">
		<div class="col-xs-4">
			<div id="progress-bar-container">
				<progress class="progress game-progress-bar"
									value="0"
									max="100">
					0%
				</progress>
			</div>
		</div>
		<div class="col-xs-4">
			<i class="fa fa-money"></i>
			<span class="scoreboard-points">0</span>
		</div>
		<div class="col-xs-4">
			<i class="fa fa-clock-o"></i>
			<span class="scoreboard-timer">0</span>
		</div>
	</div>
</div>
<div class="bg-faded">
	<h1 class="display-2" id="chosen-word-header-container"></h1>
</div>
<%= render "games/fund_game_container",
	word: @chosen_word,
	record: @record,
	synonyms: @synonyms,
	antonyms: @antonyms,
	rwe: @real_world_examples
%>
<div id="review_level_one_container" class="center">
	<div class="bg-success">
		<%= image_tag("strength1.png",
			alt: "Congrats on Basics Gold!",
			title: "Congrats on Basics Gold!")
		%>
		<h1 class="text-success"><%= random_congrats %>!</h1>
		<p>
			<span id="level-congrats-text">
				You now know the Basics for
			</span>
		</p>
	</div>
	<%= render "games/play_another",
		url: "#{jeop_game_link(@chosen_word.id)}",
		image_src: "strength2.png",
		game_name: "Intermediate"
	%>
	<% if logged_in? && current_user.is_not_a_student? %>
		<%= render "games/share_accomplishment" %>
	<% end %>
</div>
<%= render "games/fund_buttons" %>
