<div id="level_2_container">
	<div class="row">
		<div id="chosen_word_one_div" class="col-sm-6">
			<button type="button" class="btn btn-default btn-block btn-lg" id="chosen_word_one_btn"></button>
			<div class="progress" id="chosen_word_one_progress_bars_div">
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_one_mini_progress_bar_one"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_one_mini_progress_bar_two"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_one_mini_progress_bar_three"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_one_mini_progress_bar_four"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_one_mini_progress_bar_five"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
			</div>
		</div>  <!-- end of chosen word one div -->

		<div id="chosen_word_two_div" class="col-sm-6">
			<button type="button" class="btn btn-default btn-block btn-lg" id="chosen_word_two_btn"></button>
			<div class="progress" id="chosen_word_two_progress_bars_div">
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_two_mini_progress_bar_one"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_two_mini_progress_bar_two"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_two_mini_progress_bar_three"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_two_mini_progress_bar_four"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_two_mini_progress_bar_five"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
			</div>
		</div>  <!-- end of chosen word two div -->
	</div> <!-- end of level 2 container div -->

	<!-- start of level 2 details -->
	<div id="level_2_details" class="well well-sm">
		<!-- Display the activity name, directions, and word in big letters for each respective activity -->
		<div id="jeopardy-directions-container" class="lead">
			<span id="activity_name"></span>
			<span id="jeopardy-specific-instruction"></span>
		</div>

		<div class="jeopardy-pregame">
			<div id="jeop-controller"
					 data-controller="<%= params[:controller] %>"
					 data-tag-id="<%= params[:tag_id] %>"></div>
			<h3>
				How to play
				<small>
					Choose the word that best matches the statement in the middle.
					Good luck!
				</small>
			</h3>

			<div class="jeopardy-begin-game btn btn-lg btn-block btn-warning btn-custom">
				Start
			</div>

			<div class="palabra" data-word-id="<%= @chosen_word.id %>"></div>
		</div>

		<!-- end of displaying the activity name, directions, and word in big letters for each respective activity -->
	</div>
	<!-- end of level 2 details -->

	<div class="row">
		<div id="chosen_word_three_div" class="col-sm-6">
			<button type="button" class="btn btn-default btn-block btn-lg" id="chosen_word_three_btn"></button>
			<div class="progress" id="chosen_word_three_progress_bars_div">
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_three_mini_progress_bar_one"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_three_mini_progress_bar_two"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_three_mini_progress_bar_three"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_three_mini_progress_bar_four"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_three_mini_progress_bar_five"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
			</div>
		</div>  <!-- end of chosen word three div -->

		<div id="chosen_word_four_div" class="col-sm-6">
			<button type="button" class="btn btn-default btn-block btn-lg" id="chosen_word_four_btn"></button>
			<div class="progress" id="chosen_word_four_progress_bars_div">
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_four_mini_progress_bar_one"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_four_mini_progress_bar_two"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_four_mini_progress_bar_four"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_four_mini_progress_bar_three"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
				<div class="progress-bar progress-bar-custom"
					 id="chosen_word_four_mini_progress_bar_five"
					 role="progressbar"
					 aria-valuenow="20"
					 aria-valuemin="0"
					 aria-valuemax="200"
					 style="width: 20%">
					<span class="progress-text">-</span>
				</div>
			</div>
		</div>  <!-- end of chosen word four div -->
	</div>
</div>

<div id="review_level_two_container" align="center">
	<%= image_tag("medal_orange_100.png", alt: "You\'ve earned a medal") %>

	<h1>Congratulations!</h1>

	<p class="lead">
		<span id="level_congrats_text">
			You've completed Jeopardy for the words below!
	</p>

	<% unless current_user.is_student? %>
		<%= render "games/share_accomplishment" %>
	<% end %>

	<hr/>

	<div id="level_two_results" class="lead">
		<div>
			<div class="result_circle inline_block" id="level_two_results_first_circle"></div>
			<div class="inline_block" id="level_two_results_first_word"></div>
		</div>

		<br/>

		<div>
			<div class="result_circle inline_block" id="level_two_results_second_circle"></div>
			<div class="inline_block" id="level_two_results_second_word"></div>
		</div>

		<br/>

		<div>
			<div class="result_circle inline_block" id="level_two_results_third_circle"></div>
			<div class="inline_block" id="level_two_results_third_word"></div>
		</div>

		<br/>

		<div>
			<div class="result_circle inline_block" id="level_two_results_fourth_circle"></div>
			<div class="inline_block" id="level_two_results_fourth_word"></div>
		</div>
	</div>
</div>
