<% provide(:title, "Leksi Leaderboard") %>
<% provide(:header, "Leksi Leaderboard") %>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 leaderboard-gold">
			<div class="inline-block">
				<%= image_tag("gold_white_filled_32.png", alt: "Gold Medal") %>
			</div>
			<div class="leaderboard-header inline-block">
				<%= @gold_user.username %>
			</div>
			<p class="lead">
				<%= @gold_user.points.to_s(:delimited) %>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 leaderboard-silver">
			<div class="inline-block">
				<%= image_tag("silver_white_filled_32.png", alt: "Silver Medal") %>
			</div>
			<div class="leaderboard-header inline-block">
				<%= @silver_user.username %>
			</div>
			<p class="lead">
				<%= @silver_user.points.to_s(:delimited) %>
			</p>
		</div>
		<div class="col-sm-6 leaderboard-bronze">
			<div class="inline-block">
				<%= image_tag("bronze_white_filled_32.png", alt: "Bronze Medal") %>
			</div>
			<div class="leaderboard-header inline-block">
				<%= @bronze_user.username %>
			</div>
			<p class="lead">
				<%= @bronze_user.points.to_s(:delimited) %>
			</p>
		</div>
	</div>
</div>

<hr>

<div class="remove-list-style">
	<ul>
		<% @seven_through_ten_users.each.with_index(4) do |u, i| %>
			<h2>
				<%= i %>.
				<%= u.username %>
				<small><%= u.points.to_s(:delimited) %></small>
			</h2>
		<% end %>
	</ul>
</div>
