<% provide(:title, "Words") %>
<% provide(:header, "Words") %>

<% if current_user.has_created_content? %>
	<table class="table table-sm table-bordered table-striped table-responsive table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Definition</th>
				<th>Photo</th>
				<th>Decisions, Decisions</th>
				<th>Example/Non-Example</th>
				<th>Sentence Stems</th>
				<th>Describe Me, Describe Me Not</th>
				<th>Created</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @words.each do |word| %>
				<tr>
					<th scope="row"><%= word.id %></th>
					<td><%= word.name %></td>
					<td><%= word.definition %></td>
					<td><%= display_content_status(word.has_photo?) %></td>
					<td>
						<%= display_content_status(word.has_meaning_alts?) %>
						<hr>
						<%= link_to "New",
								new_school_word_meaning_alt_path(word, MeaningAlt.new),
								class: "btn btn-primary",
								title: "New Decisions, Decision"
						%>
					</td>
					<td>
						<%= display_content_status(word.has_ex_non_exs?) %>
						<hr>
						<%= link_to "New",
								new_school_word_example_non_example_path(word, Example.new),
								class: "btn btn-primary",
								title: "New Example/Non-Example"
						%>
					</td>
					<td><%= display_content_status(word.has_sent_stems?) %></td>
					<td><%= display_content_status(word.has_describe_mes?) %></td>
					<td><%= time_ago_in_words(word.created_at) %></td>
					<td>
						<%= link_to "Edit",
								edit_school_word_path(word),
								class: "btn btn-warning",
								title: "Edit content for #{word.name}"
						%>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="alert alert-info" role="alert">
		You haven't created any word-related content yet.
	</div>
<% end %>
