<% provide(:header, "New Word") %>
<% provide(:title, "New Word") %>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-block">
        <ol>
          <li>
            Want to add a word, but are unsure if it already exists? Try
            searching for it first.
          </li>
          <li>
            If the exact word you want isn't there, use the form down below to
            create a new word.
          </li>
        </ol>
        <%= render "searches/form" %>
      </div>
    </div>
    <div class="search-results-container"></div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">
          Create a New Word
        </h4>
        <%= form_for([:school, @word]) do |f| %>
          <%= render 'shared/error_messages', object: @word %>
          <div class="form-group">
            <%= f.label :name, class: "sr-only" %>
            <%= f.text_field :name, class: "form-control",
            placeholder: "Name *"  %>
          </div>
          <div class="form-group">
            <%= f.label :part_of_speech, class: "sr-only" %>
            <%= f.text_field :part_of_speech, class: "form-control",
            placeholder: "Part of Speech"  %>
          </div>
          <div class="form-group">
            <%= f.label :definition, class: "sr-only" %>
            <%= f.text_field :definition, class: "form-control",
            placeholder: "Definition *"  %>
          </div>
          <%= f.submit "Create new word", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
