<% provide(:title, "Add Word(s) for Students") %>
<% provide(:header, "Add Word(s) for Students") %>

<div id="awfs-step-1-container">
	<h4>Step 1. Select class</h4>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default select-class-container" id="class-1">
			  <div class="panel-body stu-pic-container">
					<div class="pointer"
							 align="center">
						<div class="class-default-image"></div>
						<div>
							<h4>Class One</h4>
						</div>
					</div>
			  </div>
				<div class="panel-footer center">
					<span class="gray">
						<%= pluralize(@fs_class_one.count, "student") %>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default select-class-container" id="class-2">
			  <div class="panel-body stu-pic-container">
					<div class="pointer"
							 align="center">
						<div class="class-default-image"></div>
						<div>
							<h4>Class Two</h4>
						</div>
					</div>
			  </div>
				<div class="panel-footer center">
					<span class="gray">
						<%= pluralize(@fs_class_two.count, "students") %>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="awfs-step-2-container">
	<div class="pull-right">
		<%= button_tag class: "btn btn-success ", id: "select-stu-cont-btn" do %>
			<span class="valign-middle">Continue</span>
			<i class="fa fa-arrow-right fa-2x pull-right"></i>
		<% end %>
	</div>

	<h4>Step 2. Select student(s)</h4>

	<br>
	<br>

	<div class="panel panel-info lead" id="step-2-selected-container">
		<div class="panel-heading">
			Number selected: <span id="num-students-added">0</span>

			<div class="pull-right pointer hover" id="select-all">
				<i class="fa fa-list" aria-hidden="true"></i>
				<span>Select all</span>
			</div>
		</div>
		<div class="panel-body" id="selected-students"></div>
	</div>

	<div id="available-students"></div>
</div>

<div id="awfs-step-3-container">
	<div class="pull-right">
		<%= button_tag class: "btn btn-success ",
			id: "select-words-finish-btn" do %>
			<span class="valign-middle">Finish</span>
			<i class="fa fa-flag fa-2x pull-right"></i>
		<% end %>
	</div>

	<h4>Step 3. Select word(s)</h4>

	<br>
	<br>

	<div class="panel panel-info lead" id="teacher-words">
		<div class="panel-heading">
			Number selected: <span id="num-words-selected">0</span>
		</div>
		<div class="panel-body" id="selected-words"></div>
		<span class="hidden" id="selected-words-ids"></span>
	</div>

	<div id="search-form-container" class="well col-sm-8 col-sm-offset-2">
		<%= render "searches/form", display_button_for: "teacher" %>
	</div>

	<div class="clear"></div>

	<div class="search-results-container col-sm-8 col-sm-offset-2"></div>
</div>


<div id="awfs-review-container">
	<div class="pull-right">
		<%= button_tag class: "btn btn-info reload-page" do %>
			<i class="fa fa-refresh fa-2x pull-left"></i>
			<span class="valign-middle">Add more</span>
		<% end %>
	</div>

	<h4>Review</h4>

	<div class="clear"><br></div>

	<div id="awfs-suc-war-err-container">
		<div class="panel panel-success lead" id="successes-container">
			<div class="panel-heading pointer" data-toggle="collapse"
			data-target="#success-result" aria-expanded="false"
			aria-controls="success-result">
				<i class="fa fa-check-circle"></i>
				Successes
				<div class="pull-right">
					<span id="num-successes">0</span>/<span class="total">0</span>
				</div>
			</div>

			<div class="panel-body collapse" id="success-result"></div>
		</div>

		<div class="panel panel-warning lead" id="warnings-container">
			<div class="panel-heading pointer" data-toggle="collapse"
			data-target="#warning-result" aria-expanded="false"
			aria-controls="warning-result">
				<i class="fa fa-warning"></i>
				Alerts
				<div class="pull-right">
					<span id="num-warnings">0</span>/<span class="total">0</span>
				</div>
			</div>

			<div class="panel-body collapse" id="warning-result"></div>
		</div>

		<div class="panel panel-danger lead" id="errors-container">
			<div class="panel-heading pointer" data-toggle="collapse"
			data-target="#error-result" aria-expanded="false"
			aria-controls="error-result">
				<i class="fa fa-minus-circle"></i>
				Errors
				<div class="pull-right">
					<span id="num-errors">0</span>/<span class="total">0</span>
				</div>
			</div>

			<div class="panel-body collapse" id="error-result"></div>
		</div>
	</div>

	<%= render "shared/spinner" %>
</div>
