<% provide(:title, "Sections") %>
<% title "Organize all of your words in groups with Tags." %>
<% description "Organize all of your words in groups with Tags." %>
<% set_meta_tags keywords: "organize words group list notebook wordbook tags" %>

<h1 class="mb-5"><%= emoji "bookmark_tabs" %> Sections</h1>

<% if current_user.has_tags? %>
  <% @user_tags.each do |user_tag| %>
    <div class="notebook-row mb-3">
      <h1 class="display-5 mb-1">
          <%= user_tag.tag.name %>
      </h1>
      <% user_tag.user_words.includes(:word).uniq { |user_word| user_word.id }.each do |user_word| %>
        <%= play_funds_game(user_word.word.id) %>
        <p class="lead d-inline"><%= user_word.word.name %>&nbsp;</p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <span class="text-muted">
    <%= icon "info-circle" %>
    Hang tight - your teacher will organize the words in your Notebook soon.
  </span>
<% end %>
