<% provide(:title, @tag.name) %>
<% provide(:header, @tag.name) %>

<% if false %>
<div class="box-shadow-border zero-padding">
	<h4 class="overview-header">
    Game Zone
    <small>Tap to play with words belonging to this tag!</small>
  </h4>

  <div class="row" align="center">
    <% if incomplete_fundamentals_exist?(current_user, @tag) %>
      <div class="col-xs-4 data-url pointer fund-show-game-circle-containter"
           data-url="/fundamentals?word_id=<%= @rand_incomp_fund_word_id %>">
        <div class="fund-show-game-circle"></div>
        <span class="leksi-red">Fundamentals</span>
      </div>
    <% else %>
      <div class="col-xs-4 fund-show-game-circle-containter">
        <div class="fund-show-game-circle game-not-ready"></div>
        <span class="leksi-red game-not-ready">Fundamentals</span>
      </div>
    <% end %>

    <div class="col-xs-4 data-url jeop-show-game-circle-containter pointer"
         data-url="/jeopardy?word_id=<%= true %>">
      <div class="jeop-show-game-circle"></div>
      <span class="leksi-orange">Jeopardy</span>
    </div>

    <div class="col-xs-4 data-url free-show-game-circle-containter pointer"
         data-url="/freestyle?word_id=<%= true %>">
      <div class="free-show-game-circle"></div>
      <span class="leksi-green">Freestyle</span>
    </div>
  </div>
</div>
<% end %>

<div class="box-shadow-border">
  <div class="pull-right">
    <%=
      image_tag("myLeksi_black_filled_25.png",
        alt: "myTags", class: "img-responsive"
      )
    %>
  </div>
  <% if words_for(current_user, @tag).count > 0 %>
    <% words_for(current_user, @tag).each do |word| %>
      <div class="words-for-a-tag">
        <div class="tag col-xs-9">
          <div class="basic-black-link inline-block">
            <%=
              link_to word.name, word
            %>
          </div>
          <div class="word-on-tag-show-page inline-block pull-right">
            <%=
              render "words/remove_word_btn_tag_show_page",
              word: word, tag: @tag
            %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="clear"></div>
  <% else %>
    <div class="alert alert-warning">
        This tag doesn't have any words.
    </div>
  <% end %>
</div>
