<% provide(:title, "New Version") %>
<% provide(:header, "New Version") %>

<div class="well">
  <%= form_for(@version) do |f| %>
  <%= render 'shared/error_messages', object: @version %>

    <%= f.label :number, class: "sr-only" %>
    <%= f.text_field :number, class: "form-control", placeholder: "Number *"  %>

    <%= f.label :description, class: "sr-only" %>
    <%= f.text_area :description, class: "form-control", placeholder: "Description *"  %>

    <%= f.submit "Create version", class: "btn btn-secondary" %>
  <% end %>
</div>
