<table class="table table-bordered table-sm" id="linero-table">
	<thead>
		<tr class="bg-primary text-white">
			<th class="text-center">Meanings</th>
			<th class="text-center">Synonyms</th>
			<th class="text-center">Antonyms</th>
			<th class="text-center">Examples</th>
			<th class="text-center">Syllables</th>
		</tr>
	</thead>
	<tbody class="text-center">
		<%= render "games/jeopardy/linero_row", amount: 200 %>
		<%= render "games/jeopardy/linero_row", amount: 400 %>
		<%= render "games/jeopardy/linero_row", amount: 600 %>
		<%= render "games/jeopardy/linero_row", amount: 800 %>
		<%= render "games/jeopardy/linero_row", amount: 1000 %>
	</tbody>
</table>
