<h2 class="card-title">
	<% if controller?("my_leksi") && action?("index") %>
		<%= link_to word.name, "/myLeksi/#{word.id}" %>
	<% else %>
		<%= word.name %>
	<% end %>
	<audio src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/<%= word.name %>.mp3"
				 id="audio"
				 preload="auto">
	</audio>
	<small>
		<i class="fa fa-volume-up hover pointer text-primary"></i>
	</small>
	<br>
	<small class="text-muted">
		<u><%= word.part_of_speech %></u>
		<%= array_of(word, "definition").first %>
	</small>
</h2>
