<strong class="word-name-size">
	<% if params[:controller] == "my_leksi" && params[:action] == "index" %>
		<%= link_to word.name, "/myLeksi/#{word.id}" %>
	<% else %>
		<%= word.name %>
	<% end %>
</strong>
<% if word.phonetic_spelling %>
	<div>
		<span class="word-phonetic-spelling">
			<%= word.phonetic_spelling %>
		</span>
	</div>
<% end %>
<% if word.part_of_speech %>
	<div class="word-part-of-speech">
		<em><%= word.part_of_speech %></em>
	</div>
	<% end %>
<%= render "words/word_details", word: word %>
