<div class="panel panel-default word-of-knowledge-container">
	<div class="pull-right">
		<i class="fa fa-question-circle-o pointer fa-2x dark-gray"
			 data-toggle="modal"
			 data-target="#word-tree-of-knowledge-modal"></i>
	</div>
	<p>
		<strong>Word-Tree of Knowledge</strong>
	</p>
	<%= image_tag(
		"strength4_key.png",
		alt: "Still strong",
		title: "Still strong")
	%>
	&nbsp; Still strong
	<hr>
	<%= image_tag(
		"strength3_key.png",
		alt: "Pretty good",
		title: "Pretty good")
	%>
	&nbsp; Pretty good
	<hr>
	<%= image_tag(
		"strength2_key.png",
		alt: "Time to practice",
		title: "Time to practice")
	%>
	&nbsp; Time to practice
	<hr>
	<%= image_tag(
		"strength1_key.png",
		alt: "Overdue",
		title: "Overdue")
	%>
	&nbsp; Overdue
</div>
<div class="modal fade" id="word-tree-of-knowledge-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
					The Word-Tree of Knowledge
				</h4>
      </div>
      <div class="modal-body">
				<p>
					This shows how well you know a word; the more times you play our
					games, you grow your knowledge of the word.
				</p>
				<p>
					Your goal is to grow each word and earn the Apple Tree:
					<%= image_tag(
						"strength4.png",
						alt: "Gold Apple Tree",
						title: "Gold Apple Tree")
					%>
				</p>
				<p>
					We'll let you know when it's time to practice a word so you don't
					forget what it means and how to use it.
				</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
