<% provide(:title, @word.name) %>
<% provide(:header, @word.name) %>

<div class="pull-right">
  <%= render "words/remove_word_btn", word: @word %>
</div>

<%= render "words/word_details", word: @word %>

<% if logged_in? %>
  <br>

  <div class="leksi-red-border">
    <h4>Current Tags</h4>
    <% tags_for_a(@word).each do |source| %>
      <span class="basic-black-link">
        <%= link_to source.name, source %>
      </span>
      <br>
    <% end %>
    <% unless unused_tags(@word).first.nil? %>
      <h4>Add Tag(s)</h4>
      <%= form_for :word_source, url: word_source_path, method: :post do |f| %>
        <%= hidden_field_tag :word_name, @word.name %>
        <%= f.label :source_id, "Sources", class: "sr-only" %>
        <%=
          f.collection_select :source_id,
          unused_tags(@word), :id, :name,
          prompt: true
        %>
        <%= f.submit class: "btn btn-danger btn-sm", value: "add" %>
      <% end %>
    <% end %>
  </div>
<% end %>
