<%= form_for(@feedback) do |f| %>
  <%= render "shared/error_messages", object: @feedback %>
	<%= hidden_field_tag :kind, kind %>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <% if current_user.has_email_address? %>
    <br>
    <div class="alert alert-warning">
    	<p>
    	  It looks like you don't have an email address.
    	</p>
      <p>
        After sending your feedback, please tap "Edit" to add your email
        address. That way we can respond to you!
      </p>
    </div>
  <% end %>
  <%= f.button type: "submit", class: "form-control btn btn-info" do %>
    <i class="fa fa-send"></i>
    SEND
  <% end %>
<% end %>
