<% if word_groups.nil? %>
	<div class="alert alert-danger"><%= error %></div>
<% else %>
	<% word_groups.each do |name, words| %>
		<div class="card mb-3">
		  <h4 class="card-header">
				<%= name %>
				<small class="text-muted">
					<%= pluralize(words.count, "result") %>
				</small>
			</h4>
			<% words.each do |word| %>
				<% if word.has_photo? %>
					<%= image_tag word.photo, alt: "#{word.name}",
																	  class: "card-img-top"
					%>
				<% end %>
				<div class="card-body" data-word-id="<%= word.id %>">
					<h4 class="card-title">
						<%= render "words/pos_def", word: word %>
					</h4>
					<%= render "searches/results_options", word: word %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>
