<% if results.class == String %>
	<p class="lead leksi-red center"><%= results %></p>
<% else %>
	<% results.each_with_index do |word, index| %>
		<div class="word-partial">
			<div class="pull-right">
				<%= form_for :user_word, url: user_word_path, method: :post do |f| %>
					<%= hidden_field_tag :id, word.id %>

					<% if display_button == "guest" %>
						=)
					<% elsif display_button == "user" %>
						<% if logged_in? %>
							<%= render "searches/user_add", word: word %>
							<br>
							<br>
							<%= render "searches/user_play", word: word %>
						<% end %>
					<% elsif display_button == "teacher" %>
						<% if logged_in? %>
							<%= render "searches/teacher_select", word: word %>
						<% end %>
					<% end %>
				<% end %>
			</div>

			<div>
				<%= render "words/word", word: word %>
			</div>

			<div class="clear"></div>

			<hr>
		</div>
	<% end %>
<% end %>
