<% if results.class == String %>
	<p class="lead leksi-red center"><%= results %></p>
<% else %>
	<% results.each_with_index do |word, index| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<%= form_for :user_word, url: user_word_path, html: {
						id: "search-results" }, method: :post do |f| %>
						<%= hidden_field_tag :id, word.id %>

						<% if display_button == "guest" %>
							=)
						<% elsif display_button == "user" %>
							<% if logged_in? %>
								<%= render "searches/user_add", word: word %>
								&nbsp;
								&nbsp;
								<%= render "searches/user_play", word: word %>
							<% end %>
						<% elsif display_button == "teacher" %>
							<% if logged_in? %>
								<%= render "searches/teacher_select", word: word %>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<h4>
					<%= word.name %>

					<br>

					<small>
						<% if word.phonetic_spelling %>
							<span class="word-phonetic-spelling">
								<%= word.phonetic_spelling %>
							</span>
							&nbsp; &nbsp;
						<% end %>

						<% if word.part_of_speech %>
							<span class="word-part-of-speech">
								<em><%= word.part_of_speech %></em>
							</span>
						<% end %>
					</small>
				</h4>
			</div>
			<div class="panel-body">
				<%= render "words/word_details", word: word %>
			</div>
		</div>
	<% end %>
<% end %>
