<% if results.class == String %>
	<div class="alert alert-danger center"><%= results %></div>
<% else %>
	<% results.each_with_index do |word, index| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="pull-right">
					<%= form_for :user_word, url: user_word_path, html: {
						id: "search-results" }, method: :post do |f| %>
						<%= hidden_field_tag :id, word.id %>

						<% if display_button == "guest" %>
							=)
						<% elsif display_button == "user" %>
							<% if logged_in? %>
								<%= render "searches/user_add", word: word %>
								&nbsp;
								&nbsp;
								<%= render "searches/user_play", word: word %>
							<% end %>
						<% elsif display_button == "teacher" %>
							<% if logged_in? %>
								<%= render "searches/teacher_select", word: word %>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<strong class="word-name-size">
					<%= truncate(word.name, length: 10) %>
				</strong>
				<div>
					<% if word.phonetic_spelling %>
						<span class="word-phonetic-spelling">
							<%= word.phonetic_spelling %>
						</span>
					<% end %>

					<%= "|" if word.phonetic_spelling && word.part_of_speech %>

					<% if word.part_of_speech %>
						<span class="word-part-of-speech">
							<%= word.part_of_speech %>
						</span>
					<% end %>
				</div>
				<br>
				<%= render "words/word_details", word: word %>
			</div>
		</div>
	<% end %>
<% end %>
