<%= form_for :user_word,
	url: user_word_path,
	html: {
		id: "search-results"
	},
	method: :post do |f|
%>
	<%= hidden_field_tag :id, word.id %>

	<% if display_button == "guest" %>
		=)
	<% elsif display_button == "user" && logged_in? %>
		<div class="row center">
			<div class="col-xs-6">
				<%= render "searches/user_add", word: word %>
			</div>
			<div class="col-xs-6">
				<%= render "searches/user_play", word: word %>
			</div>
		</div>
	<% elsif display_button == "teacher" && logged_in? %>
			<%= render "searches/teacher_select", word: word %>
	<% end %>
<% end %>
