<% if word_groups.nil? %>
	<div class="alert alert-danger"><%= error %></div>
<% else %>
	<div class="card">
		<ul class="list-group list-group-flush">
			<% word_groups.each do |name, words| %>
				<% words.each do |word| %>
					<li class="list-group-item">
						<div>
							<% if word.has_photo? %>
								<%= image_tag word.photo, alt: "#{word.name}",
																					class: "rounded border border-secondary",
																					width: "100rem",
																					height: "100rem"
								%>
							<% end %>
						</div>
						<h4 class="card-title mt-3">
							<%= word.name %>
						</h4>
						<p class="card-text">
							<span class="text-muted"><%= word.part_of_speech %></span>
							<%= array_of(word, "definition").first %>
						</p>
						<div class="mt-3">
							<%= render "searches/results_options", word: word %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end %>
