<% provide(:title, "define") %>
<% provide(:header, "define") %>

<%= render "searches/form" %>

<% if @query %>
  <% if @search_results.class == String %>
    <p class="lead leksi-red center">
      <%= @search_results %>
    </p>
  <% else %>
    <% @search_results.each_with_index do |word, index| %>
      <div class="word_partial">
        <% if logged_in? %>
          <div class="pull-right">
            <%= form_for :user_word, url: user_word_path, method: :post do |f| %>
              <%= hidden_field_tag :word_to_be_added, word.name %>
              <% if Rails.env.test? %>
                <%= f.submit "add" %>
              <% else %>
                <% if current_user.already_has_word?(word) %>
                  <%= render "words/remove_word_btn", word: word %>
                <% else %>
                  <%=
                    image_submit_tag("add_black_32.png", class: "border-none")
                  %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <%= render "words/word", word: word %>
        <hr>
      </div>
    <% end %>
  <% end %>
<% end %>
