<% provide(:title, "define") %>
<% provide(:header, "define") %>

<%= render "searches/form" %>

<% if @query %>
  <% if @search_results.empty? %>
    <p class="lead">
      Sorry, we didn't find '<%= @query %>'. Try again!
    </p>
  <% else @search_results %>
    <% @search_results.each do |word| %>
    <div class="word_partial">
      <div class="pull-right">
        <%= form_for :user_word, url: user_word_path, method: :post do |f| %>
          <%= hidden_field_tag :word_to_be_added, word.name %>
          <%= f.submit class: "btn btn-default btn-sm", value: "add" %>
        <% end %>
      </div>
      <%= render "shared/word", word: word %>
    </div>
    <% end %>
  <% end %>
<% end %>
