<% provide(:title, "define") %>
<% provide(:header, "define") %>

<%= render "searches/form" %>

<% if @query %>
  <% if @search_results.empty? %>
    <p class="lead">
      Sorry, we didn't find '<%= @query %>'. Try again!
    </p>
  <% else @search_results %>
    <% @search_results.each_with_index do |word, index| %>
    <div class="word_partial">
      <div class="pull-right">
        <%= button_tag "add", class: "btn btn-default btn-sm add_word_btn",
          "data-toggle" => "collapse",
          "data-target" => "#word_#{index}",
          "aria-expanded" => "false",
          "aria-controls" => "word_#{index}",
          "type" => "button"
        %>
      </div>
      <%= render "shared/word", word: word %>
      <div class="collapse" id="word_<%= index %>">
        <div class="well">
          <%= form_for :user_word, url: user_word_path, method: :post do |f| %>
            <%= hidden_field_tag :word_to_be_added, word.name %>
            <%= f.label :source_id, "Sources" %>
            <%= f.collection_select :source_id,
                @current_user_sources, :id, :name, prompt: true
            %>
            <%= f.submit class: "btn btn-danger btn-sm", value: "add to myLeksi" %>
          <% end %>
        </div>
      </div>
      <hr>
    </div>
    <% end %>
  <% end %>
<% end %>
