<% provide(:title, "Add") %>
<% provide(:header, "Add") %>

<div
  class="btn-group btn-group-justified btn-group-margin"
  role="group"
  aria-label="..."
>
  <div class="btn-group center btn-custom-bootstrap-blue add-active look-up-word-btn" role="group">
    <div class="inline-block">
      <%= image_tag("search_white_32.png") %>
    </div>
		<div class="define-btn inline-block">
			Look up a word
		</div>
  </div>
  <div class="btn-group center btn-custom-bootstrap-blue choose-a-word-btn" role="group">
    <div class="inline-block">
      <%= image_tag("categories_bootstrap_blue_32.png", alt: "Categories") %>
    </div>
		<div class="define-btn active inline-block">
			Choose a word
		</div>
  </div>
</div>

<br>

<div class="col-sm-8 col-sm-offset-2 well add-look-up-word-container">
  <%= render "searches/form" %>
  <br>
  <div class="center basic-apple-blue-link">
    <small>
      powered by the
      <%= link_to "Macmillan Dictionary",
        "https://www.macmillandictionary.com", target: "_blank" %>
    </small>
  </div>
</div>

<br>

<div class="add-categories-container">
  <div class="col-sm-8 col-sm-offset-2 add-category-btn">
    <div class="pull-right">
      <%= image_tag("forward_black_25.png") %>
    </div>
    <div class="word-partial word-partial-myLeksi">
      <span class="basic-black-link">
        Entrepreneurship
      </span>
    </div>
    <hr>

    <div class="box-shadow-border">
      hello world
    </div>
  </div>

  <div class="col-sm-8 col-sm-offset-2 add-category-btn">
    <div class="pull-right">
      <%= image_tag("forward_black_25.png") %>
    </div>
    <div class="word-partial word-partial-myLeksi">
      <span class="basic-black-link">
        Entrepreneurship
      </span>
    </div>
    <hr>
  </div>
</div>


<div class="clear"></div>

<% if @query %>
  <% if @search_results.class == String %>
    <p class="lead leksi-red center">
      <%= @search_results %>
    </p>
  <% else %>
    <% @search_results.each_with_index do |word, index| %>
      <div class="word-partial col-sm-8 col-sm-offset-2">
        <% if logged_in? %>
          <div class="pull-right">
            <%= form_for :user_word, url: user_word_path, method: :post do |f| %>
              <%= hidden_field_tag :name, word.name %>
              <%= hidden_field_tag :definition, word.definition %>

              <% if Rails.env.test? %>
                <% if current_user.already_has_word?(word) %>
                  <%=
                    link_to "remove",
                    user_word_path(id: UserWord.find_by(
                      user: current_user,
                      word: word).id),
                    method: :delete
                  %>
                <% else %>
                  <%= f.submit "add" %>
                <% end %>
              <% else %>
                <% if current_user.already_has_word?(word) %>
                  <%= render "words/remove_word_btn_word_show_page", word: word %>
                <% else %>
                  <%=
                    image_submit_tag("add_black_32.png", class: "border-none")
                  %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="box-shadow-border">
          <%= render "words/word", word: word %>
        </div>

        <br>
      </div>
    <% end %>
  <% end %>
<% end %>
