<% provide(:title, "define") %>
<% provide(:header, "define") %>

<div class="well">
  <%= render "searches/form" %>
  <br>
  <div class="center basic-apple-blue-link">
    <small>
      powered by the
      <%= link_to "Macmillan Dictionary",
        "https://www.macmillandictionary.com", target: "_blank" %>
    </small>
  </div>
</div>

<% if @query %>
  <% if @search_results.class == String %>
    <p class="lead leksi-red center">
      <%= @search_results %>
    </p>
  <% else %>
    <% @search_results.each_with_index do |word, index| %>
      <div class="word-partial">
        <% if logged_in? %>
          <div class="pull-right">
            <%= form_for :user_word, url: user_word_path, method: :post do |f| %>
              <%= hidden_field_tag :name, word.name %>
              <%= hidden_field_tag :definition, word.definition %>
              <% if Rails.env.test? %>
                <% if current_user.already_has_word?(word) %>
                  <%=
                    link_to "remove",
                    user_word_path(id: UserWord.find_by(
                      user: current_user,
                      word: word).id),
                    method: :delete
                  %>
                <% else %>
                  <%= f.submit "add" %>
                <% end %>
              <% else %>
                <% if current_user.already_has_word?(word) %>
                  <%= render "words/remove_word_btn_word_show_page", word: word %>
                <% else %>
                  <%=
                    image_submit_tag("add_black_32.png", class: "border-none")
                  %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="box-shadow-border">
          <%= render "words/word", word: word %>
        </div>
        <br>
      </div>
    <% end %>
  <% end %>
<% end %>
