<% provide(:header, "Explore") %>

<% title "Leksi Dictionary" %>
<% description "Look up words you don\'t know or select ones from a specific list" %>
<% set_meta_tags keywords: "learn education vocabulary vocab research engage fun langauge literacy english language study dictionary words flashcards games list notebook" %>

<% set_meta_tags og: {
  title:    "Leksi Dictionary",
	description: "Look up words you don\'t know or select ones from a specific list"
} %>

<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and works.",
  title: "Leksi Dictionary",
  description: "Look up words you don\'t know or select ones from a specific list"
} %>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs float-xs-left">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#look-up" role="tab">
          <i class="fa fa-search"></i>
          Look Up
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#random" role="tab">
          <i class="fa fa-random"></i>
          Random
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#grades-k-2" role="tab">
          <i class="fa fa-institution"></i>
          Grades K-2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#grades-3-5" role="tab">
          <i class="fa fa-institution"></i>
          Grades 3-5
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#grades-6-8" role="tab">
          <i class="fa fa-institution"></i>
          Grades 6-8
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#grades-9-12" role="tab">
          <i class="fa fa-institution"></i>
          Grades 9-12
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#national-exams" role="tab">
          <i class="fa fa-folder-open"></i>
          National Exams
        </a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="look-up" role="tabpanel">
        <%= render "searches/form" %>
        <br>
        <div class="search-results-container"></div>
      </div>
      <div class="tab-pane" id="random" role="tabpanel">
        <div class="float-xs-right">
          <%= link_to search_path, remote: true do %>
            <i class="fa fa-refresh" id="random-search-btn"></i>
            New Word
          <% end %>
        </div>
        <div class="clear"></div>
        <div id="random-word">
          <div class="card">
            <div class="card-block">
              <%= render "words/basics", word: @random_word %>
              <%= render "searches/results_options", word: @random_word %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="grades-k-2" role="tabpanel">
        Words for K-2 are coming soon!
      </div>
      <div class="tab-pane fade" id="grades-3-5" role="tabpanel">
        Words for Grades 3-5 are coming soon!
      </div>
      <div class="tab-pane fade" id="grades-6-8" role="tabpanel">
        <div class="text-muted">
          Filter:
          <a href="#" class="disabled">6th Grade</a>
          |
          7th Grade
          |
          <a href="#" class="disabled">8th Grade</a>
          <div class="float-xs-right">
            <p>
              There are <%= pluralize(@seventh_grade_words.count, "word") %>.
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <%= render "words/seventh_grade", words: @seventh_grade_words %>
      </div>
      <div class="tab-pane fade" id="grades-9-12" role="tabpanel">
        Words for Grades 9-12 are coming soon!
      </div>
      <div class="tab-pane fade" id="grades-national-exams" role="tabpanel">
        Words for National Exams are coming soon!
      </div>
    </div>
  </div>
</div>
