<% provide(:header, "Look Up") %>

<% title "Leksi Dictionary" %>
<% description "Look up words you don\'t know or select ones from a specific list" %>
<% set_meta_tags keywords: "learn education vocabulary vocab research engage fun langauge literacy english language study dictionary words flashcards games list notebook" %>

<% set_meta_tags og: {
  title:    "Leksi Dictionary",
	description: "Look up words you don\'t know or select ones from a specific list"
} %>

<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and works.",
  title: "Leksi Dictionary",
  description: "Look up words you don\'t know or select ones from a specific list"
} %>

<div class="text-muted filter-div mb-3 card">
  <div class="card-block">
    Filter:
    <div class="btn-group pr-2">
      <%= link_to search_path, remote: true do %>
        <span class="text-primary active">
          <%= icon("search") %> Look Up
        </span>
      <% end %>
    </div>
    <div class="btn-group pr-2">
      <%= link_to searches_random_path, remote: true do %>
        <span class="text-primary active">
          <%= icon("random") %> Random
        </span>
      <% end %>
    </div>
    <div class="btn-group pr-2">
      <div class="dropdown show">
        <a class="dropdown-toggle disabled text-muted"
           href="#"
           id="dropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <%= icon("institution") %> Grades 1-4
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">1st Grade</a>
          <a class="dropdown-item" href="#">2nd Grade</a>
          <a class="dropdown-item" href="#">3rd Grade</a>
          <a class="dropdown-item" href="#">4th Grade</a>
        </div>
      </div>
    </div>
    <div class="btn-group pr-2">
      <div class="dropdown show">
        <a class="dropdown-toggle disabled text-muted"
           href="#"
           id="dropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <%= icon("institution") %> Grades 5-8
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">5th Grade</a>
          <a class="dropdown-item" href="#">6th Grade</a>
          <a class="dropdown-item" href="#">7th Grade</a>
          <a class="dropdown-item" href="#">8th Grade</a>
        </div>
      </div>
    </div>
    <div class="btn-group pr-2">
      <div class="dropdown show">
        <a class="dropdown-toggle disabled text-muted"
           href="#"
           id="dropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <%= icon("institution") %> Grades 9-12
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">9th Grade</a>
          <a class="dropdown-item" href="#">10th Grade</a>
          <a class="dropdown-item" href="#">11th Grade</a>
          <a class="dropdown-item" href="#">12th Grade</a>
        </div>
      </div>
    </div>
    <div class="btn-group pr-2">
      <div class="dropdown show">
        <a class="dropdown-toggle disabled text-muted"
           href="#"
           id="dropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <%= icon("folder") %> Exams
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">SAT</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search-container mb-5">
  <%= render "searches/form" %>
</div>
