<% title "Dictionary: Look up words or choose one randomly or from a list." %>
<% description "Explore and master words you don\'t know." %>
<% set_meta_tags keywords: "learn education vocabulary vocab research engage fun langauge literacy english language study dictionary words flashcards games list notebook" %>
<% set_meta_tags og: {
  title:    "Dictionary: Look up words or choose one randomly or from a list.",
	description: "Look up words you don\'t know or select ones from a specific list"
} %>
<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and works.",
  title: "Leksi Dictionary",
  description: "Look up words you don\'t know or select ones from a specific list"
} %>

<h1><%= icon("search") %> Explore</h1>
<div class="explore filter-div mb-3 card">
  <div class="card-block">
    <div class="btn-group pr-2">
      <%= link_to search_path, remote: true do %>
        <%= icon("book") %> Dictionary
      <% end %>
    </div>
    <div class="btn-group pr-2">
      <%= link_to searches_random_path, remote: true do %>
        <%= icon("random") %> Random Word
      <% end %>
    </div>
    <div class="btn-group pr-2">
      <div class="dropdown">
        <%= link_to "#", class: "dropdown-toggle",
                         id: "dropdownMenuLink",
                         "data-toggle": "dropdown",
                         "aria-haspopup": "true",
                         "aria-expanded": "false" do
        %>
          <%= icon("institution") %> Grades 1-8
        <% end %>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "1st Grade", search_grades_path(
              grade: "first_grade"
            ), class: "dropdown-item", remote: true
          %>
          <%= link_to "2nd Grade", search_grades_path(
              grade: "second_grade"
            ), class: "dropdown-item", remote: true
          %>
          <%= link_to "3rd Grade", search_grades_path(
              grade: "third_grade"
            ), class: "dropdown-item", remote: true
          %>
          <%= link_to "4th Grade", search_grades_path(
              grade: "fourth_grade"
            ), class: "dropdown-item", remote: true
          %>
          <%= link_to "5th Grade", search_grades_path(
              grade: "fifth_grade"
            ), class: "dropdown-item", remote: true
          %>
          <%= link_to "6th Grade", search_grades_path(
              grade: "sixth_grade"
            ), class: "dropdown-item", remote: true
          %>
          <%= link_to "7th Grade", search_grades_path(
              grade: "seventh_grade"
            ), class: "dropdown-item", remote: true
          %>
          <%= link_to "8th Grade", search_grades_path(
              grade: "eigth_grade"
            ), class: "dropdown-item", remote: true
          %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="search-container mb-5">
  <%= render "searches/form" %>
</div>
