<section class="guest-section-home spe-bee-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><i class="fa fa-users"></i> Students</h1>
      <%= render "static_pages/spelling_bee/question",
                 q: "How do I sign up?"
      %>
      <p>
        It's great to hear you want to compete in this spelling bee! To sign
        up, first tell your teacher about this spelling bee competition. Your
        teacher has to be the one to register your school and the students -
        hopefully including you! - who will then go at it to become the spelling
        champ for your grade.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "Where are the words that will be used?"
      %>
      <p>
        Each grade from one through eight has 50 spelling bee words. All of the
        words are grouped by their grade level:
        <%= link_to "click here to view and/or print the words.", "#" %>
        Also, after your teacher registers your school, you will be given
        information to log into Leksi so that
        you can easily learn and practice all of these words. After you log in,
        just go to the "<i class="fa fa-search"></i> Look Up" page and
        add the words from any grade to your personal word list. Then complete
        all of the activities for each word.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How can I practice my spelling?"
      %>
      <p>
        One way you can prepare for this spelling bee competition is by using
        Leksi, which is free. After your teacher registers your school,
        you should get information allowing you to log in and use Leksi.
        Once you have access to Leksi,
        you can easily learn and practice all of these words.
        Just go to the "<i class="fa fa-search"></i> Look Up" page and
        add the words from any grade to your personal word list. Then complete
        all of the activities for each word. The more time you put in, the
        better chances you'll have at winning. If you want to win, prove it.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What are some spelling tips and tricks?"
      %>
      <p>
        The
        <%= link_to "National Spelling Bee", "http://nationalspellingbee.com" %>
        has a great guide. Click the following link to check it out:
        <%= link_to "How to Study for a Speling Bee",
                    "http://spellingbee.com/sites/default/files/inline-files/How%20to%20Study%20for%20a%20Spelling%20Bee.pdf",
                    target: "_blank"
        %>.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "If I win, do I get anything?"
      %>
      <p>
        The winners for each grade level will receive trophies and prizes.
        All participants will receive medals for their effort and courage
        in preparing for and competing in this big event.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What if I have a question or comment?"
      %>
      <p>
        If you have any questions, comments, or concerns, please
        <%= link_to "contact us",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "stu"
        %>. You can also ask your teacher, who can likely help.
      </p>
    </div>
  </div>
</section>
