<section class="guest-section-home spe-bee-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4"><i class="fa fa-users"></i> Students</h1>
      <%= render "static_pages/spelling_bee/question",
                 q: "How do I sign up?"
      %>
      <p class="mb-4">
        To sign up, tell your teacher about this competition and to register
        on this website (www.harlemSpellingBee.com). Your
        teacher has to be the one to register your class/school by Friday,
        March 31st and then they will receive more information to get you
        going.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How do I win?"
      %>
      <div class="mb-4">
        <p>
          To win the Harlem Spelling Bee, you have to beat students in two
          rounds:
        </p>
        <ul>
          <li>
            <strong>Round One</strong> From April 3rd - April 27th, you will be
            preparing for your Local School Competition, which is an online exam
            that tests your spelling AND vocabulary. The two students who score
            the highest from each grade from each school will become Finalists.
          </li>
          <li>
            <strong>Round Two</strong> From May 5th - May 25th, Finalists will
            be preparing for the Main Event, which is the actual spelling bee on
            stage. To win, you have to be the last one(s) standing.
          </li>
        </ul>
      </div>
      <%= render "static_pages/spelling_bee/question",
                 q: "What words will be used?"
      %>
      <p class="mb-4">
        Each grade from one (1) through eight (8) has 75 spelling bee words,
        though not all of them will be used.
        <%#= link_to "Click here to view a sample of the words",
                    "#"
        %>All words are grouped by their grade level and the actual word list
        will be available when this competition officially starts on Monday,
        April 3rd, 2017.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How can I prepare for this competition?"
      %>
      <p class="mb-4">
        One way you can prepare for this spelling bee competition is by using
        Leksi, an online app that will help you improve your vocabulary and
        spelling. After your teacher registers your class/school,
        you will receive information allowing you to log in and use Leksi.
        Once you log in, you can learn and practice all of the words by
        completing both the vocabulary and spelling games. By completing
        all of the activities for each word and putting the time in to prepare,
        you'll have better chances at winning. If you want to win, prove it.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What are some spelling tips and tricks?"
      %>
      <p class="mb-4">
        The
        <%= link_to "National Spelling Bee", "http://nationalspellingbee.com" %>
        has a great guide. Click the following link to check out some spelling
        tips and tricks:
        <%= link_to "How to Study for a Spelling Bee",
                    "http://spellingbee.com/sites/default/files/inline-files/How%20to%20Study%20for%20a%20Spelling%20Bee.pdf",
                    target: "_blank"
        %>.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "If I win, do I get anything?"
      %>
      <p class="mb-4">
        The winners for each grade level will indeed receive prizes.
        All active participants will receive medals for their effort and courage
        in preparing for and competing in this big event.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What if I have a question or comment?"
      %>
      <p class="mb-4">
        If you have any questions, comments, or concerns, please
        <%= link_to "contact us",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "stu"
        %>. You can also ask your teacher, who can likely help.
      </p>
    </div>
  </div>
</section>
