<section class="guest-section-home spe-bee-section">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4">
        <i class="fa fa-user-circle"></i> Teachers
      </h1>
      <%= render "static_pages/spelling_bee/question",
                 q: "How do I register my school?"
      %>
      <p>
        To register your school,
        <%= link_to "click here to submit the registration form",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea-reg"
        %>
        by the deadline, which is Friday, March 31st. This ensures your
        school is on our official registration list.
        You'll then receive an email from us with further
        instructions/guides.
      </p>
      <p>
        Please note that because of potential space limitations for this event,
        registration and participation may be on a first-come, first-serve
        basis. We strongly encourage you to enroll as soon as you can.
        All schools that register, regardless if they're on the waiting
        list or not, will still receive full access to the Leksi application.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "Is this free?"
      %>
      <p>
        This is indeed free! If you haven't registered your
        school yet before the Friday, March 31st deadline,
        <%= link_to "please do so here",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea-reg"
        %>.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How many students from my school can compete?"
      %>
      <p>
        At every school, two (2) students will be selected from grades 1
        through 8 as Finalists to compete in the Main Event in May. To
        determine how students become Finalists, there will be Local School
        Competitions from Monday, April 24th - Friday, April 28th
        school. A "Local School Competition" is an online spelling and
        vocabulary assessment that will be available via Leksi.
        All students must complete this assessment at some point during the
        final week in April. The two students who score the highest from
        each grade are deemed "Finalists".
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "How can my students practice for this competition?"
      %>
      <p>
        One way your students can prepare for this spelling bee competition is
        by letting them and encouraging them to use the Leksi online app.
        Leksi is free for you and your students after you register your
        class/school.
        With an account, students can study any of the words on
        the spelling bee list and you, as the teacher, can support their
        learning via built-in tools made just for you.
        <%= link_to "Here\'s a guide to get started", "#" %>.
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What are the important dates to know?"
      %>
      <ul>
      	<li>
					<strong>
					  Monday, March 20th, 2017 - Friday, March 31st, 2017
					</strong>
					School Registration
				</li>
				<li>
					<strong>Monday, April 3rd, 2017</strong> Official start of the Harlem
					Spelling Bee. Also is when all students and teachers can begin to use
					Leksi
				</li>
				<li>
					<strong>Monday, April 24th, 2017 - Friday, April 28th, 2017</strong>
					Local School Competitions
				</li>
				<li>
					<strong>Monday, May 5th, 2017</strong> Announcement of Finalists
				</li>
				<li>
					<strong>Thursday, May 25th, 2017:</strong> The Main Event!
				</li>
      </ul>
      <p>
        If you would like calendar invites for the dates above,
        <%= link_to "please let us know",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea-cal"
        %>
      </p>
      <%= render "static_pages/spelling_bee/question",
                 q: "What if I have a question or comment?"
      %>
      <p>
        If you have any questions, comments, or concerns, please
        <%= link_to "contact us",
                    "#",
                    class: "spe-bee-contact-us",
                    "data-sub": "tea"
        %>.
      </p>
    </div>
  </div>
</section>
