<p>
	Hello Danelson,
</p>
<p>
	There's a new Freestyle response! Here it is:
</p>
<hr>
<p>
	<strong>From:</strong> (<%= current_user.id %>) <%= current_user.username %>
</p>
<p><strong>Email:</strong> <%= current_user.email %></p>
<p><strong>Response:</strong></p>
<div class="card">
	<div class="card-block">
		<h4 class="card-title"><%= @free.game.name %></h4>
		<p class="card-text"><%= @free.input %></p>
	</div>
	<div class="card-footer">
		Please verify their response and, if you can, provide feedback, which
		students eagerly look forward to.
	</div>
</div>
<hr>
<p>
	If you have any questions or comments, we're always here for you.
</p>
<p>
	Talk to you soon,
	<br>
	Team Leksi
</p>
