<div class="panel panel-default">
	<div class="panel-body tag-container"
			 data-tag-id="<%= tag.id %>"
			 data-tag-name="<%= tag.name %>">
		<strong class="word-name-size">
			<%= tag.name %>
		</strong>
		<div class="dark-gray">
			<%= pluralize(words_for(current_user, tag).count, "word") %>,
			<%= progress_for(current_user, tag) %>% mastered
		</div>
	</div>
</div>
