<div id="progress_bar_container">
	<div class="progress">
		<div class="progress-bar progress-bar-info"
				 role="progressbar" aria-valuenow="0"
				 aria-valuemin="<%= progress_for(current_user, tag) %>"
				 aria-valuemax="100"
				 style="width: <%= progress_for(current_user, tag) %>%">
				<span><%= progress_for(current_user, tag) %>%</span>
		</div>
	</div>
</div>

<div>
	<% if num_words_for_tag > 0 %>
		<% words_for(current_user, tag).each do |word| %>
			<span class="tag">
				<span class="basic-black-link">
					<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
					&nbsp;
					<%= link_to word.name, word %>
					&nbsp;
				</span>
				<span class="word-on-tag-show-page">
					<%= render "words/remove_word_btn_tag_show_page",
						word: word, tag: tag %>
				</span>
			</span>
		<% end %>
	<% else %>
		<div class="alert alert-warning">
				This tag doesn't have any words.
		</div>
	<% end %>

	<div class="clear"></div>
</div>

<br>
