<div class="card mb-3">
	<div class="card-block"
			 data-tag-id="<%= tag.id %>"
			 data-tag-name="<%= tag.name %>">
		<h4 class="card-title">
			<%= link_to tag.name, "/myTags/#{tag.id}" %>
			<br>
			<small class="text-muted">
				<i class="fa fa-book"></i>
				<%= words_for(current_user, tag).count %> Words
				<br>
				<i class="fa fa-line-chart"></i>
				<%= progress_for(current_user, tag) %>% Mastered
			</small>
		</h4>
	</div>
</div>
