<div class="col-sm-8 col-sm-offset-2">
	<div class="panel panel-default">
		<div class="panel-body tag-container center"
				 data-tag-id="<%= tag.id %>"
				 data-tag-name="<%= tag.name %>">
			<div class="pull-right">
				<%= link_to edit_tag_path(tag), class: "my_tags-edit-btn" do %>
					<i class="fa fa-edit gray"></i>
				<% end %>
				&nbsp;
				<%= render "tags/remove_tag_btn_tag_show_page", tag: tag %>
			</div>

			<h3>
				<%= tag.name.truncate(20) %>
				<br>
				<small>
					<%= pluralize(words_for(current_user, tag).count, "word") %>,
					<%= progress_for(current_user, tag) %>% mastered
				</small>
			</h3>

			<hr>

			<div class="lead">
				<% if tag_has_words?(current_user, tag) %>
					<% words_for(current_user, tag).each do |word| %>
						<span class="tag">
							<span class="basic-black-link">
								<%= link_to word.name, word %>
								&nbsp;
							</span>
							<span>
								<%= link_to user_word_tag_tag_show_page_path(
									word_id: word.id,
									tag_id: tag), class: "word-on-tag-show-page-remove-btn",
									method: :delete do %>
									<i class="fa fa-remove gray"></i>
								<% end %>
							</span>
						</span>
					<% end %>
				<% else %>
					<div class="alert alert-warning">
							This tag doesn't have any words.
					</div>
				<% end %>

				<div class="clear"></div>
			</div>

			<br>
		</div>

		<div class="panel-footer center">
			<div class="row">
				<% if incomplete_fundamentals_exist?(current_user, tag) %>
					<div class="col-xs-6 col-sm-3 data-url hover leksi-green
											tag-rand-fund"
							 data-activity="fund">
						<i class="fa fa-gamepad fa-2x"></i>
						<br>
						Fundamentals
					</div>
				<% else %>
					<div class="col-xs-6 col-sm-3 gray pointer">
						<%= render "shared/popover",
							title: "Why is this locked?",
							content: "This tag doesn't have words that are 0%
							mastered.",
							display_text: "Fundamentals" %>
					</div>
				<% end %>

				<% if enough_jeopardy_words_exist?(current_user, tag) %>
					<div class="col-xs-6 col-sm-3 data-url hover leksi-green
											tag-rand-jeop"
							 data-activity="jeop">
						<i class="fa fa-gamepad fa-2x"></i>
						<br>
						Jeopardy
					</div>
				<% else %>
					<div class="col-xs-6 col-sm-3 gray pointer">
						<%= render "shared/popover",
							title: "Why is this locked?",
							content: "This tag needs at least four words that are
							33% mastered.",
							display_text: "Jeopardy" %>
					</div>
				<% end %>

				<% if incomplete_freestyles_exist?(current_user, tag) %>
					<div class="col-xs-6 col-sm-3 data-url hover leksi-green
											tag-rand-free"
							 data-activity="free">
						<i class="fa fa-gamepad fa-2x"></i>
						<br>
						Freestyle
					</div>
				<% else %>
					<div class="col-xs-6 col-sm-3 gray pointer">
						<%= render "shared/popover",
							title: "Why is this locked?",
							content: "This tag doesn't have words at least
							66% mastered.",
							display_text: "Freestyle" %>
					</div>
				<% end %>

				<% if tag_has_words?(current_user, tag) %>
					<div class="col-xs-6 col-sm-3 hover leksi-green flashcards-btn
					pointer">
						<i class="fa fa-bolt fa-2x"></i>
						<br>
						Flashcards
					</div>
				<% else %>
					<div class="col-xs-6 col-sm-3 gray pointer">
						<%= render "shared/popover",
							title: "Why is this locked?",
							content: "This tag needs at least one word.",
							display_text: "Flashcards" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
