<div class="card mb-3">
	<div class="card-body">
		<h5 class="card-title">
			<%= icon "book" %> Words
		</h5>
		<div>
			<% if tag_has_words?(current_user, tag) %>
				<% words_for(current_user, tag).each do |word| %>
					<% user_word = UserWord.object(current_user, word) %>
					<div class="mb-3">
						<h2>
							<small>
								<%= link_to word.name, myLeksi_show_path(word) %>
							</small>
						</h2>
						<%= play_btn_small(user_word, user_word.word.id) %>
						<%= link_to user_word_tag_tag_show_page_path(
							word_id: word.id,
							tag_id: tag.id),
							class: "word-on-tag-show-page-remove-btn btn btn-outline-secondary",
							method: :delete do
						%>
							<%= icon "trash" %> Remove Word From Tag
						<% end %>
					</div>
				<% end %>
			<% else %>
				<small class="text-muted">None</small>
			<% end %>
		</div>
	</div>
</div>
