<% provide(:header, "Tags") %>
<% title "Organize all of your words in groups with Tags." %>
<% description "Organize all of your words in groups with Tags." %>
<% set_meta_tags keywords: "organize words group list notebook wordbook tags" %>

<div>
  <div class="text-muted float-right mb-3">
    <%= link_to new_tag_path,
                role: "button",
                class: "btn btn-primary btn-block" do
    %>
      <%= icon("plus-circle") %> Create New Tag
    <% end %>
  </div>
  <h1><%= icon "tags" %> Tags</h1>
</div>
<div class="clear"></div>
<% if current_user.has_tags? %>
  <div class="myTags card-columns">
    <% @current_user_tags.each do |tag| %>
      <%= render "my_tags/tag", tag: tag %>
    <% end %>
    <%= render "my_tags/untagged_words" %>
  </div>
<% else %>
  <%= render "my_tags/no_tags_guide", path: @tag, tag: @tag, btn_text: "Create" %>
<% end %>
