<% title "View details for your #{@tag.name} tag." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps students learn new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research organize dictionary words" %>

<h1>
	<%= icon "tag" %> <%= @tag.name %>
</h1>
<div class="card mb-3">
	<div class="card-body">
		<h5 class="card-title">
			Stats
		</h5>
		<%= icon "book" %> <%= pluralize(words_for(current_user, @tag).count, "word") %>
		<br>
		<%= icon "line-chart" %> <%= progress_for(current_user, @tag) %>% mastered
	</div>
</div>
<%= render "my_tags/words", tag: @tag %>
<div class="card text-center mb-3">
	<div class="card-body">
    <p class="text-muted">
      You added this tag <%= time_ago_in_words(@tag.created_at) %> ago.
    </p>
		<%= render "tags/remove_tag_btn_tag_show_page", tag: @tag %>
	</div>
</div>
