<div id="accordion" role="tablist" aria-multiselectable="true">
	<% word_groups.each do |name, words| %>
	  <div class="card">
	    <div class="card-header" role="tab" id="heading-word-<%= name %>">
	      <h5 class="mb-0">
	        <a data-toggle="collapse"
						 data-parent="#accordion"
						 href="#collapse-word-<%= name %>"
						 aria-expanded="true"
						 aria-controls="collapse-word-<%= name %>">
	          <%= name %>
	        </a>
	      </h5>
	    </div>
	    <div id="collapse-word-<%= name %>"
					 class="collapse"
					 role="tabpanel"
					 aria-labelledby="heading-word-<%= name %>">
				<% words.take(3).each do |word| %>
		      <div class="card-block">
						<h2 class="card-title">
							<%= render "words/pos_def", word: word %>
						</h2>
						<%= render "searches/results_options", word: word %>
		      </div>
				<% end %>
	    </div>
	  </div>
	<% end %>
</div>
