<h4 class="mb-3"><%= grade.split("_").map(&:capitalize).join(" ") %></h4>
<div class="card-columns">
	<% word_groups.each_with_index do |(name, words), i| %>
	  <div class="card">
			<% words.take(3).each do |word| %>
				<div class="card-block" data-word-id="<%= word.id %>">
					<h4 class="card-title">
						<%= name %>
					</h4>
					<h2 class="card-title">
						<%= render "words/pos_def", word: word %>
					</h2>
					<%= render "searches/results_options", word: word %>
				</div>
			<% end %>
	  </div>
	<% end %>
</div>
