<%= form_for [:school, word, e_non_e],
						 method: :post,
						 remote: true do |f|
%>
  <%= render "shared/error_messages", object: e_non_e %>
  <div class="form-group">
    <%= f.label :text, class: "form-control-label" %>
    <%= f.text_area :text, class: "form-control"
    %>
  </div>
  <div class="form-group">
    <%= f.label :answer, class: "form-control-label" %>
    <%= f.text_field :answer,
                     class: "form-control",
                     placeholder: "example OR non-example"
    %>
  </div>
  <div class="form-group">
    <%= f.label :feedback, class: "form-control-label" %>
    <%= f.text_area :feedback,
										rows: 4,
                    class: "form-control"
    %>
  </div>
  <%= f.button btn_text,
							 type: "button",
							 class: "btn btn-primary btn-block create-e-non-e-btn"
	%>
<% end %>
