<%= form_for [:school, word, e_non_e],
						 id: "new-school-example-non-example",
						 method: :post,
						 remote: true do |f|
%>
  <%= render "shared/error_messages", object: e_non_e %>
  <div class="form-group">
    <%= f.label :text,
                class: "sr-only form-control-label"
    %>
    <%= f.text_area :text,
                     class: "form-control",
                     placeholder: "Text"
    %>
  </div>
  <div class="form-group">
    <%= f.label :answer,
                class: "sr-only form-control-label"
    %>
    <%= f.text_field :answer,
                     class: "form-control",
                     placeholder: "Answer"
    %>
  </div>
  <div class="form-group">
    <%= f.label :feedback,
                class: "sr-only form-control-label"
    %>
    <%= f.text_area :feedback,
                     class: "form-control",
                     placeholder: "Feedback"
    %>
  </div>
  <%= f.button btn_text,
							 type: "button",
							 class: "btn btn-primary btn-block create-e-non-e-btn"
	%>
<% end %>
