<% provide(:title, "My Content: Example/Non-Examples") %>
<% provide(:header, "My Content: Example/Non-Examples") %>

<% if current_user.has_ex_non_exs? %>
	<table class="table table-sm table-bordered table-responsive">
		<thead>
			<tr>
				<th>ID</th>
				<th>Word</th>
				<th>Text</th>
				<th>Answer</th>
				<th>Feedback</th>
				<th>Updated</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @example_non_examples.each do |ex_non_ex| %>
				<tr>
					<th scope="row"><%= ex_non_ex.id %></th>
					<td><%= Word.find(ex_non_ex.word_id).name %></td>
					<td><%= ex_non_ex.text %></td>
					<td><%= ex_non_ex.answer %></td>
					<td><%= ex_non_ex.feedback %></td>
          <!-- TODO Either create helper method or better yet update DB/models -->
					<td><%= time_ago_in_words(ex_non_ex.updated_at) %> ago</td>
					<td>
						<%= link_to "Edit",
								edit_school_example_non_example_path(ex_non_ex),
								class: "btn btn-warning",
								title: "Edit this Example/Non-Example"
						%>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="alert alert-info" role="alert">
		You haven't created any Example/Non-Examples content yet.
	</div>
<% end %>
