<h1 class="mb-3">
  <%= icon "book" %> Freestyle Responses
  <small class="text-muted"><%= @freestyle_count %></small>
</h1>
<%= paginate @freestyles %>
<div class="table-responsive">
	<table class="table table-bordered">
		<th>Student</th>
		<th>Word</th>
		<th>Game</th>
		<td>Response</td>
		<td>Action</td>
		<td>Written</td>
		<td></td>
		<% @freestyles.each do |free| %>
			<tr>
				<td><%= free.user.username %></td>
				<td><%= free.word.name %></td>
				<td><%= free.game %></td>
				<td data-free-id="<%= free.id %>">
					<small><%= icon "quote-left" %></small>
					<%= highlight(truncate(free.input, length: 300), free.word.name) %>
					<small><%= icon "quote-right" %></small>
				</td>
				<td>
					<%= link_to freestyle_path(
							id: free.id,
							new_status: "redo"
						),
						role: "button",
						class: "btn btn-danger",
						method: :patch,
						remote: true do
					%>
						<%= icon "thumbs-down" %> Request Redo
					<% end %>
					<%= link_to freestyle_path(
							id: free.id,
							new_status: "pass"
						),
						role: "button",
						class: "btn btn-success",
						method: :patch,
						remote: true do
					%>
						<%= icon "thumbs-up" %> Pass
					<% end %>
				</td>
				<td><%= time_ago_in_words(free.created_at) %> ago</td>
				<td>
          <%= link_to admin_freestyle_path(free),
            role: "button",
            method: :delete, data: { confirm: "Are you sure?" },
            class: "btn btn-sm btn-secondary",
            method: :delete do
          %>
            <i class="fa fa-trash"></i>
            Delete
          <% end %>
        </td>
			</tr>
		<% end %>
	</table>
</div>
<%= paginate @freestyles %>
