<section>
  <%= render "spelling_bee/q_and_a/question",
             q: "What Benefits Does the Harlem Spelling Bee Bring?"
  %>
  <p class="mb-4">
    The Spelling Bee helps promote education within the Harlem Community. As
    literacy is a key part of a child’s future success, furthering education
    can help secure our local students’ futures. The Spelling Bee is a stepping
    stone onto a stronger Harlem community that is educated and economically
    sound.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "Why Should We Sponsor this Event?"
  %>
  <p class="mb-4">
    In addition to helping the Harlem community and influencing the lives of
    students, sponsoring the event helps strengthen your business' brand.
    For example, post on your social media or add to your marketing materials
    that you assisted with the Harlem Spelling Bee and helped make it possible.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "How Can We Help?"
  %>
  <p class="mb-4">
    Whether it be financial contributions,
    in-kind donations, or just offering man and woman power to help pass out
    flyers, you, as our sponsor, are a vital part of the Spelling Bee.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "Do You Have More Information on the Competition?"
  %>
  <p class="mb-4">
    We sure do! You can check out the
    <%= link_to "About the Bee",
                spelling_bee_about_path,
                title: "Learn more about the Harlem Spelling Bee."
    %>
    page for general info and our
    <%= link_to "Competition",
                spelling_bee_competition_path,
                title: "Learn more about the Harlem Spelling Bee Competition."
    %>
    page for the specifics on the upcoming Spelling Bee.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "I have a Question or Comment"
  %>
  <p class="mb-4">
    We love to hear from our sponsors. If you have questions, comments,
    requests, or concerns, please
    <%= link_to "contact us",
                spelling_bee_contact_us_path,
                title: "Submit our online form to contact us"
    %>.
  </p>
</section>
