<section class="guest-section-home spe-bee-section">
  <%= render "spelling_bee/q_and_a/question",
             q: "Why should we sponsor this event?"
  %>
  <p class="mb-4">
    This is the very first Harlem Spelling Bee, which promotes literacy
    and vocabulary development. We're excited about and focus on vocabulary
    because it's the biggest indicator of a student's success in and outside
    of the classroom. If we want a stronger Harlem community that's more
    educated and econimically sound, we believe vocabulary - and your
    support - will help get us there.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "How can we support?"
  %>
  <p class="mb-4">
    It's great to hear you'd like to be part of this special
    event. Because this is free for schools/students, your help - whether
    you provide in-kind donations, financial contributions, or just give
    out flyers - will go a long way. Please
    <%= link_to "submit the form below",
                "#",
                class: "spe-bee-contact-us",
                "data-sub": "spo-his"
    %> to get started.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "What if I have a question or comment?"
  %>
  <p class="mb-4">
    If you have any questions, comments, or concerns, please
    <%= link_to "contact us",
                "#",
                class: "spe-bee-contact-us",
                "data-sub": "spo"
    %>.
  </p>
</section>
