<section>
  <%= render "spelling_bee/q_and_a/question",
             q: "Can I Enroll An Entire Classroom Or School?"
  %>
  <p class="mb-4">
    Absolutely; complete the form down below to get started.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "How Do the Students Prepare?"
  %>
  <p class="mb-4">
    Students will use Leksi, an online application, to learn the
    words that will be used in the Preliminaries and Main Event competition.
    When a student is registered for the Bee, they will get a Leksi account
    comes with each registration free for your classroom while you prepare for
    the Spelling Bee.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "Where Are All The Competition Details?"
  %>
  <p class="mb-4">
    Check out all of the details by visiting the
    <%= link_to "Competition page",
                spelling_bee_competition_path,
                title: "Visit the Bee Competition page"
    %>.
    There you'll learn more about the Preliminaries, Main Event,
    registration, and more.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "I Have Another Question!"
  %>
  <p class="mb-4">
    We'd love to hear from you!
    If you have any questions, comments, or concerns, please
    <%= link_to "contact us",
                spelling_bee_contact_us_path
    %>!
    We'll get back to you as soon as possible.
  </p>
</section>
