<section>
  <%= render "spelling_bee/q_and_a/question",
             q: "Sounds great - what are the details?!"
  %>
  <p class="mb-4">
    To check out all of the details,
    <%= link_to "visit the Competition page",
                spelling_bee_competition_path,
                title: "Visit the Bee Competition page."
    %>
    where you
    can get the scoop on the 2nd Harlem Spelling Bee happening in November
    2017.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "Is this free?"
  %>
  <p class="mb-4">
    This is not free. The cost to register your school depends on when you
    enroll, as there are Early Bird, Regular, and Late registration periods.
  </p>
  <%= render "spelling_bee/q_and_a/question",
             q: "What if I have a question or comment?"
  %>
  <p class="mb-4">
    We'd love to hear from you;
    if you have any questions, comments, or concerns, please
    <%= link_to "contact us",
                spelling_bee_contact_us_path
    %>.
  </p>
</section>
