<% provide(:header, "Users (#{@user_count})") %>

<div>
  <div
    class="btn-group btn-group-justified btn-group-margin"
    role="group"
    aria-label="..."
  >
    <% if @filter == "latest" %>
      <div class="btn-group" role="group">
        <%= link_to "A-Z", admin_users_path, class: "btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to "Latest", admin_users_path(filter: "latest"),
          class: "btn btn-default active"
        %>
      </div>
    <% else %>
      <div class="btn-group" role="group">
        <%= link_to "A-Z", "#", class: "btn btn-default active" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to "Latest", admin_users_path(filter: "latest"),
          class: "btn btn-default"
        %>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<div class="clear"></div>
<div class="table-responsive">
  <table class="table basic-apple-blue-link table-bordered table-hover">
    <th>ID</th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Num Logins</th>
    <th>Last Login</th>
    <th>Joined</th>

    <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= link_to u.username, u %></td>
      <td><%= u.first_name || "-" %></td>
      <td><%= u.last_name || "-" %></td>
      <td><%= u.email || "-" %></td>
      <td><%= u.num_logins %></td>
      <td>
        <% if u.last_login.nil? %>
        -
        <% else %>
        <%= time_ago_in_words(u.last_login) %> ago</td>
        <% end %>
        <td><%= time_ago_in_words(u.created_at) %> ago</td>
      </tr>
      <% end %>
    </table>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
