<h1 class="mb-3">
  <%= icon "users" %> Users
  <small class="text-muted"><%= @user_count %></small>
</h1>
<div class="text-muted">
  Filter:
  <%= link_to admin_users_path(filter: "alpha") do %>
    <span class="text-primary active">
      <i class="fa fa-sort-alpha-asc"></i> Alphabetical
    </span>
  <% end %>
  |
  <%= link_to admin_users_path(filter: "latest") do %>
    <span>
      <i class="fa fa-sort-amount-desc"></i> Joined
    </span>
  <% end %>
  |
  <%= link_to admin_users_path(filter: "num_words") do %>
    <span>
      <i class="fa fa-sort-numeric-desc hover pointer"></i> Words
    </span>
  <% end %>
</div>
<div class="table-responsive mt-3">
  <%= paginate @users %>
  <table class="table table-bordered table-hover">
    <th>ID</th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Num Logins</th>
    <th>Last Login</th>
    <th>Joined</th>
    <th>Num Words</th>

    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= link_to u.username, user_path(u) %></td>
        <td><%= u.first_name || "-" %></td>
        <td><%= u.last_name || "-" %></td>
        <td><%= u.email || "-" %></td>
        <td><%= u.num_logins %></td>
        <td>
          <% if u.last_login.nil? %>
            -
          <% else %>
            <%= time_ago_in_words(u.last_login) %> ago
          <% end %>
        </td>
        <td><%= time_ago_in_words(u.created_at) %> ago</td>
        <td><%= u.num_words %></td>
      </tr>
    <% end %>
    </table>
</div>

<%= paginate @users %>
