<div class="card mb-3">
	<div class="card-body">
		<h4 class="card-title">
			<i class="fa fa-wrench"></i>
			Class Tools
		</h4>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= link_to new_school_word_path do %>
				<i class="fa fa-plus-circle fa-fw"></i> Create a word
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to school_student_words_path do %>
				<i class="fa fa-book fa-fw"></i> Add words for students
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to school_my_meaning_alts_path do %>
				<i class="fa fa-list-alt fa-fw"></i> View My Meaning Alternatives
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to new_school_meaning_alt_path do %>
				<i class="fa fa-plus-circle fa-fw"></i> Create Meaning Alternatives
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to new_school_example_non_example_path do %>
				<i class="fa fa-plus-circle fa-fw"></i> Create Example/Non-Examples
			<% end %>
		</li>
	</ul>
</div>
