<% provide(:title, "Content") %>
<% provide(:header, "Content") %>

<% if current_user.has_created_content? %>
	<table class="table table-sm table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Definition</th>
				<th>Phonetic Spelling</th>
				<th>Part of Speech</th>
				<th>Photo</th>
				<th>Decisions, Decisions</th>
				<th>Example/Non-Example</th>
				<th>Sentence Stems</th>
				<th>Describe Me, Describe Me Not</th>
				<th>Created</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @words.each do |word| %>
				<tr>
					<th scope="row"><%= word.id %></th>
					<td><%= word.name %></td>
					<td><%= word.definition %></td>
					<td><%= word.phonetic_spelling %></td>
					<td><%= word.part_of_speech %></td>
					<td><%= word.has_photo? %></td>
					<td><%= word.has_meaning_alts? %></td>
					<td><%= word.has_ex_non_exs? %></td>
					<td><%= word.has_sent_stems? %></td>
					<td><%= word.has_describe_mes? %></td>
					<td><%= time_ago_in_words(word.created_at) %></td>
					<td>Edit</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="alert alert-info" role="alert">
		You haven't created any word-related content yet.
	</div>
<% end %>
