<%= form_for [@version, @review] do |f| %>
  <%= render "shared/error_messages", object: @review %>
  <div>
    <%= f.label :rating, "Rating *" %>
    <%= f.select :rating, Review::RATINGS, prompt: true %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit "submit", class: "form-control" %>
<% end %>
