<%= form_for [word, @meaning_alt] do |f| %>
  <%= render "shared/error_messages", object: @meaning_alt %>
  <div class="form-group">
    <%= f.label :text, class: "form-control-label" %>
    <%= f.text_field :text, class: "form-control" %>
  </div>

  What about the word???
  <%= f.submit "submit" %>
<% end %>
