<% if review.has_description? %>
	<div class="box-shadow-border">
		<blockquote>
			<%= review.description %>
		</blockquote>

		<div class="pull-right">
			<small>
				<%= render "reviews/stars", rating: review.rating %>
				by <%= review.user.username %>
				<%= time_ago_in_words(review.created_at) %> ago
				for
				<span class="basic-black-link">
					<%=
						link_to "Version #{review.version.number}",
						version_path(review.version)
					%>
				</span>
			</small>
		</div>
		<div class="clear"></div>
	</div>
<% end %>
