<% title "Reviews (#{Version.total_average_rating}/5 stars)" %>
<% description "Read their reviews and why Leksi is their go-to vocab app." %>
<% set_meta_tags keywords: %w[versions releases reviews rating feedback app vocabulary words literacy learning games education vocab fun goal master] %>

<% set_meta_tags og: {
  title:    "Users worldwide have rated Leksi. #{Version.total_average_rating}/5.",
	description: "Read their reviews and why Leksi is their go-to vocab app."
} %>

<% set_meta_tags twitter: {
  card: "Read their reviews and why Leksi is their go-to vocab app.",
  title: "Users worldwide have rated Leksi. #{Version.total_average_rating}/5.",
  description: "Read their reviews and why Leksi is their go-to vocab app."
} %>

<%= render "static_pages/header", icon: "star", header: "Reviews" %>

<div class="col-sm-6 col-sm-offset-3">
  <br>

  <div class="lead">
    Current Version:
    <span class="apple-star-orange">
      <%= display_stars(latest_version.average_rating) %>
    </span>
    <%= pluralize(latest_version.number_of_reviews, "review") %>
    <br>
    All Versions:
    <span class="apple-star-orange">
      <%= display_stars(Version.total_average_rating) %>
    </span>
    <%= pluralize(Review.count, "review") %>
  </div>

  <hr>

  <% @reviews.each do |review| %>
    <%= render "reviews/review", review: review %>
  <% end %>
</div>
