<% if word_groups.class == String  %>
	<div class="alert alert-danger"><%= results %></div>
<% else %>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<% word_groups.each do |name, words| %>
				<% words.each do |word| %>
					<div class="card mb-3">
						<div class="card-block" data-word-id="<%= word.id %>">
							<%= render "words/basics", word: word %>
						</div>
						<% if object %>
							<div class="card-footer">
								<% if object.is_a?(MeaningAlt) %>
									<%= render "school/meaning_alts/form",
														 word: word,
														 m_a: object,
														 method: :post,
														 btn_text: "Create"
									%>
								<% elsif object.is_a?(ExampleNonExample) %>
									<%= render "school/example_non_examples/form",
														 word: word,
														 e_non_e: object,
														 btn_text: "Create"
									%>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
