<div class="clear"></div>

<div class="thin-footer-section center">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 center">
			<h3>
				Boost your vocabulary with Leksi.
			</h3>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 center
									data-url btn-custom-get-started gs-tracker"
					 id="get-started-btm-btn"
					 data-url="/get_started">
				Get started
			</div>
		</div>
	</div>

	<div class="clear"></div>

	<br>
	<br>

	<div class="basic-apple-blue-link">
		<%= link_to "About Us", about_us_path, title: "About Us" %> &nbsp;
		<%= link_to "Blog", blog_posts_path %> &nbsp;
		<%= link_to "Reviews", reviews_path %> &nbsp;
		<%#= link_to "Careers" %>
	</div>

  <br>
  <br>

	<%= link_to "https://www.facebook.com/LeksiEducation" do %>
		<i class="fa fa-facebook fa-3x"></i>
	<% end %>
	&nbsp;
	<%= link_to "https://twitter.com/leksieducation" do %>
		<i class="fa fa-twitter fa-3x"></i>
	<% end %>
	&nbsp;
	<%= mail_to "info@Leksi.education" do %>
		<i class="fa fa-envelope fa-3x"></i>
	<% end %>
	&nbsp;

	<%= render "static_pages/newsletter_modal" %>

	<br>
	<br>

  <p>
    &copy; <%= Date.today.year %>
		Leksi<sup><small class='white'>TM</small></sup> Education
  </p>

</div>
