<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Leksi - a simple-to-use, fun, and challenging way to build English vocabulary.">
  <meta name="author" content="Danelson Rosa">
  <meta name="keywords" content="vocabulary, vocabulary activities, english learning, dictionary, vocabulary words, vocabulary workshop">
  <meta name="google-site-verification" content="Google Analytics ID">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta property=”og:title” content=”Learning words is now more fun than crushing candy.” />
  <meta property=”og:url” content=”http://www.yourdomain.com” />
  <meta property=”og:type” content=”website” />
  <meta property=”og:description” content=”Leksi - a simple-to-use, fun, and challenging way to build English vocabulary.” />
  <meta property=”og:image” content=”http://www.yourdomain.com/image-name.jpg” />
  <meta name=”twitter:card” content=”Leksi - a simple-to-use, fun, and challenging way to build English vocabulary.” />
  <meta name=”twitter:title” content=”Learning words is now more fun than crushing candy.” />
  <meta name=”twitter:description” content=”Leksi - a simple-to-use, fun, and challenging way to build English vocabulary.” />
  <meta name=”twitter:url” content=”http://www.Leksi.education” />
  <meta name=”twitter:image” content=”http://www.Leksi.education /image-name.jpg” />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.min.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
