<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Leksi - a simple-to-use, fun, and challenging way to build your vocabulary.">
  <meta name="author" content="Leksi">
  <meta name="keywords" content="vocabulary, vocabulary activities, english learning, dictionary, vocabulary words, vocabulary workshop">
  <meta name="google-site-verification" content="Google Analytics ID">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta property="og:url" content="http://www.leksi.education" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Who knew learning words could be fun?" />
  <meta property="og:description" content="Leksi - a simple-to-use, fun, and challenging way to build your vocabulary." />
  <meta property="og:image" content="http://www.leksi.education/assets/leksi_icon-b9e55a4319648002aa9041474cda01359552c2681e781070b5cbb394e542c86a.png" />
  <meta name="twitter:card" content="Leksi - a simple-to-use, fun, and challenging way to build your vocabulary." />
  <meta name="twitter:title" content="Who knew learning words could be fun?" />
  <meta name="twitter:description" content="Leksi - a simple-to-use, fun, and challenging way to build your vocabulary." />
  <meta name="twitter:url" content="http://www.Leksi.education" />
  <meta name="twitter:image" content="http://www.leksi.education/assets/leksi_icon-b9e55a4319648002aa9041474cda01359552c2681e781070b5cbb394e542c86a.png" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.min.css' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
