<span class="pull-right header-buttons">
	<% if !logged_in? && params[:action] == "guest_home" %>
		<p class="remove-line-height">
			<%= link_to "Log in", login_path,
				class: "btn btn-default btn-sm apple-blue-button-unfilled" %>
			<%= link_to "Get for free", signup_path,
				class: "btn btn-default btn-sm apple-blue-button-filled" %>
		</p>
	<% end %>

	<% if params[:action] == "myTags" %>
		<%= link_to new_tag_path do %>
			<i class="fa fa-plus-circle white"></i>
		<% end %>

	<% elsif params[:controller] == "tags" && params[:action] == "show" %>
		<% if Rails.env.test? %>
				<%= link_to "edit tag", edit_tag_path(@tag) %>
		<% end %>
			<%= link_to edit_tag_path(@tag) do %>
				<i class="fa fa-cog white"></i>
			<% end %>

	<% elsif params[:controller] == "tags" && params[:action] == "edit" %>
		<%= render "tags/remove_tag_btn_tag_show_page", tag: @tag %>

	<% elsif params[:controller] == "versions" &&
					 params[:action] == "index" %>
		<%= link_to image_tag("add_black_32.png"), new_version_path %>

	<% elsif params[:controller] == "versions" &&
					 params[:action] == "show" %>
		<% if logged_in? && current_user.is_admin? %>
			<%= link_to image_tag("edit_black_32.png"), edit_version_path(@version) %>
		<% end %>

	<% elsif params[:controller] == "words" && params[:action] == "show" %>
		<%= render "words/remove_word_btn_word_show_page", word: @word %>

	<% elsif params[:controller] == "school/schools" &&
					 params[:action] == "students" %>
				<%= link_to school_words_path(filter: @class) do %>
					<span class="glyphicon glyphicon-book white"></span>
				<% end %>

	<% end %>
</span>
