<nav class="navbar navbar-light bg-faded">
  <div class="nav navbar-nav">
    <%= link_to root_path, class: "navbar-brand" do %>
			Leksi&#8482;
		<% end %>
    <% if action?("about_us") %>
      <%= link_to "About Us",
                  about_us_path,
                  class: "nav-item nav-link active"
      %>
    <% else %>
      <%= link_to "About Us", about_us_path, class: "nav-item nav-link" %>
    <% end %>
    <% if action?("research") %>
      <%= link_to "Research",
                  research_path,
                  class: "nav-item nav-link active"
      %>
    <% else %>
      <%= link_to "Research", research_path, class: "nav-item nav-link" %>
    <% end %>
    <%# if action?("our_approach") %>
      <%#= link_to "Our Approach",
                  our_approach_path,
                  class: "nav-item nav-link active"
      %>
    <%# else %>
      <%#= link_to "Our Approach",
                  our_approach_path,
                  class: "nav-item nav-link"
      %>
    <%# end %>
    <% if action?("results") %>
      <%= link_to "Results",
                  results_path,
                  class: "nav-item nav-link active"
      %>
    <% else %>
      <%= link_to "Results",
                  results_path,
                  class: "nav-item nav-link"
      %>
    <% end %>
  </div>
	<div class="text-xs-right">
		<%= link_to login_path, class: "btn btn-primary", role: "button" do %>
			<i class="fa fa-sign-in"></i> Log in
		<% end %>
	</div>
</nav>
