<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Leksi is an app that helps boost your vocabulary in a fun and simple way.">
  <meta name="author" content="Leksi">
  <meta name="keywords" content="learn, vocabulary, english, language, study, dictionary, words, flashcards, games">
  <meta name="google-site-verification" content="UA-55816562-1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta property="og:url" content="/www.leksi.education" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Leksi | Boost your vocabulary in a fun and simple way." />
  <meta property="og:description" content="Boost your vocabulary in a fun and simple way." />
  <meta property="og:image" content="https://www.leksi.education/assets/pup2-8928c81e06050f48bf7a0e71a3245545b64407b55eea3001c2e37c49ed906907.png" />
  <meta name="twitter:card" content="Learn vocabulary free, without ads or hidden charges. It's simple, fun, and based on evidence." />
  <meta name="twitter:title" content="Boost your vocabulary in a fun and simple way." />
  <meta name="twitter:description" content="Leksi is an app that helps boost your vocabulary in a fun and simple way." />
  <meta name="twitter:url" content="www.Leksi.education" />
  <meta name="twitter:image" content="https://www.leksi.education/assets/pup2-8928c81e06050f48bf7a0e71a3245545b64407b55eea3001c2e37c49ed906907.png" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.min.css' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
