<nav class="navbar navbar-light bg-faded">
  <div class="nav navbar-nav">
    <%= link_to root_path, class: "navbar-brand" do %>
			Leksi&#8482;
		<% end %>
		<% if params[:controller].include?("my_leksi") %>
			<%= link_to myLeksi_path, class: "nav-item nav-link active" do %>
				<i class="fa fa-book"></i> Words
			<% end %>
		<% else %>
			<%= link_to myLeksi_path, class: "nav-item nav-link" do %>
				<i class="fa fa-book"></i> Words
			<% end %>
		<% end %>

		<% if controllerIs?("my_tags") %>
			<%= link_to myTags_path, class: "nav-item nav-link active" do %>
				<i class="fa fa-tags"></i> Tags
			<% end %>
		<% else %>
			<%= link_to myTags_path, class: "nav-item nav-link" do %>
				<i class="fa fa-tags"></i> Tags
			<% end %>
		<% end %>

		<% if controllerIs?("users") && actionIs?("show") %>
			<%= link_to current_user, class: "nav-item nav-link active" do %>
				<i class="fa fa-line-chart"></i> Stats
			<% end %>
		<% else %>
			<%= link_to current_user, class: "nav-item nav-link" do %>
				<i class="fa fa-line-chart"></i> Stats
			<% end %>
		<% end %>

		<% if controllerIs?("searches") && actionIs?("search") %>
      <%= link_to search_path, class: "nav-item nav-link active" do %>
  			<i class="fa fa-search"></i> Explore
  		<% end %>
    <% else %>
      <%= link_to search_path, class: "nav-item nav-link" do %>
        <i class="fa fa-search"></i> Explore
      <% end %>
    <% end %>

		<% if actionIs?("menu") %>
			<%= link_to menu_path, class: "nav-item nav-link active" do %>
				<i class="fa fa-gear"></i> Settings
			<% end %>
		<% else %>
			<%= link_to menu_path, class: "nav-item nav-link" do %>
				<i class="fa fa-gear"></i> Settings
			<% end %>
		<% end %>
  </div>
</nav>

<%#= render "layouts/header_pull_left" %>
<%#= render "layouts/header_pull_right" %>

<%#= full_header(yield(:header).truncate(23)) %>
