<span class="pull-left pull-left-image">
	<% unless logged_in? %>
		<%= link_to image_tag("Leksi.png", class: "img-responsive"), root_path %>
	<% end %>

	<% if logged_in? %>
		<% if params[:controller] == "tags" && params[:action] == "new"	%>
			<%= link_to image_tag("back_black_32.png"), :back %>

		<% elsif params[:controller] == "games" %>
			<span id="game-exit-btn">
				<%= link_to image_tag("exit_black_32.png"), :back %>
			</span>
			<span id="game-home-btn">
				<%= link_to image_tag("home_dark_gray_32.png"), root_path %>
			</span>

		<% elsif params[:controller] == "words" && params[:action] == "show" %>
			<%= link_to image_tag("back_black_32.png"), myLeksi_path %>

		<% elsif params[:controller] == "tags" && params[:action] == "show" %>
			<%= link_to image_tag("back_black_32.png"), myTags_path %>

		<% elsif params[:controller] == "users" &&
						 params[:action] == "show" && current_user.is_teacher? %>
			<%= link_to image_tag("back_black_32.png"), users_path %>

		<% elsif params[:controller] == "school/schools" &&
						 params[:action] == "students" &&
						 current_user.is_teacher? %>
			<%= link_to image_tag("back_white_25.png"), school_classes_path %>

		<% elsif params[:controller] == "school/schools" &&
						 params[:action] == "words" &&
						 current_user.is_teacher? %>
			<%= link_to image_tag("back_white_25.png"), :back %>
		<% end %>
	<% end %>
</span>
