<div class="thin-footer-section center">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 center">
			<h3>
				Build your vocabulary with Leksi.
			</h3>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5
									btn-custom-get-started center">
				<%= link_to "Get started", signup_path %>
			</div>
		</div>
	</div>

	<div class="clear"></div>

	<br>
	<br>

	<div>
		<%= link_to "About" %> &nbsp;
		<%= link_to "Schools" %> &nbsp;
		<%= link_to "Reviews", reviews_path %> &nbsp;
		<%= link_to "Jobs" %>
	</div>

  <br>
	<%= link_to image_tag("facebook_white_filled_35.png"),
							"https://www.facebook.com/LeksiEducation" %>
	&nbsp;
	<%= link_to image_tag("twitter_white_filled_35.png"),
							"https://twitter.com/leksieducation" %>
	&nbsp;
	<%= mail_to "info@Leksi.education", raw(image_tag("email_white_filled_35.png")) %>
	&nbsp;
	<%= link_to image_tag("newsletter_white_filled_35.png") %>

	<br>
	<br>
	
  <p>
    &copy; 2015 Leksi <sup>TM</sup> Education
  </p>
</div>
