<div class="clear"></div>

<div class="thin-footer-section center">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 center">
			<h3>
				Boost your vocabulary with Leksi.
			</h3>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 center
									data-url btn-custom-get-started"
					 data-url="/get_started">
				Get started
			</div>
		</div>
	</div>

	<div class="clear"></div>

	<br>
	<br>

	<div class="basic-apple-blue-link">
		<%= link_to "About Us", about_us_path, title: "About Us" %> &nbsp;
		<%#= link_to "Schools" %> &nbsp;
		<%= link_to "Reviews", reviews_path %> &nbsp;
		<%#= link_to "Careers" %>
	</div>

  <br>
  <br>

	<%= link_to image_tag("facebook_white_filled_35.png"),
							"https://www.facebook.com/LeksiEducation" %>
	&nbsp;
	<%= link_to image_tag("twitter_white_filled_35.png"),
							"https://twitter.com/leksieducation" %>
	&nbsp;
	<%= mail_to "info@Leksi.education", raw(image_tag("email_white_filled_35.png")) %>
	&nbsp;

	<%= render "static_pages/newsletter_modal" %>

	<br>
	<br>

  <p>
    &copy; 2015 Leksi<sup><small class='white'>TM</small></sup> Education
  </p>

</div>
