<footer class="navbar navbar-default navbar-fixed-bottom navbar-footer" role="navigation">
  <br/>
  <div class="row">
    <div class="col-xs-3" align="center">
      <% if params[:action] == "words" %>
        <%=
          link_to_unless_current image_tag("myLeksi_red_32.png",
          alt: "myLeksi") + "<br/>myLeksi".html_safe, myLeksi_path,
          class: "img-responsive"
        %>
      <% else %>
        <%=
          link_to image_tag("myLeksi_black_32.png", alt: "myLeksi") +
          "<br/>myLeksi".html_safe, myLeksi_path,
          class: "img-responsive"
        %>
      <% end %>
    </div>

    <div class="col-xs-3" align="center">
      <% if params[:controller] == "searches" %>
        <%=
          link_to_unless_current image_tag("search_red_32.png", alt: "define") +
          "<br/>define".html_safe, search_path,
          class: "img-responsive"
        %>
      <% else %>
        <%=
          link_to image_tag("search_black_32.png", alt: "define") +
          "<br/>define".html_safe, search_path,
          class: "img-responsive"
        %>
      <% end %>
    </div>

    <div class="col-xs-3" align="center">
      <% if params[:action] == "tags" %>
        <%=
          link_to_unless_current image_tag("tag_red_32.png", alt: "myTags") +
          "<br/>myTags".html_safe, myTags_path,
          class: "img-responsive"
        %>
      <% else %>
        <%=
          link_to image_tag("tag_black_32.png", alt: "myTags") +
          "<br/>myTags".html_safe, myTags_path,
          class: "img-responsive"
        %>
      <% end %>
    </div>

    <div class="col-xs-3" align="center">
      <% if params[:action] == "menu" %>
        <%=
          link_to_unless_current image_tag("menu_red_32.png", alt: "Menu") +
          "<br/>menu".html_safe, menu_path,
          class: "img-responsive"
        %>
      <% else %>
        <%=
          link_to image_tag("menu_black_32.png", alt: "Menu") +
          "<br/>menu".html_safe, menu_path,
          class: "img-responsive"
        %>
      <% end %>
    </div>
  </div>
</footer>
