<footer class="navbar navbar-default navbar-fixed-bottom navbar-footer" role="navigation">
  <br>
  <div class="custom-footer">
    <div class="inline-block">
      <% if params[:action] == "home" %>
        <i class="fa fa-home fa-3x"></i>
        <br>
        Home
  		<% else %>
        <%= link_to home_path do %>
          <i class="fa fa-home fa-3x"></i>
          <br>
          Home
        <% end %>
  		<% end %>
    </div>

    <div class="inline-block">
      <% if params[:action] == "myLeksi" %>
        <i class="fa fa-book fa-3x"></i>
        <br>
        myLeksi
  		<% else %>
        <%= link_to myLeksi_path do %>
          <i class="fa fa-book fa-3x"></i>
          <br>
          myLeksi
        <% end %>
  		<% end %>
    </div>

    <div class="inline-block">
      <% if params[:controller] == "searches" %>
        <i class="fa fa-search-plus fa-3x"></i>
        <br>
        Add
  		<% else %>
  			<%= link_to search_path do %>
          <i class="fa fa-search-plus fa-3x"></i>
          <br>
          Add
  			<% end %>
  		<% end %>
    </div>

    <div class="inline-block">
      <% if params[:action] == "myTags" %>
        <i class="fa fa-tags fa-3x"></i>
        <br>
        Tags
  		<% else %>
        <%= link_to myTags_path do %>
          <i class="fa fa-tags fa-3x"></i>
          <br>
          Tags
        <% end %>
  		<% end %>
    </div>

    <div class="inline-block">
      <% if params[:action] == "menu" %>
  			<i class="fa fa-bars fa-3x"></i>
        <br>
        Menu
  		<% else %>
        <%= link_to menu_path do %>
          <i class="fa fa-bars fa-3x"></i>
          <br>
          Menu
        <% end %>
  		<% end %>
    </div>
  </div>
</footer>
