<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/logged_in_header" %>
    <div class="container">
      <%= render "shared/flash_messages" %>
      <%= yield %>
      <% if logged_in? %>
        <%= render "layouts/logged_in_footer" %>
      <% end %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <% unless logged_in? %>
      <%= render "layouts/logged_out_footer" %>
    <% end %>
    <%#= render "shared/google_analytics" %>
  </body>
</html>
