<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

<% if params[:controller] == "games" %>
  <body class="games-body-padding">
<% else %>
  <body>
<% end %>
    <%= render "sessions/facebook_sdk" %>

    <% unless params[:controller] == "games" %>
      <%= render "layouts/header_logged_in" %>
    <% end %>

    <div class="container">
      <%= render "shared/flash_messages" %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render "shared/google_analytics" %>
    <%= render "shared/script_src" %>
  </body>
</html>
