<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body class="body-spacing">
    <%= render "sessions/facebook_sdk" %>

    <div id="sb-site">
      <div>
        <%= render "shared/flash_messages" %>

        <%= yield %>

        <% unless page_is_landing_page? %>
          <%= debug(params) if Rails.env.development? %>
        <% end %>
      </div>

      <%= render "layouts/footer_guest" unless page_is_landing_page? %>
    </div>

    <%= render "layouts/header_logged_out" unless page_is_landing_page? %>

    <div class="sb-slidebar sb-right lead">
      <a class="list-group-item" href="/about_us">
      	<i class="fa fa-smile-o fa-fw"></i>&nbsp; About Us
      </a>

      <a class="list-group-item" href="/blog">
      	<i class="fa fa-newspaper-o fa-fw"></i>&nbsp; Blog
      </a>

      <a class="list-group-item" href="/reviews">
      	<i class="fa fa-star fa-fw"></i>&nbsp; Reviews
      </a>
    </div>

    <%= render "shared/slidebars" %>

    <%= render "shared/google_analytics" %>

    <%= render "shared/script_src" %>

  </body>
</html>
