<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

<% if params[:controller] == "games" %>
  <body class="games-body-padding">
<% else %>
  <body class="padding-top body-brainiac">
<% end %>
    <%= render "sessions/facebook_sdk" %>

    <% if logged_in? %>
      <% unless params[:controller] == "games" %>
        <%= render "layouts/header_logged_in" %>
      <% end %>
    <% else %>
      <%= render "layouts/header_logged_out" %>
    <% end %>

    <div class="container">
      <%= render "shared/flash_messages" %>

      <%= yield %>

      <% if logged_in? %>
        <%= render "layouts/footer_user" %>
      <% end %>

      <%= debug(params) if Rails.env.development? %>
    </div>

    <%= render "shared/google_analytics" %>

    <%= render "shared/script_src" %>
  </body>
</html>
