<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body class="body-spacing">
    <%= render "sessions/facebook_sdk" %>

    <div>
      <%= render "shared/flash_messages" %>
      <%= yield %>
      <% if logged_in? %>
        <% unless params[:controller] == "games" %>
          <%= render "layouts/logged_in_footer" %>
        <% end %>
      <% end %>
    </div>

    <%= render "shared/google_analytics" %>
    <%= render "shared/script_src" %>
  </body>
</html>
